extends ../libs/jade/layout-clean

block title
  | 画山成岳

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
  //- link(rel="stylesheet",href="//image.giccoo.com/projects/libs/font/Interstate Regular.css")
  //- link(rel="stylesheet",href="/libs/font/YRDZST-Heavy.css")
  //- link(rel="stylesheet",href="css/yrd-Medium.css")
  link(rel="stylesheet",href="css/base.css")

  //- script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();

  //- script(src="//image.giccoo.com/projects/libs/js/min/vconsole.min.js")
  //- script.
    var vConsole = new VConsole();
    console.log('VConsole open');
  

block content
  //- url = "//image.giccoo.com/projects/starbucks";
  - url = ".";
  //- .qrcode#qrcode
    .qr
      img(src="#{url}/img/qrcode.png")
      .text 请使用手机扫描二维码参与活动
  //- .public#public
    player(icon="true",src="#{url}/mp3/bgm.mp3")
    //- .player(:class="{play: playing, pause: !playing}",@click="playing = !playing")
      .icon-play(:class="{play: playing, pause: !playing}")
    //- transition(name="page-fade")
      .note-text(v-show="note")
        p 建议打开手机声音<br/>获得更好体验效果

  .load#load
    .content#loading(v-show="mounted",style="display: none")
      p.centeralign Loading..{{progress}}%
  
  .main#main(v-show="mounted",:class="{biger: biger, smaller:smaller}",:style="{width: w+'px',height: h+'px'}",style="display: none")
    transition(name="page-down")
      .note-message(v-show="noteShow",@click="noteShow = false")
        .note-text {{noteText}}

    transition(name="page-fade")
      .loading-page(v-show="loading")
        .ball-spin-fade-loader
          div
          div
          div
          div
          div
          div
          div
          div

    transition(name="page-zoom")
      .page.page-1(v-show="pageIndex == 1")
        .content
          .text-1.fadeInDown.animated.delay-6
            img(src="#{url}/img/logo.png")
          .text-2.fadeInDown.animated.delay-7
            img(src="#{url}/img/homepage-text.png")
          .text-4.fadeInDown.animated.delay-8
            img(src="#{url}/img/homepage-text-1.png")
          .text-5.fadeInDown.animated.delay-9
            img(src="#{url}/img/homepage-text-2.png")
          .text-6.fadeInDown.animated.delay-10(@click="goNext")
            img(src="#{url}/img/homepage-text-3.png")
          .box.fadeInDown.animated.delay-11
            img(src="#{url}/img/homepage-car.png")
            .text-3
              img(src="#{url}/img/homepage-cd.png")
            .slider
              .slide
                transition(name="page-zoom")
                  .item(v-show="carIndex == 1")
                    img(src="#{url}/img/car-1.jpg")
                transition(name="page-zoom")
                  .item(v-show="carIndex == 2")
                    img(src="#{url}/img/car-2.jpg")
          .logo-down.fadeInDown.animated.delay-13
            img(src="#{url}/img/logo-down.png")

    transition(name="page-fade")
      .page.page-2(v-show="pageIndex == 2",:class="{blur: formBoxShow}")
        .content
          //- .logo
            img(src="#{url}/img/logo.png")
          #ugc

    transition(name="page-fade")
      .page.page-3(v-show="pageIndex == 3")
        .content(:class="'index-'+carIndex")
          .title.fadeInDown.animated.delay-5
            img(src="#{url}/img/waitpage-title.png")
          .nickname.fadeInDown.animated.delay-7
            input(type="text",v-model="nickname",placeholder="请输入您的昵称_")
            .btn-start(@click="goShow")
              img(src="#{url}/img/btn-start.png")

    transition(name="page-fade")
      .page.page-cover(v-show="formShow")
        .content
          .form-box(:class="{on: formBoxShow}")
            .btns
              .btn.btn-form(@click="formBoxShow = !formBoxShow")
                img(src="#{url}/img/btn-form.png")
              .btn.btn-share(@click="share")
                img(src="#{url}/img/btn-share.png")
            .form-content
              .mobile
                input#mobile(type="number",v-model="mobile",placeholder="请输入您的电话，预约试驾_",@focus="focusEvt",@blur="blurEvt")
                .btn-start(@click="goSubmit")
                  img(src="#{url}/img/btn-start.png")
          .btn-web(@click="goWeb")
            img(src="#{url}/img/btn-web.png")
          .goNormal(@click="formBoxShow = false")

    //- transition(name="page-fade")
    .pop.flashcamera(v-show="ugcShow")
      .content
        .small-size
          .close(@click="ugcShow = false")
            img(src="#{url}/img/icon-close.png")
          img(:src="ugc")
          .note 长按保存图片


block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.3.2.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/fastclick.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/pixi-sound.js")
  script(src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/qrcode.min.js")
  script(src="//image.giccoo.com/projects/genki/js/music-jssdk-1.0.5.js")
  script(src="//image.giccoo.com/projects/genki/js/ntes.id.js")
  //- script(src="/libs/js/min/bump-min.js")
  script(src="js/public_funciton.js")
  script(src="js/build.js?v=1")
  script(src="js/main.js?v=1")
  script(src="js/ani.js?v=1")

  



  
