extends ../libs/jade/layout-clean

block title
  | 定制你的花样音乐告白

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  link(rel="stylesheet",href="//image.giccoo.com/projects/libs/css/animate.min.css")
  link(rel="stylesheet",href="css/yrdzst-Bold.css")
  //- link(rel="stylesheet",href="/libs/font/YRDZST-Heavy.css")
  //- link(rel="stylesheet",href="css/yrd-Medium.css")
  link(rel="stylesheet",href="css/base.css")
    
  //- script(async src="https://www.googletagmanager.com/gtag/js?id=UA-66865226-1")
  //- script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-66865226-1');
  script(src="//image.giccoo.com/projects/libs/js/min/vconsole.min.js")
  script.
    var vConsole = new VConsole();
    console.log('VConsole open');
  

block content
  // - url = "//image.giccoo.com/projects/YearOfThePig";
  - url = ".";
  //- .qrcode#qrcode
    .qr
      img(src="#{url}/img/qrcode.png")
      .text 请使用手机扫描二维码参与活动
  //- .public#public
    player(icon="true",loop="true",src="#{url}/mp3/bgm.mp3")
    //- .player(:class="{play: playing, pause: !playing}",@click="playing = !playing")
      .icon-play(:class="{play: playing, pause: !playing}")
    //- transition(name="page-fade")
      .note-text(v-show="note")
        p 建议打开手机声音<br/>获得更好体验效果
  #myDiv

  .load#load
    .content#loading(v-show="mounted",style="display: none")
      .bottle
        img(src="#{url}/img/bottle-empty.png")
        .water(:style="{bottom: (110-progress)*(-70)/100+'%'}")
          img(src="#{url}/img/bottle-water.png")
      .load-text
        p.centeralign.font Loading...{{progress}}%
  
  .main#main(:class="{biger: biger, smaller:smaller}",:style="{width: w+'px',height: h+'px'}")
    //- transition(name="page-fade")
      .play(:class="{on: canPlay}",@click="mute")
        .icon-play
          img(src="#{url}/img/icon-play.png")
        .icon-stop
          img(src="#{url}/img/icon-stop.png")
    transition(name="page-down")
      .note-message(v-show="noteShow",@click="noteShow = false",:class="{error: noteType}",style="display: none")
        .note-text {{noteText}}

    transition(name="page-fade")
      .loading-page(v-show="loading",style="display: none")
        .ball-spin-fade-loader
          div
          div
          div
          div
          div
          div
          div
          div

    transition(name="page-fade")
      .page.page-1(v-show="pageIndex == 1")
        .content
          #ugc

    transition(name="page-fade")
      .page.page-2(v-show="pageIndex == 2")
        .content

    transition(name="page-zoom")
      .pop.pop-note(v-show="registerShow",style="display: none")
        .content
          .textbox
            .edit(v-show="edit")
              .texts
                .text
                  textarea(v-model="text",v-reset-input,@focus="focusArea",@blur="blurArea")
                  p.music-name 
                    span ————
                    |《{{messagelist[messageIndex].name}}》
              .close(@click="edit = false")
                img(src="#{url}/img/icon-close.png")
            .messages(v-show="!edit",@click="editMessage",@touchstart="hideNote")
              transition(name="page-fade")
                //-(v-show="messageNote")
                .note
                  img(src="#{url}/img/note-1.png")
              .left(@click="moveLeft(0)")
                img(src="#{url}/img/arrow.png")
              .right(@click="moveRight(0)")
                img(src="#{url}/img/arrow.png")
              slider.texts(@number="numberChange")
                .text(v-for="item in messagelist")
                  p.messagecontent(v-html="toBr(item.text)")
                  p.music-name 
                    span ————
                    |《{{item.name}}》
                
              //- .texts
                .text-move
                  .text
                    p 咖啡加奶糖的声音，<br/>有恋爱的味道，<br/>你是咖啡，<br/>我就是奶糖！
                    p.music-name 
                      span ————
                      |《只对你有感觉》
                  .text
                    p 咖啡加奶糖的声音，<br/>有恋爱的味道，<br/>你是咖啡，<br/>我就是奶糖！
                    p.music-name 
                      span ————
                      |《只对你有感觉》
            .name
              span.font FROM:
              input(type="text",v-reset-input,v-model="nickname",placeholder="填写你的名字")
            .btn-gb(@click="goNext")
              img(src="#{url}/img/btn-gb.png")

    transition(name="page-fade")
      .pop.pop-question(v-show="lotteryShow",style="display: none")
        .content
          .question
            .note 密码提示：
            .box
              .left(@click="moveLeft(1)")
                  img(src="#{url}/img/arrow.png")
              .right(@click="moveRight(1)")
                img(src="#{url}/img/arrow.png")
              slider.texts(@number="numberChange2")
                .text(v-for="item in questionlist")
                  p {{item.q}}
            .note 输入答案：
            .group
              input(type="text",v-reset-input,v-model="question",:placeholder="'例如:'+questionlist[questionIndex].p")
            .btn-submit(@click="submit")
              img(src="#{url}/img/btn-submit.png")

    transition(name="page-fade")
      .pop.pop-question.pop-answer(v-show="questionPageShow",style="display: none")
        .content
          .question
            .note 密码提示：
            .box
              .texts
                .text
                  p {{getData.question}}
            .note 输入答案：
            .group
              input(type="text",v-reset-input,v-model="answer",placeholder="例如：2000年2月14日")
            .btn-submit(@click="checkAnswer")
              img(src="#{url}/img/btn-answer.png")
          
    .pop.flashcamera(v-show="ugcShow",style="display: none")
      .content
        .small-size
          .close(@click="closeUGC")
            img(src="#{url}/img/icon-close.png")
          .scroll
            img(:src="ugc")
          .note 长按保存图片
block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.3.2.js")
  script(src="//image.giccoo.com/projects/libs/js/min/qrcode.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/PreloadJS/1.0.1/preloadjs.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.7/pixi.min.js")
  script(src="js/main.js?v=1")



  



  
