select-list
	- var images = "http://disk.giccoo.com/projects/huaweiG7/img"
	//- - var images = "img"
	.logo
		img(src="#{images}/logo.png")
	.phone
		img(src="#{images}/phone.png")
	.cup-select(show="{pageCup}",class="fadeIn animated")
		.notetitle 左右滑动，来杯酒，<br/>测试下您的性格类型？
		.sliders
			slider(callback="{sliderFun}")
				.slide(each="{cocktail in parent.cocktails}")
					.cup
						img(src="{cocktail.thumb}")
						span.winename {cocktail.name}
			.left
			.right
		.select(onclick="{selectCup}")
			img(src="#{images}/select-btn.png")
	.pop(show="{pagePop}",class="bounceInDown animated")
		.bg
			img(src="#{images}/pop-bg.png")
			.answer
				img(src="{cocktails[n].answer}")
			.btn-video(onclick="{showVideos}")
				img(src="#{images}/btn-video.png")
		.share-btn.delay-10.fadeIn.animated(onclick="{showShare}")
			img(src="#{images}/btn-share.png")
	.videos(show="{pageVideos}",class="fadeIn animated")
		.video-screen
			video(if="{pageVideos}",controls="true",src="#{images}/1.mp4",width="620",height="340",poster="#{images}/video-thum.jpg",webkit-playsinline)
		.video-list
		.back-home(onclick="{backHome}")
			img(src="#{images}/back-home.png")

	.share-note(show="{pageShare}",onclick="{hideShare}",class="fadeIn animated")
		img(src="/libs/img/wechat.png")
	script.
		var self = this
		this.pageCup = true
		this.pagePop = false
		this.pageVideos = false
		this.pageShare = false
		this.n = 0
		this.cocktails = [
			{name:"血腥玛丽",thumb:"#{images}/cup-1.png",answer:"#{images}/answer-1.png",shareText:"一杯血腥玛丽竟然暴露了我的性格，你也来一杯？"},
			{name:"玛格丽特",thumb:"#{images}/cup-2.png",answer:"#{images}/answer-2.png",shareText:"此时你也在喝一杯马特利特，在想Ta吗？"},
			{name:"红葡萄酒",thumb:"#{images}/cup-3.png",answer:"#{images}/answer-3.png",shareText:"红葡萄变身性格分析师，敢来续杯么？"},
			{name:"干马提尼",thumb:"#{images}/cup-4.png",answer:"#{images}/answer-4.png",shareText:"一杯酒，一种性格，你相信吗？"},
		]
		selectCup() {
			self.pageCup = false
			self.pagePop = true
			self.pageVideos = false
			self.pageShare = false
			UpdateShare(self.cocktails[self.n].shareText)
		}
		showVideos() {
			self.pageCup = false
			self.pagePop = false
			self.pageVideos = true
			self.pageShare = false
		}
		backHome() {
			//- 
			self.pageCup = true
			self.pagePop = false
			self.pageVideos = false
			self.pageShare = false
			UpdateShare("树洞酒吧，喝杯酒，听首歌，看微电影，再来测测你的个性...")
		}
		showShare() {
			self.pageShare = true
		}
		hideShare() {
			self.pageShare = false
		}
		sliderFun(n) {
			//- console.log(Math.abs(n))
			this.n = Math.abs(n)
			this.update()
		}