extends ../libs/jade/layout-640
block title
	| 致趣实验室
block css
	script(src="/libs/js/viewport.js")
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")

block content
	- var images = "http://disk.giccoo.com/projects/zhiqu/img"
	// - var images = "img"
	.wechat-share-hide
		//- img#share(src="http://disk.giccoo.com/projects/huaweiG7/img/share.jpg")
	//- gif(width="640",height="1134",normal='[0,86, "replay"]',replay='[87, 126]',stop="86",play="normal",count="127",src="#{images}/animate/brands/brand-id.png")
	//- gif(id="brandbg",width="640",height="1134",normal='[0,6, "stop"]',replay='[0,7]',stop="[7,7]",play="normal",count="8",src="#{images}/animate/brandbg/brand-id.png")
	//- animations='{ "normal": [0,86, "replay"], "replay": [87, 126], "stop": 86 }'
	.firstPage
		.content
			.home
				img(src="#{images}/loaded/home-bg.png")
				.logo
					img(src="#{images}/loaded/adr.png")
					.on
						img(src="#{images}/loaded/adr-on.png")
				.thermometer.thermometer-1
					img(src="#{images}/loaded/thermometer.png")
					.line
				.thermometer.thermometer-2
					img(src="#{images}/loaded/thermometer.png")
					.line
				.enter
					.arrow.arrow-1
						img(src="#{images}/loaded/arrow.png")
					.arrow.arrow-2
						img(src="#{images}/loaded/arrow.png")
					.arrow.arrow-3
						img(src="#{images}/loaded/arrow.png")
				.text
					img(src="#{images}/loaded/text.png")
			.door
				img(src="#{images}/loaded/door.png")
		.loading
			.box
				//- gif(id="loadbox",width="300",height="500",normal='replay',replay='replay',stop="stop",play="replay",count="29",src="#{images}/loaded/box.png")
				.loadbox.replay
				.text
					span#loading-text 0
					| %
				.bubbles
					-for (var i=0;i<3;i++)
						.bubble(class="bubble-#{i+1}")
							img(src="#{images}/loading-bubble.png")

	//- main#main
	.main
		.homepage
			#paoAudio(src="mp3/pao.mp3")
			.bottle.bottle-brand
				img(data-layzr="#{images}/bottle-brand.png")
				//- .gif.bottlebrand.normal(id="bottlebrand",width="300",height="750",count="51",normal='normal',replay='stop',stop="stop",play="normal",src="#{images}/animate/bottle-brand/brand.png")
					.gif-content
						img(data-layzr="img/animate/bottle-brand/brand.png")
				gif(load="true",id="bottlebrand",width="300",height="750",count="51",normal='[0,0,"normal"]',replay='[1,50,"stop"]',prepare='[1,17,"prepare"]',stop="50",play="normal",src="#{images}/animate/bottle-brand/brand-id.png",playend="bottleRunEnd",callback="brandLoadEnd")
				.on-button(onclick="openBottleMain(this)",page-name="brand")
				.bubbles
					-for (var i=0;i<3;i++)
						.bubble(class="bubble-#{i+1}")
							img(data-layzr="#{images}/homepage-bubble.png")
				.goon
					img(data-layzr="#{images}/bottle-brand-goon.png")
			.bottle.bottle-logo
				img(data-layzr="#{images}/bottle-logo.png")
				//- .gif.bottlelogo.normal(id="bottlelogo",width="480",height="620",count="63",normal='normal',replay='stop',stop="stop",play="normal",src="#{images}/animate/bottle-logo/logo.png",onload="test()")
					.gif-content
						img(data-layzr="img/animate/bottle-logo/logo.png")
				gif(load="true",id="bottlelogo",width="480",height="620",count="63",normal='[0,0,"normal"]',replay='[1,62,"stop"]',prepare='[1,6,"prepare"]',stop="62",play="normal",src="#{images}/animate/bottle-logo/logo-id.png",playend="bottleRunEnd",callback="logoLoadEnd")
				.on-button(onclick="openBottleMain(this)",page-name="logo")
				.goon
					img(data-layzr="#{images}/bottle-logo-goon.png")
			.bottle.bottle-strategy
				img(data-layzr="#{images}/bottle-strategy.png")
				//- .gif.bottlestrategy.normal(id="bottlestrategy",width="850",height="200",count="78",normal='replay',replay='stop',stop="stop",play="normal",src="#{images}/animate/bottle-strategy/strategy.png")
					.gif-content
						img(data-layzr="img/animate/bottle-strategy/strategy.png")
				gif(load="true",id="bottlestrategy",width="850",height="200",count="78",normal='[0,0,"normal"]',replay='[1,77,"stop"]',prepare='[1,17,"prepare"]',stop="77",play="normal",src="#{images}/animate/bottle-strategy/strategy-id.png",playend="bottleRunEnd")
				.shadow
					img(data-layzr="#{images}/bottle-strategy-shadow.png")
				.on-button(onclick="openBottleMain(this)",page-name="strategy")
			.bottle.bottle-technology
				img(data-layzr="#{images}/bottle-technology.png")
				//- .gif.bottletechnology.normal(id="bottletechnology",width="800",height="260",count="60",normal='normal',replay='stop',stop="stop",play="normal",src="#{images}/animate/bottle-technology/technology.png")
					.gif-content
						img(data-layzr="img/animate/bottle-technology/technology.png")
				gif(load="true",id="bottletechnology",width="800",height="260",count="60",normal='[0,0,"normal"]',replay='[1,59,"stop"]',prepare='[1,17,"prepare"]',stop="59",play="normal",src="#{images}/animate/bottle-technology/technology-id.png",playend="bottleRunEnd")
				.shadow
					img(data-layzr="#{images}/bottle-technology-shadow.png")
				.on-button(onclick="openBottleMain(this)",page-name="technology")
			.bottle.bottle-media
				img(data-layzr="#{images}/bottle-media.png")
				//- .gif.bottlemedia.normal(id="bottlemedia",width="380",height="380",count="76",normal='normal',replay='stop',stop="stop",play="normal",src="#{images}/animate/bottle-media/media.png")
					.gif-content
						img(data-layzr="img/animate/bottle-media/media.png")
				gif(load="true",id="bottlemedia",width="380",height="380",count="76",normal='[0,0,"normal"]',replay='[1,75,"stop"]',prepare='[1,17,"prepare"]',stop="75",play="normal",src="#{images}/animate/bottle-media/media-id.png",playend="bottleRunEnd")
				.shadow
					img(data-layzr="#{images}/bottle-media-shadow.png")
				.on-button(onclick="openBottleMain(this)",page-name="media")
			.bottle.bottle-contactus
				//- img(data-layzr="#{images}/bottle-contactus.png")
				//- .gif.bottlecontactus.normal(id="bottlecontactus",width="480",height="480",count="66",normal='normal',replay='stop',stop="stop",play="normal",src="#{images}/animate/bottle-contactus/contactus.png")
					.gif-content
						img(data-layzr="img/animate/bottle-contactus/contactus.png")
				gif(load="true",id="bottlecontactus",width="480",height="480",count="81",normal='[0,0,"normal"]',replay='[1,80,"stop"]',prepare='[1,17,"prepare"]',stop="80",play="normal",src="#{images}/animate/bottle-contactus/contactus-id.png",playend="bottleRunEnd",callback="contactusLoadEnd")
				.shadow
					img(data-layzr="#{images}/bottle-contactus-shadow.png")
				.on-button(onclick="openBottleMain(this)",page-name="contactus")
			.bottle.bottle-award
				//- img(data-layzr="#{images}/bottle-award.png")
				//- .gif.bottleaward.normal(id="bottleaward",width="600",height="300",count="82",normal='normal',replay='stop',stop="stop",play="normal",src="#{images}/animate/bottle-award/award.png")
					.gif-content
						img(data-layzr="img/animate/bottle-award/award.png")
				gif(load="true",id="bottleaward",width="550",height="265",count="82",normal='[0,0,"normal"]',replay='[1,81,"stop"]',prepare='[1,17,"prepare"]',stop="81",play="normal",src="#{images}/animate/bottle-award/award-id.png",playend="bottleRunEnd")
				.shadow
					img(data-layzr="#{images}/bottle-award-shadow.png")
				.on-button(onclick="openBottleMain(this)",page-name="award")
				
			.bottle.middle-tower
				img(data-layzr="#{images}/middle-tower.png")
			.bottle.left-tower
				img(data-layzr="#{images}/search-tower.png")
			.bottle.right-tower
				img(data-layzr="#{images}/time-tower.png")
				.timer
					img(data-layzr="#{images}/right-tower-timer.png")
					timer
				playsound#bgaudio(src="mp3/bg.mp3")
			.bottle.last-bottle
				img(data-layzr="#{images}/bottom-bottle.png")
			.bottle.bottle-fire-1
				img(data-layzr="#{images}/bottle-lighter.png")
				.fire
					img(data-layzr="#{images}/bottle-lighter-fire.png")
			.bottle.bottle-fire-2
				img(data-layzr="#{images}/bottle-lighter.png")
				.fire
					img(data-layzr="#{images}/bottle-lighter-fire.png")
			.bottle.bottle-search.tada.animated.duration-15
				img(data-layzr="#{images}/magn.png")
		.pages-technology(name="technology")
			.content
				.m-top
					.bg
						img(data-layzr-technology="#{images}/pages-technology-top.png")
					.gear.gear-1
						img(data-layzr-technology="#{images}/technology/gear-1.png")
					.gear.gear-2
						img(data-layzr-technology="#{images}/technology/gear-2.png")
					.gear.gear-3
						img(data-layzr-technology="#{images}/technology/gear-3.png")
					.item-lighter
						img(data-layzr-technology="#{images}/pages-strategy-lighter.png")
					.item-bt
						img(data-layzr-technology="#{images}/technology/bt-1.png")
						.full
							img(data-layzr-technology="#{images}/technology/bt-2.png")
					.box-logo
						img(data-layzr-technology="#{images}/technology/box.png")
					.logo
						#technologylogo(width="170",height="200",delay="4000",normal="[0,0,'normal']",replay="[0,50,'replay']",stop="0",play="normal",count="51",src="#{images}/animate/technology/logo/logo-id.png")
					.item-switch
						img(data-layzr-technology="#{images}/pages-strategy-switch.png")
					.item-light-red
						img(data-layzr-technology="#{images}/pages-strategy-light-red.png")
					.item-light-blue
						img(data-layzr-technology="#{images}/pages-strategy-light-blue.png")
					.item-comp
						.item.item-1
						.item.item-2
						.item.item-3
						.item.item-4
					.b-boxs-boxs
						.b-box-box
							.b-m(class="b-m-1")
								.b-c
									img(data-layzr-technology="#{images}/technology/b-1.png")
							.b-m(class="b-m-2")
								.b-c
									img(data-layzr-technology="#{images}/technology/b-2.png")
							.b-m(class="b-m-3")
								.b-c
									img(data-layzr-technology="#{images}/technology/b-3.png")
							.b-m(class="b-m-4")
								.b-c
									img(data-layzr-technology="#{images}/technology/b-4.png")
							.b-m(class="b-m-5")
								.b-c
									img(data-layzr-technology="#{images}/technology/b-5.png")
						//- .b-boxs
							.b-box-box.first
								-for(var i=5;i>=1;i--)
									.b-m(class="b-m-#{i}")
										.b-c
											img(data-layzr="#{images}/technology/b-#{i}.png")
							.b-box-box
								-for(var i=5;i>=1;i--)
									.b-m(class="b-m-#{i}")
										.b-c
											img(data-layzr="#{images}/technology/b-#{i}.png")
							.b-box-box
								-for(var i=5;i>=1;i--)
									.b-m(class="b-m-#{i}")
										img(data-layzr="#{images}/technology/b-#{i}.png")
					.m-hand
						//- gif(id="technologyhand",width="640",height="1134",normal='normal',replay='replay',stop="stop",play="normal",count="8",src="#{images}/animate/brandbg/brand-id.png")
						.line
						.hand
							img(data-layzr-technology="#{images}/technology/hand.png")
							#technologyhand(width="150",height="150",normal='[0,0,"normal"]',replay='[0,14,"stop"]',stop="0",play="normal",count="15",src="#{images}/animate/technology/hand/hand-id.png")
							//- .hand-box
								-for(var i=1;i<=5;i++)
									.b(class="b-#{i}")
										img(data-layzr-technology="#{images}/technology/b-#{i}.png")
					.texts
						.text-box.first
							-for(var i=1;i<=5;i++)
								.text(class="text-#{i}")
									img(data-layzr-technology="#{images}/technology/t-#{i}.png")
						.text-box
							-for(var i=1;i<=5;i++)
								.text(class="text-#{i}")
									img(data-layzr-technology="#{images}/technology/t-#{i}.png")
						.text-box
							-for(var i=1;i<=5;i++)
								.text(class="text-#{i}")
									img(data-layzr-technology="#{images}/technology/t-#{i}.png")

				.lights
					-for(var i=1;i<=5;i++)
						.light(class="i-#{i}")
							img(data-layzr-technology="#{images}/technology/l-#{i}.png")
				.m-bottom
					.bg
						img(data-layzr-technology="#{images}/pages-technology-bottom.png")
					.bottle-water
						.over
							img(data-layzr-technology="#{images}/pages-technology-bottom-bottle.png")
					.peoples
						.p-box
							-for(var i=5;i>=1;i--)
								.people(class="p-#{i}")
									.normal
										img(data-layzr-technology="#{images}/animate/technology/p#{i}/p-1.png")
									//- .over
										img(data-layzr-technology="#{images}/technology/p-#{i}.png")
						.p-box.index
							-for(var i=5;i>=1;i--)
								.people(class="p-#{i}")
									.normal
										img(data-layzr-technology="#{images}/animate/technology/p#{i}/p-1.png")
									.over
										//- img(data-layzr-technology="#{images}/technology/p-#{i}.png")
										div(id="technologypeople#{i}",width="200",height="650",normal="[0,0,'normal']",replay="[0,9,'stop']",stop="9",play="normal",count="10",src="#{images}/animate/technology/p#{i}/p-id.png")
						.p-box
							-for(var i=5;i>=1;i--)
								.people(class="p-#{i}")
									.normal
										img(data-layzr-technology="#{images}/animate/technology/p#{i}/p-10.png")
									//- .over
										img(data-layzr-technology="#{images}/technology/p-#{i}.png")
					.icons
						.icon-box.first
							-for(var i=1;i<=5;i++)
								.icon(class="icon-#{i}")
									img(data-layzr-technology="#{images}/technology/i-#{i}.png")
						.icon-box
							-for(var i=1;i<=5;i++)
								.icon(class="icon-#{i}")
									img(data-layzr-technology="#{images}/technology/i-#{i}.png")
						.icon-box
							-for(var i=1;i<=5;i++)
								.icon(class="icon-#{i}")
									img(data-layzr-technology="#{images}/technology/i-#{i}.png")
		.pages-award(name="award")
			.bg
				img(data-layzr-award="#{images}/pages-award-bg.png")
			.content
				.icons.icons-1
					-for (var i=1;i<3;i++)
						.icon(rel="#{i}")
							img(data-layzr-award="#{images}/pages-award-icon-#{i}.png")
							.star
								img(data-layzr-award="#{images}/star.png")
				.icons.icons-2
					-for (var i=3;i<6;i++)
						.icon(rel="#{i}")
							img(data-layzr-award="#{images}/pages-award-icon-#{i}.png")
							.star
								img(data-layzr-award="#{images}/star.png")
				.icons.icons-3
					-for (var i=6;i<8;i++)
						.icon(rel="#{i}")
							img(data-layzr-award="#{images}/pages-award-icon-#{i}.png")
							.star
								img(data-layzr-award="#{images}/star.png")
				.other.other-1
					img(data-layzr-award="#{images}/pages-award-other-1.png")
				.other.other-2
					img(data-layzr-award="#{images}/pages-award-other-2.png")
			.pop.fadeIn.animated#awardpop
				.pop-content
		.pages-media(name="media")
			.bg
				img(data-layzr-media="#{images}/pages-media-bg.png")
			.content
				.icons.icons-1
					- for (var i=1;i<5;i++)
						.icon(rel="#{i}")
							img(data-layzr-media="#{images}/pages-media-icon-#{i}.png")
							.keep
							.light
								img(data-layzr-media="#{images}/pages-media-icon-#{i}-light.png")
								.keep
							.alert
								img(data-layzr-media="#{images}/pages-media-icon-#{i}-alert.png")
								.keep
				.icons.icons-2
					-for (var i=5;i<9;i++)
						.icon(rel="#{i}")
							img(data-layzr-media="#{images}/pages-media-icon-#{i}.png")
							.keep
							.light
								img(data-layzr-media="#{images}/pages-media-icon-#{i}-light.png")
								.keep
							.alert
								img(data-layzr-media="#{images}/pages-media-icon-#{i}-alert.png")
								.keep
				.icons.icons-3
					.line
						-for (var i=9;i<11;i++)
							.icon(rel="#{i}")
								img(data-layzr-media="#{images}/pages-media-icon-#{i}.png")
								.keep
								.alert
									img(data-layzr-media="#{images}/pages-media-icon-#{i}-alert.png")
									.keep
					.line
						-for (var i=11;i<14;i++)
							.icon(rel="#{i}")
								img(data-layzr-media="#{images}/pages-media-icon-#{i}.png")
								.keep
								.alert
									img(data-layzr-media="#{images}/pages-media-icon-#{i}-alert.png")
									.keep
				.bottles.icons.bottle-1
					-for (var i=2;i<5;i++)
						.icon
							img(data-layzr-media="#{images}/pages-media-bottle-#{i}.png")
							.keep
							.alert
								img(data-layzr-media="#{images}/pages-media-bottle-#{i}-alert.png")
								.keep
				.bottles.bottle-2
					.icon.ml-30
						img(data-layzr-media="#{images}/pages-media-bottle-5.png")
					//- .bottle-media-movie.replay
						.gif-content
							img(data-layzr-media="#{images}/pages-media-bottle-movie.png")
					.bottle-media-movie
						.keep
						#bottlemediamovie(width="200",height="200",count="38",normal='[0,0,"normal"]',replay='[0,37,"replay"]',stop="0",play="normal",src="#{images}/animate/media/media-id.png")
					.icon
						img(data-layzr-media="#{images}/pages-media-bottle-6.png")
			.pop.fadeIn.animated#mediapop
				.pop-content
					img(data-layzr-media="#{images}/pages-media-alert.png")
		.pages-logo(name="logo")
			.content
				//- .logo-page-bottle
					#logobottle(width="300",height="300",count="15",normal='[0,0,"normal"]',replay='[0,14,"stop"]',stop="14",play="normal",src="#{images}/animate/logo/bottle/bottle-id.png")
				.vitro
					#logovitro(width="640",height="1144",count="78",normal='[0,0,"normal"]',replay='[0,77,"stop"]',stop="77",play="normal",src="#{images}/animate/logo/v/v-id.png")
				.logo-text
					img(data-layzr-logo="#{images}/pages-logo-text.png")		
		.pages-logo-bg
			.bg
				#logobg(width="640",height="1144",count="21",normal='[0,0,"normal"]',replay='[0,20,"stop"]',stop="20",play="normal",src="#{images}/animate/logo/bg/bg-id.png")
		.pages-brand(name="brand")
			.bg
				#brandbg(width="640",height="1134",count="8",normal='[0,0,"normal"]',replay='[0,7,"stop"]',stop="7",play="normal",src="#{images}/animate/brandbg/brandbg-id.png")
			.content
				#brands(width="640",height="1134",count="127",normal='[0,86,"replay"]',replay='[86,126,"replay"]',stop="0",play="stop",src="#{images}/animate/brands/brands-id.png")
				.ctrls
					.item.item-1(rel="1")
					.item.item-2(rel="2")
					.item.item-3(rel="3")
		.pages-strategy(name="strategy")
			.content
				.m-top
					img(data-layzr-strategy="#{images}/pages-strategy-m-top.png")
					.item-tv
						.item-logo
							img(data-layzr-strategy="#{images}/pages-strategy-logo.png")
					.item-switch
						img(data-layzr-strategy="#{images}/pages-strategy-switch.png")
					.item-light-red
						img(data-layzr-strategy="#{images}/pages-strategy-light-red.png")
					.item-light-blue
						img(data-layzr-strategy="#{images}/pages-strategy-light-blue.png")
					.item-light-all
						-for (var i=1;i<=4;i++)
							.lights
								img(data-layzr-strategy="#{images}/pages-strategy-light-all-#{i}.png")
					.item-pointer
					.item-arrow-white
						#strategyarrowwhite(width="30",height="100",count="15",normal="[0,0,'normal']",replay='[0,14,"stop"]',stop="14",play="normal",src="#{images}/animate/strategy/arrow-white/arrow-id.png")
					.item-arrow
						#strategyarrowyellow1(width="30",height="100",count="15",normal="[0,0,'normal']",replay='[0,14,"stop"]',stop="14",play="normal",src="#{images}/animate/strategy/arrow-yellow/arrow-id.png")
					.item-screw
						img(data-layzr-strategy="#{images}/pages-strategy-screw.png")
					.item-icloud-1
						img(data-layzr-strategy="#{images}/pages-strategy-icloud-1.png")
					.item-icloud-2
						img(data-layzr-strategy="#{images}/pages-strategy-icloud-2.png")
					.item-icloud-3
						img(data-layzr-strategy="#{images}/pages-strategy-icloud-3.png")
					.item-lines
						.line1
							img(data-layzr-strategy="#{images}/pages-strategy-line-1.png")
						.line2
							img(data-layzr-strategy="#{images}/pages-strategy-line-2.png")
			
					.item-lighter
						img(data-layzr-strategy="#{images}/pages-strategy-lighter.png")
					.item-icons
						//- img(data-layzr-strategy="#{images}/pages-strategy-icons.png")
						#strategyicons(width="300",height="300",count="44",normal="[1,1,'normal']",replay='[1,43,"replay"]',delay="6000",stop="43",play="normal",src="#{images}/animate/strategy/icons/icon-id.png")
						//- .test
						.box
							img(data-layzr-strategy="#{images}/pages-strategy-box.png")
				.m-bottom
					.line1
					.line2
					
					.bg
						img(data-layzr-strategy="#{images}/pages-strategy-m-bottom.png")
						.p1
							#strategypeople1(width="150",height="150",normal='[0,0,"normal"]',replay='[0,40,"replay"]',stop="0",play="normal",count="41",src="#{images}/animate/strategy/p2/p-id.png")
						.p2
							#strategypeople2(width="150",height="150",normal='[0,0,"normal"]',replay='[0,40,"replay"]',stop="0",play="normal",count="41",src="#{images}/animate/strategy/p1/p-id.png")
						.hand
							#strategyhand(width="150",height="150",count="10",normal='[0,0,"normal"]',replay='[0,9,"replay"]',delay="4000",stop="9",play="normal",src="#{images}/animate/strategy/hand/hand-id.png")
						.parts1
							img(data-layzr-strategy="#{images}/pages-strategy-parts-red.png")
						.parts2
							img(data-layzr-strategy="#{images}/pages-strategy-parts-yellow.png")
						.parts3
							img(data-layzr-strategy="#{images}/pages-strategy-parts-roulette.png")
						.fcanvas
							.item-arrow
								#strategyarrowyellow2(width="30",height="100",count="15",normal="[0,0,'normal']",replay='[0,14,"stop"]',stop="14",play="normal",src="#{images}/animate/strategy/arrow-yellow/arrow-id.png")
							.items
								#strategyad(width="500",height="400",count="102",normal="[0,0,'normal']",replay='[0,35,"stepto"]',stepto='[36,93,"stepend"]',stepend='[94,101,"replay"]',delay="4000",stop="0",play="normal",src="#{images}/animate/strategy/ad/ad-id.png")
		.pages-contactus(name="contactus")
			.content
				.text
					img(data-layzr-contactus="#{images}/pages-contactus-text.png")
				.title
					img(data-layzr-contactus="#{images}/pages-contactus-title.png")
				.qrcode
					img(data-layzr-contactus="#{images}/pages-contactus-qrcode.jpg")
				.gear
					img(data-layzr-contactus="#{images}/pages-contactus-gear.png")
				.bottle-full
					.full
						#contactusfull(width="50",height="240",count="11",normal="[0,0,'normal']",replay='[0,10,"stop"]',stop="10",play="normal",src="#{images}/animate/contact/b-id.png")
					//- .full
						img(data-layzr-contactus="#{images}/pages-contactus-bottle-full.png")
				.drops
					img(data-layzr-contactus="#{images}/pages-contactus-drops.png")
				.bubbles
					-for (var i=0;i<10;i++)
						.bubble(class="bubble-#{i+1}")
							img(data-layzr-contactus="#{images}/homepage-bubble.png")
				.music
					.c1
					.c2
					.c3
					.line

				.pointer
					img(data-layzr-contactus="#{images}/pages-contactus-pointer.png")
				.bg
					img(data-layzr-contactus="#{images}/pages-contactus-bg.png")
		.back-btn(onclick="backBottleMain()")
			img(data-layzr="#{images}/back-btn.png")
		#pop.pop.fadeIn.animated
			.close
			.pop-content
block js
	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	//- script(src="/libs/js/min/easeljs-0.8.0.min.js",type="text/javascript")
	//- script(src="/libs/js/min/tweenjs-0.6.0.min.js",type="text/javascript")
	//- script(src="/libs/js/min/preloadjs-0.4.1.min.js",type="text/javascript")
	script(src="http://disk.giccoo.com/projects/libs/js/min/jquery.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/layzr.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/riot.js")
	script(src="js/tag.js")
	script(src="js/main.js")
	//- script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-66865226-2', 'auto');
		ga('send', 'pageview');
