
extends ../libs/jade/layout-ng
//- -var url = "/"
block title
	| 李锦记新春接财神！羊年到，财神到，美味齐来到！
block css
	link(rel="stylesheet",href="/lkk/css/base.css")
	script.
		function showLoad() {
			 document.getElementsByClassName('loading-logo-bg')[0].style.display = 'block';
		}

block content
	-url = "/"
	div.wechat-share-hide
		img(src="#{url}lkk/img/share.jpg")
	div.wrap(ng-controller="MainController",ng-hide="ori")
		div.hideView
		div.view-animate(ng-view)
		div#loading.loading.loaded
			div.loading-logo
				//- img(src="#{url}libs/img/loading.png",onload="showLoad()")
				//- div.loading-logo-bg(style="display:none")
				.loading-normal
					img(src="#{url}libs/img/loading-normal.png")
				.tmp
					img(src="/lkk/img/loading.png")
		div.logo
			img(src="#{url}lkk/img/logo.png")
	div.noteText(ng-show="ori")
		span 请使用竖屏继续浏览
	div.qrcode
		div.text 建议您使用手机浏览
		img(src="#{url}lkk/img/qr.png")


block ng-template
	-url = "/"
	script(type="text/ng-template",id="home.html")
		.homepage
			.banner
				img(src="#{url}lkk/img/star-page.png")
			a.btn-star(href="#/game")
				img(src="#{url}lkk/img/star-btn.png")

	script(type="text/ng-template",id="game.html")
		.games(ng-controller="gameController as game")
			.page-select(ng-hide="game.gameStar")
				.banner
					img(src="#{url}lkk/img/page-2-title.png")
				.select-dish(ng-show="game.dish")
					//- img(src="img/page-2-select.png")
					-for (var i=1;i<=4;i++)
						.choose(ng-click="game.choose(#{i})")
			.page-game(ng-show="game.gameStar")
				.log
				.drop#drop
					img(src="#{url}lkk/img/game-point.png")
				.note
					img(src="#{url}lkk/img/game-note.png")
				.Bottle#Bottle(moved="true")
					img(src="#{url}lkk/img/game-bottle1.png")
				.timer
					.text TIME
					.box
						.progress(ng-class="run")
							img(src="#{url}lkk/img/game-timer-box.png")
						.time-text {{timer}}
				.road
					.dishs#dishs
						//- .item
							img(src="img/dish-1.png")
					.roadbg
						img(src="#{url}lkk/img/game-road.png")
				.score
					.title
						img(src="#{url}lkk/img/game-score.png")
					span#score {{score}}

	script(type="text/ng-template",id="share.html")
		div.share-page(ng-controller="ShareController as share")
			div.bg
				div(ng-click="share.getPrize()")
					img(src="#{url}lkk/img/success.png")
					.text 你击败了{{share.text}}%的网友<br/>{{share.text2}}
					div.box
						img(src="#{url}lkk/img/success-box.png")
				div.restargame(ng-click="share.regame()")
				div.sharewechat(ng-click="share.showwechat()")
			div.pop(ng-show="share.wechat",ng-click="share.showwechat()")
				img(src="#{url}libs/img/wechat.png")
			div.pop(ng-show="share.showpop")
				div.content(ng-hide="jd")
					img(src="#{url}lkk/img/pop-form.png")
					.close(ng-click="share.close()")
						img(src="#{url}lkk/img/close.png")
					.formPage(ng-controller="FormController as form")
						form(ng-submit="processForm()")
							.form-group
								label(for="username") 姓名
								input(name="username",type="text",ng-model="formData.username")
							.form-group
								label(for="mobile") 手机
								input(name="mobile",type="text",ng-model="formData.mobile")
							.form-group
								label(for="adr") 邮寄地址
								input(name="adr",type="text",ng-model="formData.adr")


							input.submit(name="submit",type="submit",value="Submit")
					//- img(src="#{url}lkk/img/pop-form.png")
					//- .code 兑换码: {{share.recode}}
					//- .download
						img(src="#{url}lkk/img/pop-download-btn.png")
						.download-img
					//- .sharebtn
						img(src="#{url}lkk/img/pop-share-btn.png")
				div.content(ng-show="jd")
					img(src="#{url}lkk/img/pop-jd.png")
					a.goto(href="http://sale.jd.com/act/0riL47NR8PZqEX.html#m")
					.close.yhm(ng-click="share.close()")

		//- .formPage(ng-controller="FormController as form")
			form.test(ng-submit="processForm()")
				input(name="username",type="text",ng-model="formData.username")
				input(name="mobile",type="text",ng-model="formData.mobile")
				input(name="submit",type="submit",value="Submit")

block js
	-url = "/"
	- var debug = ".min"
	//- - debug = ""
	script(src="#{url}libs/js/min/Zepto.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular-route.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular-touch.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular-animate.min.js",type="text/javascript")
	//- script(src="/libs/js/megapix-image.js",type="text/javascript")
	//- script(src="/libs/js/exif.js",type="text/javascript")
	//- script(src="/libs/js/min/preloadjs-0.4.1.min.js",type="text/javascript")
	script(src="/lkk/js/base.js?v=3",type="text/javascript")