extends ../libs/jade/layout-clean

block title
  | 发现中国24节气 秋分之旅

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
  //- link(rel="stylesheet",href="//image.giccoo.com/projects/libs/font/Interstate Regular.css")
  //- link(rel="stylesheet",href="css/yrd-Bold.css")
  //- link(rel="stylesheet",href="css/yrd-Medium.css")
  link(rel="stylesheet",href="css/base.css")
  //- script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();

  script(src="//image.giccoo.com/projects/libs/js/min/vconsole.min.js")
  script.
    var vConsole = new VConsole();
    console.log('VConsole open');

block content
  - url = "//image.giccoo.com/projects/Landrover24";
  - url = ".";
  //- .qrcode#qrcode
    .qr
      img(src="#{url}/img/qrcode.png")
      .text 请使用手机扫描二维码参与活动
  //- .public#public
    //- player(icon="true",src="#{url}/mp3/bgm.mp3")
    //- .player(:class="{play: playing, pause: !playing}",@click="playing = !playing")
      .icon-play(:class="{play: playing, pause: !playing}")
    transition(name="page-fade")
      .note-text(v-show="note")
        p 建议打开手机声音<br/>获得更好体验效果

  //- .load#load
    .content#loading(v-show="mounted",style="display: none")
      .texts
        - for (var i = 1; i <= 10; i++)
          .item.fadeInUpSmall.animated(class="delay-#{i*2}")
            img(src="#{url}/img/loading-text-#{i}.png")
        -;
      .loading-text 
        .cd
          .cd-item
            img(src="#{url}/img/small-cd.png")
        p loading...{{progress}}%
  #myDiv
  .main#main(v-show="mounted",:class="{biger: biger,smaller:smaller}",style="display: none",:style="{width: w+'px',minHeight: h+'px'}")
    transition(name="page-fade")
      .loading-page(v-show="loading")
        .ball-spin-fade-loader
          div
          div
          div
          div
          div
          div
          div
          div
    transition(name="page-fade")
      .page.page-2(v-show="pageIndex == 1")
        .content
          .videos
            - for (var i=1;i<=6;i++)
              .video.animated(class="item-#{i}",:class="{old: videoIndexOld == #{i},on: videoIndex == #{i},fadeInLeft: videoIndex == #{i} && lr,fadeInRight: videoIndex == #{i} && !lr}")
                video(id="video-#{i}" loop="true" x5-video-player-type="h5" x-webkit-airplay="true" airplay="allow" playsinline="" webkit-playsinline="" src="//image.giccoo.com/projects/Landrover24/video/build-#{i}.mp4" style="width: 100%; height: 100%; object-fit: cover;")
            -;
          #ugc

    transition(name="page-fade")
      .pop(v-show="registerShow")
        .content
          .register
            .close(@click="registerShow = false")
              img(src="#{url}/img/icon-close.png")
            .title
              img(src="#{url}/img/form-title.png")
            form-grounp.form(v-bind:form="form",v-on:submit="submit")
            .btn-item.goon(v-show="!gameEnd" @click="registerShow = false")
              img(src="#{url}/img/btn-goon.png")
            .btn-item.goon(v-show="gameEnd" @click="giveupAward")
              img(src="#{url}/img/btn-giveup.png")
            .footer
              img(src="#{url}/img/form-footer.png")

    transition(name="page-fade")
      .pop(v-show="lotteryShow")
        .content(v-show="lotteryInfo.info")
          .lottery.success
            .close(@click="lotteryShow = false")
              img(src="#{url}/img/icon-close.png")
            .title
              img(src="#{url}/img/pop-lottery-success.png")
            p.code {{lotteryInfo.info}}
            .btn
              img(src="#{url}/img/btn-music-dark.png")
            .btn
              img(src="#{url}/img/btn-shot.png")

        .content(v-show="!lotteryInfo.info")
          .lottery.faild
            .close(@click="lotteryShow = false")
              img(src="#{url}/img/icon-close.png")
            .title
              img(src="#{url}/img/pop-lottery-faild.png")
            .btn
              img(src="#{url}/img/btn-music.png")

    

block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.3.2.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/fastclick.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/pixi-sound.js")
  script(src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/qrcode.min.js")
  script(src="//s3.music.126.net/static/mob/ntes.id.js")
  script(src="//s5.music.126.net/static_public/5a1b70ea0180f6ca7295a59d/js/music-jssdk-1.0.3.js")
  //- script(src="/libs/js/min/bump-min.js")
  script(src="js/build.js?v=1")
  script(src="js/main.js?v=1")
  script(src="js/ani.js?v=1")
  



  
