begin
	- var url = "http://disk.giccoo.com/projects/"
	//- - var url = "/"
	.firstpage(show="{firstpageShow}",class="{firstpageClass}")
		.content
			.background.animated.fadeInLeft.duration-10
				img(data-layzr="#{url}showman/img/huabiao.png")
			.dove.animated.fadeInRight.duration-30.delay-10
				img(data-layzr="#{url}showman/img/dove.png")
			.cp
				.cp-1.animated.zoomIn.duration-10.delay-10
					img(data-layzr="#{url}showman/img/cp-1-1.png")
				.cp-2.animated.zoomIn.duration-10.delay-15
					img(data-layzr="#{url}showman/img/cp-1-2.png")
				.cp-3.animated.zoomIn.duration-10.delay-20
					img(data-layzr="#{url}showman/img/cp-1-3.png")
				.stars.animated.fadeIn.delay-25
					.normal
						-var list = ["flash","hinge","rotateIn","rotateOut","flash","flash","hinge","rotateIn","rotateOut","flash","flash"]
						-for (var i=0; i < 10; i++)
							img(class="star star-#{i} animated #{list[i]}",data-layzr="#{url}showman/img/star.png")

			.btn.animated.bounceIn.duration-10.delay-25(onclick="{showNextPage}")
				img(data-layzr="#{url}showman/img/btn-1.png")
	.notepage(show="{notepageShow}",class="{notepageClass}")
		.content
			.banner
				img(src="#{url}showman/img/banner.jpg")
			.text-content(style="top:{toppx}px")
				.text
					p 由《中国保险报》、中保网主办的“2014中国保险年度人物”评选活动正式启动。该项活动是保险文化建设的重要载体。评选的目的是大力宣传保险业先进人物践行社会主义核心价值观，以及保险监管核心价值理念、保险行业核心价值理念的先进精神和优秀事迹。该项评选活动已历八届，在保险业内外弘扬了正能量，产生了广泛的社会影响。此次活动主题词为“创新、服务、规范”，旨在更好地体现保险业锐意创新、服务大众的突出形象。
					p 评选标准
					p     入围“2014中国保险年度人物”评选的候选人，须是认可保险行业核心价值理念，并在2014年度中对中国保险业发展起到促进、推动作用或在社会上产生广泛反响的重大事件中的代表人物。具体评选标准如下： 
					p 1. 创新力 候选人在2014年的表现对保险业改革创新产生重要促进作用。
					p 2. 产业影响力 候选人在保险业具有重要影响力。
					p 3. 公众影响力 候选人对社会公众层面产生了重要影响。
					p 4. 前瞻性 候选人对保险业发展大势具有良好的把握能力，具有引领保险业发展潮流的战略思维。
					p 5. 社会责任感 候选人具有良好的社会形象，具有保险业的大爱精神。
					p &nbsp;
					p &nbsp;
				.hide-D
					img(src="#{url}showman/img/hide.png")
			.btn(onclick="{GameStart}")
				img(src="#{url}showman/img/btn-2.png")
	.listpage(show="{listpageShow}")
		.content
			.banner
				img(src="#{url}showman/img/banner-last.png")
			.list-content(style="top:{toppx2}px")
				.note-note
					p ＊ 以下候选人按姓氏字母排序,点击字母快速定位。
				.items
					.item(each="{userlist}",class="{abc}")
						.avatar(onclick="{parent.showInfo}")
							img(src="#{url}showman/img/{avatar}.jpg")
						.name(onclick="{parent.showInfo}")
							p.username {name}
							p.subtitle {subtitle}
						.btn(onclick="{parent.vote(uid)}")
							img(src="#{url}showman/img/vote-btn.png")
			.abc-list(style="top:{toppx2}px")
				span(each="{abc in abclist}",onclick="{parent.scrollToAbc}") {abc}
	.detailpage(show="{detailpageShow}")
		.content
			.banner
				img(src="#{url}showman/img/banner-last.png")
			.back(onclick="{backlist}")
				img(src="#{url}showman/img/back.png")
			.userinfo(if="{userinfo}",style="top:{toppx2+33}px")
				.info
					.avatar
						img(src="#{url}showman/img/avatar.jpg")
					.user-name
						p.usertitle {userinfo.name}
						p.subtitle {userinfo.subtitle}
						p.votes 得票: {userinfo.numbers}
						.btn(onclick="{vote(userinfo.uid)}")
							img(src="#{url}showman/img/vote-btn.png")
				.description
					p {userinfo.description}

	.focusUs(show="{focusUs}")
		.box
			.qcode
				img(src="#{url}showman/img/qrcode.jpg")
			.note-text
				p 请使用微信打开此页面.
				p 长按二维码图片进行关注.
				p 请先关注我们的微信公众账号,然后参与投票.
				p 每人每天总计100票.
				p 对单个参评人最多每天投10票.
			.close(onclick="{hideFocus}")
				img(src="#{url}showman/img/icon-close.png")

	script.
		var self = this
		self.firstpageShow = true
		self.notepageShow = false
		self.listpageShow = false
		self.detailpageShow = false
		self.focusUs = false
		self.userlist = userinfo
		self.userinfo = false
		self.abclist = []
		for (var i=0;i < self.userlist.length; i++) {
			if (self.abclist.indexOf(self.userlist[i].abc) < 0) {
				self.abclist.push(self.userlist[i].abc)
			}
		}
		self.toppx = $("body").width()/640*370
		self.toppx2 = $("body").width()/640*398
		showNextPage() {
			self.firstpageShow = false
			self.notepageShow = true
			self.update()
		}
		GameStart() {
			self.listpageShow = true
			self.notepageShow = false
			self.update()
		}
		showInfo(evt) {
			self.listpageShow = false
			self.detailpageShow = true
			self.userinfo = evt.item
			self.update()
		}
		backlist() {
			self.listpageShow = !false
			self.detailpageShow = !true
			self.update()
		}
		vote(uid) {
			return function() {
				console.log(uid)
				if (openid != "") {
					$.get("http://i.giccoo.com/showman/vote/to/"+uid,{openid: openid},function(msg){
						if (msg.recode == 200) {
							//- 发送 note
							SendNote("投票成功啦!")
							for (var i = self.userlist.length-1; i >= 0 ; i--) {
								if (self.userlist[i].uid == uid) {
									self.userlist[i].numbers++
									self.update()
									break
								}
							}
						}else if (msg.recode == 222) {
							self.focusUs = true
							self.update()
						}else{
							//- 发送 Note
							SendNote(msg.reason)
						}
					})
				}else{
					self.focusUs = true
					self.update()
				}
			}
		}
		hideFocus() {
			self.focusUs = false
			self.update()
		}
		scrollToAbc(evt) {
			var e = $("."+evt.item.abc,self.root).eq(0).offset()
			var scrollTop = $(".list-content",self.root).scrollTop()
			//- console.log(e.top + scrollTop - self.toppx2 - 22)
			var temp = e.top + scrollTop - self.toppx2
			$(".list-content",self.root).scrollTo(parseInt(temp))
		}