extends ../libs/jade/layout-clean

block title
  | 刻录你的2018

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
  //- link(rel="stylesheet",href="//image.giccoo.com/projects/libs/font/Interstate Regular.css")
  //- link(rel="stylesheet",href="/libs/font/YRDZST-Heavy.css")
  //- link(rel="stylesheet",href="css/yrd-Medium.css")
  link(rel="stylesheet",href="css/base.css")

  //- script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();

  //- script(src="//image.giccoo.com/projects/libs/js/min/vconsole.min.js")
  //- script.
    var vConsole = new VConsole();
    console.log('VConsole open');
  

block content
  //- url = "//image.giccoo.com/projects/starbucks";
  - url = ".";
  //- .qrcode#qrcode
    .qr
      img(src="#{url}/img/qrcode.png")
      .text 请使用手机扫描二维码参与活动
  
  .load#load
    .content#loading(v-show="mounted",@mousedown="start",@mousemove="move",@mouseup="end",@touchstart="start",@touchmove.passive="move",@touchend="end",:class="{biger: biger, smaller:smaller}",style="display: none")
      //- transition(name="page-fade")
      p(v-show="progress < 100").centeralign Loading..{{progress}}%
      transition(name="page-fade")
        .box.fadeIn.animated(v-show="progress >= 100")
          //- img(src="#{url}/img/loading-texts.png")
          .texts
            - for(var i=1;i<=8;i++) {
              .text(class="text-#{i} fadeInUp duration-7 animated delay-#{5+i}")
                img(src="#{url}/img/loading-text-#{i}.png")
            - };
          .peopleNumber
            p.fadeInUp.animated.animated.delay-19.duration-7 已有 {{number}} 位用户
            p.fadeInUp.animated.animated.delay-20.duration-7 刻录完成
      .arrow.fadeInUp.animated.animated.delay-22.duration-7(v-show="progress >= 100")
        img(src="#{url}/img/arrow2.png")

      .cd
        img(src="#{url}/img/loading-cd.png")
        .pointer(:class="{on: progress >= 100}")
          img(src="#{url}/img/loading-cd-pointer.png")

  .main#main(v-show="mounted",:class="{biger: biger, smaller:smaller, bgm: bgmShow}",:style="{width: w+'px',height: h+'px'}",style="display: none",@touchstart="startGame")
    transition(name="page-fade")    
      .logo(v-show="logo")
        img(src="#{url}/img/logo.png")
    transition(name="page-down")
      .note-message(v-show="noteShow",@click="noteShow = false")
        .note-text {{noteText}}

    transition(name="page-fade")
      .loading-page(v-show="loading")
        .ball-spin-fade-loader
          div
          div
          div
          div
          div
          div
          div
          div

    transition(name="page-zoom")
      .page.page-1(v-show="pageIndex == 1")
        .content
          #ugc
    
    transition(name="page-fade")
      .pop.pop-taobao(v-show="taobao")
        .content
          .close(@click="taobao = false")
            img(src="#{url}/img/icon-close.png")
          .kouling 
            h3 淘口令：￥YZtIbpSs6BR￥

    transition(name="page-fade")
      .pop.pop-lottery(v-show="lotteryShow")
        .content(@click="lotteryShow = false")
          img(src="#{url}/img/lottery-faild.png")

    //- transition(name="page-fade")
    .pop.flashcamera(v-show="ugcShow")
      .content
        .small-size
          .close(@click="closeUGC")
            img(src="#{url}/img/icon-close.png")
          .scroll
            img(:src="ugc")
          .note 长按保存图片
  .public#public(@touchstart="startGame")
    multiplayer(icon="true",loop="true",:src="list")
      .pointer
        img(src="#{url}/img/icon-cd-pointer.png")

block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.3.2.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/fastclick.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/pixi-sound.js")
  script(src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/qrcode.min.js")
  script(src="//s3.music.126.net/static/mob/ntes.id.js")
  script(src="//s5.music.126.net/static_public/5a1b70ea0180f6ca7295a59d/js/music-jssdk-1.0.3.js")
  //- script(src="/libs/js/min/bump-min.js")
  script(src="js/public_funciton.js")
  script(src="js/build.js?v=1")
  script(src="js/main.js?v=1")
  script(src="js/ani.js?v=1")

  



  
