extends ../libs/jade/layout
block title
	| 沃尔沃 V40
block css
	link(rel="stylesheet",href="http://disk.giccoo.com/projects/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")

block content
	- var images = "http://disk.giccoo.com/projects/volvo_v40_one/img"
	// - var images = "img"
	.wechat-share-hide
		//- img#share(src="http://disk.giccoo.com/projects/dazhong/img/share.jpg")
	.main
		.homepage
			.bg
				img(src="#{images}/banner.jpg")
				a.outlink(href="http://m.v40.volvocars.com.cn/?utm_source=momo&utm_medium=featurepage&utm_content=banner&utm_campaign=2016Q1_V40")
				//- .text
					img(src="#{images}/text-momo.png")
			.bg(style="margin-top: -35%")
				.form-box
					.title
						img(src="#{images}/title-1.png")
					register(action="http://api.giccoo.com/volvo_v40_momo/insert/")
			.bg(style="margin-bottom: 5%")
				img(src="#{images}/financial.jpg")
				a.readmore(href="http://www.volvocars.com/zh-cn/cars/new-models/v40/financing-offers")
			.bg
				.title
					img(src="#{images}/title-momo.jpg")
				img(src="#{images}/text-1.jpg")
			.bg
				img(src="#{images}/banner-1.jpg")
			.bg
				img(src="#{images}/banner-2.jpg")
			.bg.last
				img(src="#{images}/banner-3.jpg")
				.content
					.sliders
						slider(myid="secondSlider",callback="changePoint",list="#{images}/car-1.jpg,#{images}/car-2.jpg,#{images}/car-3.jpg,#{images}/car-4.jpg,#{images}/car-5.jpg,#{images}/car-6.jpg,#{images}/car-7.jpg")
					.left2
						img(src="#{images}/m-left.png")
					.right2
						img(src="#{images}/m-left.png")
					.points
						span.on
						span
						span
						span
						span
						span
						span

		.backTop
			img(src="#{images}/back-top.png")
		//- .pop.fadeIn.animated
		//- 	.content


block js
	//- script(src="/libs/js/min/localforage.min.js")
	//- script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/Zepto.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/riot.min.js")
	script(src="js/tag.js")
	script(src="js/main.js")
	//- script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-66865226-2', 'auto');
		ga('send', 'pageview');
