extends ../libs/jade/layout-clean
block title
	| “小行走大改变”，现场版奔跑吧兄弟等你来挑战！
block css
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")


block content
	//- - url = "/"
	.wechat-share-hide
		img#share(src="http://disk.giccoo.com/projects/Tongshuai/img/share.jpg")
	#loading.loading.loaded
		//- div.loading-logo
		//- 	.loading-normal
		//- 		img(src="#{url}libs/img/loading-normal.png")
		.new-load
			- for (var i=1;i<=4;i++)
				.load-item(class="load-#{i}")
					img(src="#{url}Tongshuai/img/loading-#{i}.png")
				.load-progress
					span.n 0
					span.l LOADING⋯
	.share-wechat(onclick="hideShareWechat()")

	.wrap
		.logo
			img(src="#{url}Tongshuai/img/logo.png")
		playsound(src="#{url}Tongshuai/mp3/bg.mp3",icon="true",icon-play="#{url}Tongshuai/img/audio-play.png",icon-stop="#{url}Tongshuai/img/audio-stop.png")
		.page.share
			#shares

		parallax.pages
			.page.homepage.first(up="homepage2")
				.content
					.cp
						.kv.fadeInDown.animated.delay-5
							img(data-layzr="#{url}Tongshuai/img/kv-1.png")
						-for(var i=1;i<=4;i++)
							.animated(class="cp-#{i} fadeInLeft delay-#{i*2+7}")
								img(data-layzr="#{url}Tongshuai/img/cp-1-#{i}.png")
				.next-point
					span
					span
					span
			.page.homepage2(down="homepage",up="build")
				//- h2 page 2
				.content
					.cp
						.kv.fadeInDown.animated.delay-5
							img(data-layzr="#{url}Tongshuai/img/kv-1.png")
						-for(var i=1;i<=2;i++)
							.animated(class="cp-#{i} fadeInLeft delay-#{i*2+7}")
								img(data-layzr="#{url}Tongshuai/img/cp-2-#{i}.png")
				.next-point
					span
					span
					span
			.page.build

				.content
					.title
						img(data-layzr="#{url}Tongshuai/img/build-title.png")
					shirt
			.page.finishedPage(up="menus",down="build")
				#finishedPage
				.cp
					.cp-1.fadeInLeft.animated.delay-10
						img(data-layzr="#{url}Tongshuai/img/cp-5-1.png")
				.next-point
					span
					span
					span
			.page.menus(up="notes",down="finishedPage")
				.content
					.cp
						.kv.fadeInDown.animated.delay-5
							img(data-layzr="#{url}Tongshuai/img/kv-1.png")
						menus
				.next-point
					span
					span
					span
			.page.notes(down="menus")
				#notes

	.qrcode#qrcode

block js
	//- - url = "/"
	//- script(src="/libs/js/min/localforage.min.js")
	script(src="#{url}libs/js/min/riot.js")
	script(src="#{url}libs/js/min/Zepto.min.js")
	//- script(src="/libs/js/min/cityData-min.js")
	script(src="#{url}libs/js/min/layzr.min.js")
	script(src="js/tag.js")
	script(src="js/main.js")
	script(src="//cdnst.immomo.com/momofes/js/mobile/momo_bridge.2.0.min.js")
	script.
		// 可用来检查是否在陌陌中
		var is_momo_webview = /momoWebView/.test(window.navigator.userAgent);
		// 分享设置: 图片， 链接， 文字
		// 默认分享地址不包括留言板
		// pic: 图片地址, url: 分享链接，text: 分享文字
		var shareConfig = {
		pic: 'http://disk.giccoo.com/projects/Tongshuai/img/share.jpg',
		url: 'http://m.giccoo.com/Tongshuai/',
		text: '“小行走大改变”，现场版奔跑吧兄弟等你来挑战！'
		};
		// 配置界面按钮
		mm.invoke('init', {
			enable:{share:1},
			share: shareConfig,
			ui_btn: {title:'', dropdown:0, buttons: [ {text:'分享', action:1, param:shareConfig}]}
		})
	script.
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?de4f0f521ea22364e46b0c346fe056db";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();

