extends ../libs/jade/layout-clean
block title
	| 知食日报

block css
	meta(name="author",content="m.giccoo.com")
	link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
	link(rel="stylesheet",href="css/base.css")
	//- script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();

block content
	- url = "http://image.giccoo.com/projects/adidas-originals-eqt"
	- url = "."
	
	#load.loading(v-if="!loadend")
		transition(name="page-animation")
			.loading-page(v-if="loading")
				.content
					.load-text
						.text
							img(src="#{url}/img/load-text.png")
					.progress
						.line(:class="start")
		transition(v-on:leave="leave")
			div(v-if="note",:class="{note: note}",@click.stop.prevent="close")
				.hand
					img(src="http://image.giccoo.com/projects/zhihunews/img/p1hand.png")
				.bottom
					img(src="http://image.giccoo.com/projects/zhihunews/img/p1arrow.png")

	#main.main.f0.hide
		pages
			.page.page-1.page-home
				.bg
					img(src="#{url}/img/bg.jpg")
				.homepage.f0
					img(src="#{url}/img/homepage.jpg")
			page.page.page-2.page-news.touch.f0(arrow="true")
				.arrow.right
				.title.f0
					img(src="#{url}/img/page-2-title.jpg")
				.tabs.f0
					.tab.tab-1(v-show="tab")
						img(src="#{url}/img/page-2-tab-1.jpg")
						.btn(@click.stop.prevent="changetab")
					.tab.tab-2(v-show="!tab")
						img(src="#{url}/img/page-2-tab-2.jpg")
						.btn(@click.stop.prevent="changetab")
				.content.f0
					img(v-show="tab",src="#{url}/img/page-2-content-1.jpg")
					img(v-show="!tab",src="#{url}/img/page-2-content-2.jpg")
			page.page.page-3.touch.f0(arrow="true")
				.arrow.right
				.video.video-1(@click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-3-1.mp4','./img/page-3-p-1.jpg')")
					img(src="#{url}/img/page-3-1.jpg")
				.video.video-2(@click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-3-2.mp4','./img/page-3-p-2.jpg')")
					img(src="#{url}/img/page-3-2.jpg")
				.video.video-3(@click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-3-3.mp4','./img/page-3-p-3.jpg')")
					img(src="#{url}/img/page-3-3.jpg")
			.page.page-6.page-video.overhide.f0
				.video.video-1(@click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-4-1.mp4','./img/page-4-p-1.jpg')")
					img(src="#{url}/img/page-4-1.jpg")
			.page.page-7.page-video.overhide.f0
				.video.video-2(@click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-4-2.mp4','./img/page-4-p-2.jpg')")
					img(src="#{url}/img/page-4-2.jpg")
			.page.page-8.page-video.overhide.f0
				.video.video-4(@click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-4-3.mp4','./img/page-4-p-3.jpg')")
					img(src="#{url}/img/page-4-3.jpg")
			page.page.page-9.touch.f0(arrow="true")
				.arrow.right
				.content
					img(src="#{url}/img/page-6.jpg")
			.page.page-10.page-last.overhide.f0
				.bg
					img(src="#{url}/img/bg.jpg")
				.content
					img(src="#{url}/img/page-5.jpg")
					a.outlink(href="https://h5.dianping.com/app/app-poi-food-selection-guide/rank.html?notitlebar=1&cityid=*&activity_tlt=1116&utm_source=zhihu")
					.btn.share(@click.stop.prevent="shareshow")
			

	#share.pop.share.fadeIn.animated(v-show="show",@click.stop.prevent="close")
		img(src="#{url}/img/share.png")
	#videopop.pop.fadeIn.animated(v-show="show")
		.video-box.fadeIn.animated.delay-0
			.close(@click="close")
				img(src="#{url}/img/close.png")
			mp4(:src="src",:poster="poster")

block js
	- url = "/"
	script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
	//- script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/vue.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
	script(src="js/main.js")

	
