extends ../libs/jade/layout-clean
mixin svgIcon(name)
  svg.icon(class="icon-#{name}",width='100px', height='100px', viewbox='0 0 110 110', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
    defs
      circle#path-1(cx='40', cy='40', r='40')
      filter#filter-2(x='-26.9%', y='-25.6%', width='161.2%', height='161.2%', filterunits='objectBoundingBox')
        feoffset(dx='3', dy='4', in='SourceAlpha', result='shadowOffsetOuter1')
        fegaussianblur(stddeviation='7.5', in='shadowOffsetOuter1', result='shadowBlurOuter1')
        fecolormatrix(values='0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0', type='matrix', in='shadowBlurOuter1')
    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
      g(transform='translate(-65.000000, -683.000000)')
        g(transform='translate(77.000000, 684.000000)')
          g(transform='translate(0.000000, 10.000000)')
            g
              use(fill='black', fill-opacity='1', filter='url(#filter-2)', xlink:href='#path-1')
              use(fill='#000000', fill-rule='evenodd', xlink:href='#path-1')
            g.play(transform='translate(3.000000, 0.000000)')
              path(d='M35.6789599,31.2658178 L44.8323695,39.7308224 C45.2378433,40.1058016 45.2625642,40.7384838 44.887585,41.1439577 C44.8699057,41.1630747 44.8514865,41.1814939 44.8323695,41.1991731 L35.6789599,49.6641778 C35.273486,50.039157 34.6408038,50.0144362 34.2658246,49.6089623 C34.094924,49.4241634 34,49.1817119 34,48.9300024 L34,31.9999931 C34,31.4477084 34.4477153,30.9999931 35,30.9999931 C35.2517095,30.9999931 35.494161,31.0949171 35.6789599,31.2658178 Z', fill='#FFFFFF')
            g.pause(transform='translate(32.000000, 30.000000)', fill='#FFFFFF')
              rect#Rectangle-6(x='11', y='0.530029297', width='5', height='18.9300003', rx='1')
              rect#Rectangle-6(x='0', y='0.530029297', width='5', height='18.9300003', rx='1')

block title
  | #混在街头# - adidas

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  link(rel="stylesheet",href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css")
  link(rel="stylesheet",href="css/base.css")
  //- script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();

block content
  - url = "//image.giccoo.com/projects/adidas-originals-i5923";
  - url = ".";
  .main#main(v-show="mounted",style="display: none")
    //- .video-box(@click="playvideo")
      video(:class="{miss: !videoplaying}",controls="true",width="640",height="360",src="//image.giccoo.com/projects/adidas-originals-i5923/video/1.mp4",id="videoid",poster="#{url}/img/poster.jpg",@play="videoplay",@ended="videoend",@pause="videoend")
      img(:class="{hide: videoplaying}",src="#{url}/img/poster.jpg")
    .video-box
      video(controls="true",width="640",height="360",:src="videolink",id="videoid",poster="#{url}/img/poster.jpg",@ended="videoend")
    .music-list
      .title
        img(src="#{url}/img/title-1.png")
      .sub-title
        img(src="#{url}/img/sub-title-1.png")
      .list
        audio#bgm(@play="play",@pause="end",@ended="end",:src="musiclink")
        .item.first
          .name
            p 
              span.small by FEMME 
              | TIED TOGETHER
          .player-box
            .playervoice#playervoice

            .btn(@click="playMusic(0)",:class="{playing: playing && index == 0}")
              +svgIcon('play')
        -list = ["Angel<br/>(Midnight Generation Remix)","SOS<br/>(Secaina Hudson Remix)","Bring It Back Round<br/>(Mind Enterprises Remix)","Educated<br/>(Acid Future's Radio Edit)","FEMME Double Trouble <br/>Blamma! Blamma! Remix","Fire With Fire"];
        -for (var i=0;i<list.length;i++) 
          .item
            .btn(@click="playMusic(#{i+1})",:class="{playing: playing && index == #{i+1}}")
              +svgIcon('play')
            .name !{list[i]}
        -;
    
    .slide-list
      .title
        img(src="#{url}/img/title-2.png")
      
      slider.slider-box(auto="true",repeat="true",@number="number")
        template(slot="outside",slot-scope="slotProps")
          .mirror
            p.hide {{slotProps.slideNumber}}
            a.btn-buy(href="https://www.adidas.com.cn/campaign/originals_i5923")
        template(slot-scope="slotProps")
          -for (var i=1;i<=6;i++)
            .slide
              img(src="#{url}/img/pic-#{i}.jpg")
              img(src="#{url}/img/btn-buy.jpg")
          -;
        template(slot="points",slot-scope="slotProps")
          .points
            -for (var i=1;i<=6;i++)
              span(:class="{on: -slotProps.slideNumber == #{i-1}}")
            -;

      




block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.2.0.js")
  script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
  script(src="http://image.giccoo.com/projects/libs/js/min/pixi.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/Tween.min.js")
  //- script(src="/libs/js/min/jquery.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
  script(src="js/main.js?v=2")
  



  
