content
	//- - var url = "http://disk.giccoo.com/projects"
	- var url = "/"
	.page-content(show="{!other && !pop}")
		.logo
			img(src="#{url}Yili-sugar/img/logo.png")
		.content-page
		.bg.zoomIn.animated.delay-9
			img(data-layzr="#{url}Yili-sugar/img/sugar.png")
		.cp
			.content
				.bottle.fadeInDown.animated.delay-5
					img(data-layzr="#{url}Yili-sugar/img/bottle.png")
				.cp-note.fadeInDown.animated.delay-7
					img(data-layzr="#{url}Yili-sugar/img/cp-1-1.png")
				-for(var i=1;i<=4;i++)
					.btn(class="btn-#{i}",onclick="{selectPage(#{i})}")
			-for(var i=1;i<=4;i++)
				.animated.zoomIn.animated(class="cp-#{i} delay-#{i*2+10}")
					img(data-layzr="#{url}Yili-sugar/img/cp-2-#{i}.png")
	
	.page-other.fadeIn.animated(if="{other}")
		.logo
			img(src="#{url}Yili-sugar/img/logo.png")
		.ad.fadeInDown.animated.delay-5
			img(src="#{url}Yili-sugar/img/ad.png")
		.back.fadeInDown.animated.delay-7(onclick="{back}")
			img(src="#{url}Yili-sugar/img/back.png")
		.banner.fadeInDown.animated.delay-9
			img(src="#{url}Yili-sugar/img/banner.png")
		.other-content.fadeIn.animated.delay-14.o-1(if="{otherPage == 1}")
			-for(var i=1;i<=7;i++)
				img(data-src="#{url}Yili-sugar/img/cp-3-#{i}.jpg")
		.other-content.fadeIn.animated.delay-14.o-3(if="{otherPage == 3}")
			img(data-src="#{url}Yili-sugar/img/cp-4-2.png")
			.manhua
				img(data-src="#{url}Yili-sugar/img/cp-4-1.jpg")
		.other-content.fadeIn.animated.delay-14.o-4(if="{otherPage == 4}")
			-for(var i=1;i<=7;i++)
				img(data-src="#{url}Yili-sugar/img/cp-5-#{i}.jpg")
		.over.fadeIn.animated.delay-11
			img(data-src="#{url}Yili-sugar/img/over.png")
		.share-list.fadeIn.animated.delay-11
			shareicon(icons="wechat,weibo,douban,qzone",site="Yili-sugar",title="糖CUT派对邀你一起HIGH,现场各种高逼格小礼物满足你N型人格！",url="local",pic="http://disk.giccoo.com/projects/Yili-sugar/img/share-pc.jpg")
		.backTop.fadeIn.animated.delay-11(onclick="{backTop}")
			img(data-src="#{url}Yili-sugar/img/back-end.png")
	.pop.fadeIn.animated(if="{pop}")
		//- .pop-content.flipInX.animated.delay-7.duration-10
		.logo
			img(src="#{url}Yili-sugar/img/logo.png")
		.pop-content.slideInDown.animated.delay-7.duration-10(onclick="{back}")
			img(data-src="#{url}Yili-sugar/img/pop.jpg")
	.loadlist(show="{false}")
		img(data-layzr="#{url}Yili-sugar/img/ad.png")
		img(data-layzr="#{url}Yili-sugar/img/back.png")
		img(data-layzr="#{url}Yili-sugar/img/banner.png")
	script.
		var self = this
		this.other = false
		this.pop = false
		this.otherPage = 0
		selectPage(p) {
			return function() {
				if (p == 2) {
					console.log(p)
					self.pop = true
					self.update()
					setTimeout(function(){var layzr = new Layzr({selector: '[data-src]',attr:'data-src'})},10)
					return false
				}
				self.other = true
				self.otherPage = p
				self.update()
				setTimeout(function(){var layzr = new Layzr({selector: '[data-src]',attr:'data-src'})},10)
			}
		}
		backTop() {
			//- $(".page-other",self.root)[0].scrollTop = 0
			self.back()
		}
		back() {
			self.pop = false
			self.other = false
			self.otherPage = 0
			self.update()
		}