extends ../libs/jade/layout
block title
	| 树洞酒吧 自在怡然
block css
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/mobile.css")

block content
	- var images = "http://disk.giccoo.com/projects/huaweiG7/img"
	//- - var images = "img"
	.wechat-share-hide
		img#share(src="http://disk.giccoo.com/projects/huaweiG7/img/share.jpg")
	.loading
		.bg
		.logo
			img(src="#{images}/logo.png")
		.phone
			img(src="#{images}/phone.png")
		.text
			.text-bg
				img(src="#{images}/loading.png")
			span#loading-text 0
		.in-list
			.in-text
				img(src="#{images}/bar-text.png")
			.in-up
				img(src="#{images}/bar-up.png")
			.in-in
				img(src="#{images}/bar-in.png")
			.in-info(onclick="showActiveInfo()")
				img(src="#{images}/active-info.png")

		.active-info.fadeIn.animated
	.main
		select-list.select-list

block js
	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="/libs/js/min/Zepto.min.js")
	script(src="/libs/js/min/fastclick.min.js")
	script(src="/libs/js/min/riot.js")
	script(src="js/tag.js")
	script(src="js/main.js")
