extends ../libs/jade/layout
block title
	| 树洞酒吧 自在怡然
block css
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/mobile.css")

block content
	- var images = "http://disk.giccoo.com/projects/huaweiG7/img"
	//- - var images = "img"
	.wechat-share-hide
		img#share(src="http://disk.giccoo.com/projects/huaweiG7/img/share.jpg")
	.loading
		.bg
		.logo
			img(src="#{images}/logo.png")
		.phone
			img(src="#{images}/phone.png")
		.text
			.text-bg
				img(src="#{images}/loading.png")
			span#loading-text 0
		.in-list
			.in-text
				img(src="#{images}/bar-text.png")
			.in-up
				img(src="#{images}/bar-up.png")
			.in-in
				img(src="#{images}/bar-in.png")
			.in-info(onclick="showActiveInfo()")
				img(src="#{images}/active-info.png")

		.active-info.fadeIn.animated
	.main
		select-list.select-list
	playsound(src="http://t.douban.com/img/files/file-1446701573287210.mp3",icon="true",icon-play="http://disk.giccoo.com/projects/libs/img/audio-play.png",icon-stop="http://disk.giccoo.com/projects/libs/img/audio-stop.png")
block js
	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="/libs/js/min/Zepto.min.js")
	script(src="/libs/js/min/fastclick.min.js")
	script(src="/libs/js/min/riot.js")
	script(src="js/tag.js")
	script(src="js/main.js")
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-66865226-2', 'auto');
		ga('send', 'pageview');
