extends ../libs/jade/layout-clean
block title
	| 第25小时的精彩


block css
	meta(name="author",content="m.giccoo.com")
	link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css?v=1")

block content
	//- url = "http://image.giccoo.com/projects/ldl-c4l/"
	- url = "./"
	.wechat-share-hide
		img#share(src="http://image.giccoo.com/projects/lincoln_mkz/img/share.jpg")
	.pages
		.loading.show
			.content
				.logo
					img(src="#{url}img/logo.png")
				.text
					span
						img(src="#{url}img/loading-text.png")
					em.em1 .
					em.em2 .
					em.em3 .
		.page.page-frame
			.clock-box
				.bg
					img(src="#{url}img/clock-box.png")
				.time
					span.hour-first
						-for(var i=0;i<10;i++)
							span #{i}
						span .
					span.hour-last
						-for(var i=0;i<10;i++)
							span #{i}
						span .
					span.point
						span :
						span :
						span :
						span :
					span.m-first
						-for(var i=0;i<10;i++)
							span #{i}
						span .
					span.m-last
						-for(var i=0;i<10;i++)
							span #{i}
						span .
			.content
				.frame.frame-1
					.text.fadeInRight.animated
						img(src="#{url}img/frame-text-1.png")
				.frame.frame-2
					.text.fadeInDown.animated
						img(src="#{url}img/frame-text-2.png")
				.frame.frame-3
					.text.fadeInLeft.animated
						img(src="#{url}img/frame-text-3.png")
				.frame.frame-4
					.text.fadeInUp.animated
						img(src="#{url}img/frame-text-4.png")
		.page.page-reset.on
			.content-box
				.logo
					img(no-src="#{url}img/logo.png")
				.card
					img(no-src="#{url}img/card.png")
					.hand
						img(no-src="#{url}img/hand.png")
				.text
					p.text-1 总说没时间的你
					p.text-2 如果拥有了一天的第25个小时
					p.text-3 你会为你的人生资产增添什么样的可能？
				.btn-reset
					img(no-src="#{url}img/btn-reset.png")

			.content-pos
				.logo.fadeInUp.animated.delay-12
					img(no-src="#{url}img/logo.png")
				.pos.fadeInUp.animated.delay-14
					img(no-src="#{url}img/pos.png")
					.pos-text
						.normal.fadeOutUp.animated.delay-24
							img(no-src="#{url}img/pos-text-first.png")
						.btn-run-next.fadeInUp.animated.delay-24
							img(no-src="#{url}img/pos-text.png")

					.card
						img(no-src="#{url}img/card.png")
						.hand
							img(no-src="#{url}img/hand.png")

			.content-select
				.logo.fadeInUp.animated
					img(no-src="#{url}img/logo.png")
				.success-text.fadeInUp.animated.delay-2
					img(no-src="#{url}img/success-text.png")
				//- slider.slider-box.fadeInUp.animated.delay-4(myid="mainSlider",repeat="true",list="#{url}img/item-1.png,#{url}img/item-2.png,#{url}img/item-3.png,#{url}img/item-4.png")
				slider.slider-box.fadeInUp.animated.delay-4(myid="mainSlider",repeat="true",callback="changeMain",left="#{url}img/btn-left.png",right="#{url}img/btn-left.png",list="#{url}img/item-1.png,#{url}img/item-2.png,#{url}img/item-3.png,#{url}img/item-4.png")
					//- .left
					//- 	img(no-src="#{url}img/btn-left.png")
					//- .right
					//- 	img(no-src="#{url}img/btn-left.png")
				.btn-start.fadeInUp.animated.delay-7
					img(no-src="#{url}img/btn-start.png")

		.page.page-answer.fadeIn.animated
			.bg
				img(old-no-src="#{url}img/item-answer-x.jpg")
			.content-box
				.logo-white.fadeInUp.animated
					img(no-src="#{url}img/logo-white.png")
				.logo.fadeInUp.animated
					img(no-src="#{url}img/logo.png")
				.text
					.text-1.fadeInUp.animated.duration-10.delay-3
						img(old-no-src="#{url}img/item-answer-x-text-1.png")
					.text-2.fadeInUp.animated.duration-12.delay-4
						img(old-no-src="#{url}img/item-answer-x-text-2.png")
					.text-3.fadeInUp.animated.duration-14.delay-5
						img(old-no-src="#{url}img/item-answer-x-text-3.png")
			.btn-answer-last.fadeInUp.animated.delay-14
				.btn-text
					img(no-src="#{url}img/btn-answer-last.png")
				img(no-src="#{url}img/btn-answer-last-text.png")

		.page.page-transition.fadeIn.animated
			.text.fadeInLeft.animated.duration-15
				img(no-src="#{url}img/item-answer-last.png")

		.page.page-last.fadeIn.animated.on
			.bg
			.content
				.logo.fadeIn.animated.duration-10.delay-5
					img(no-src="#{url}img/mkz-logo.png")
				//- .lines
					.line.line-1
						img(no-src="#{url}img/road-line.png")
					.line.line-2
						img(no-src="#{url}img/road-line.png")
					.line.line-3
						img(no-src="#{url}img/road-line.png")
					.line.line-4
						img(no-src="#{url}img/road-line.png")
				.car
					.logo-text.fadeIn.animated.duration-20.delay-14
						img(no-src="#{url}img/mkz-logo-text.png")
					.car-move
						img(no-src="#{url}img/car.png")
					.car-bg
						img(no-src="#{url}img/car-bg.png")
						.text.fadeIn.animated.duration-20.delay-24
							.text-title
								img(no-src="#{url}img/mkz-text-title.png")
							p 这一刻因林肯MKZ H混合动力而开启
							p 搭载2.0L Hybrid 高效混动发动机
							p 融合高效发动机与节能电动机
							p 让驾驭全面突破过往潜能
							p 让省心省力伴你一路


				.form-register
					.title
						img(src="#{url}img/form-title.png")
						.star
							img(src="http://disk.giccoo.com/projects/roewe_i6/img/star.png")
						.arrow
							.arrow-1
								img(src="#{url}img/form-title-arrow.png")
							.arrow-2
								img(src="#{url}img/form-title-arrow.png")
							.arrow-3
								img(src="#{url}img/form-title-arrow.png")
					.form
						//- api.giccoo.com
						register(action="http://api.giccoo.com/lincoln_mkz/insert/")
		.load-before
			img(no-src="#{url}img/item-answer-1.jpg")
			img(no-src="#{url}img/item-answer-2.jpg")
			img(no-src="#{url}img/item-answer-3.jpg")
			img(no-src="#{url}img/item-answer-4.jpg")
block js
	- url = "/"
	script(src="http://image.giccoo.com/projects/libs/js/min/jquery.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/riot.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/cityData.js")
	script(src="js/tags.js?v=1")
	script(src="js/main.js?v=1")
	script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
