extends ../libs/jade/layout-clean-wb
block title
	| 雅诗兰黛美肌万能研究室

block css
	meta(name="author",content="m.giccoo.com")
	link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
	link(rel="stylesheet",href="css/base.css?v=4")
	script.
		var mobile = true;
	script.
		(function(a, e, f, g, b, c, d) {a.ClickiTrackerName = b;
		a[b] = a[b] || function() {(a[b].queue = a[b].queue || []).push(arguments)};
		a[b].start = +new Date; c = e.createElement(f); d = e.getElementsByTagName(f)[0];
		c.async = 1; c.src = g; d.parentNode.insertBefore(c, d)
		})(window, document, 'script', '//stm-cdn.cn.miaozhen.com/clicki.min.js', 'stm_clicki');
		stm_clicki('create', 'dc-1643', 'auto');
		stm_clicki('send', 'pageview');

block content
	- url = "http://image.giccoo.com/projects/esteelauder/"
	//- url = "./"

	#load.loading(v-if="!loadend")
		.text(:class="{show: show}") Loading...{{animatedNumber}}%
	.main
		#lab
			.page.lab-start(v-show="started")
				.content
					.box.fadeInRight.animated.duration-10
						h2.small 雅诗兰黛
						h1 「美肌万能研究室」
						p.large 你是我们精心选中的贵宾
						p.large 来这里，开启你肌肤奥秘的探索
						.btn(@click.prevent.stop="startGo") 即刻开启
			.page.lab-questions.fadeIn.animated(v-show="startquestion")
				transition(name="page-animation",v-for="answers,index in answerlist")
					.page-box(v-show="answerShow[index]",:class="'answer-page-'+(index+1)")
						.content
							h2 我们总有「这样就够了」的时刻
							p 以下哪种情况最符合你？
							.answers
								.answer.fadeIn.animated(v-for="answer,indexi in answers",@click.prevent.stop="selecteFun(answer,index,indexi)")
									.checkbox
										.right(v-if="answer.selected")
									.text {{answer.text}}
							.names.fadeInLeft.animated(v-if="answerFinished && index==2")
								span 最后，我们怎么称呼您？
								input(v-model="nickname")
							.btn.small.fadeInRight.animated(v-if="answerFinished && index==2",@click.prevent.stop="startPrinterFun") 提交查看你的肌密报告
			.page.lab-printer(v-if="startprinter")
				//- .printer-bottom
					img(:src="'#{url}img/printer-bottom.png'")
				//- .printer-bg
					img(:src="'#{url}img/printer-bg.png'")
				transition(name="printer-animation")
					#printer-page.printer-page.fadeIn.animated.duration-10(v-show="printerover",v-touch="gotoProFun")
						.face.fadeIn.aniamted.delay-3
							img(:src="'#{url}img/face.png'")
						.item.fadeIn.aniamted.delay-5
							img(:src="'#{url}img/line-'+score.join('-')+'.png'")
						.texts
							p.fadeInUp.aniamted.delay-7 整体报告显示你拥有
							h1.fadeInUp.aniamted.delay-9 {{printer.title}}
							p.fadeInUp.aniamted.delay-11 {{printer.description}}
							p.fadeInUp.aniamted.delay-13 想还原完美肌肤吗？下滑有妙招！
							.icon.arrow-down.fadeInUp.aniamted.delay-15(@click="gotoProFun")
								img(:src="'#{url}img/arrow-down.png'")
				transition(name="printer-animation")
					#over-page.over-page(v-show="overpage")
						.text-for
							p TO: 
								span.nickname {{nickname}}
							p 送上一份还原完美肌的万能贴士！
						.tips
							//- img(:src="'product-'+product+'.jpg'")
							slider#slider.slider(:overpage="overpage")
								.slide
									img(:src="'#{url}img/product-1.png'")
								.slide
									img(:src="'#{url}img/product-2.png'")
								.slide
									img(:src="'#{url}img/product-3.png'")
						.texts
							p 分享你的肌密报告<br/>即有机会赢取万能面霜正装
						.btn.btn-post(@click.prevent.stop="sendPostFun") 发布你的肌密报告
						.link(@click.prevent.stop="openNoteFun") *详细活动规则请点击查看
				transition(name="note-animation")
					#note-page.note-page(v-show="shownote")
						.blank
							.close(@click.prevent.stop="closenote")
								img(:src="'#{url}img/close.png'")
							.note-box
								p 活动规则
								p 1.活动时间：2017年11月17日——2017年11月30日
								p 2.根据页面提示参与测试，并晒出为你的“万能美肌贴士”截图至微博并@雅诗兰黛，我们将随机抽取幸运粉丝获得万能面霜正装1份
								p 3.雅诗兰黛多效智妍精华霜正装（一人一份，共10份）
				transition(name="note-animation")
					#note-page.note-page(v-show="sharesuccess")
						.blank
							.close(@click.prevent.stop="closeshare")
								img(:src="'#{url}img/close.png'")
							.note-box
								h2 报告分享成功
								p 请关注官方微博后续开奖结果
								.btn 我们为你准备了雅粉专属服务<br/>快去线下门店体验还原完美肌肤吧！


block js
	- url = "/"
	//- script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
	script(src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1605288503",charset="utf-8")
	script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/axios.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/vue.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/tween.min.js")
	script(src="js/main.js?v=4")

	
