extends ../libs/jade/layout-clean
block title
	| 新速腾


block css
	meta(name="author",content="m.giccoo.com")
	link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css?v=1")

block content
	//- url = "http://image.giccoo.com/projects/volvo_s60l/"
	- url = "/xinsuteng/"
	
	.main.hide
		.content
			.logo
				.logo-box
					.left
						img(src="#{url}img/logo-left.jpg")
					.right
						img(src="#{url}img/logo-right.jpg")
			.kv
				//- img(src="#{url}img/banner-m.jpg")
				a.link.pc-show(href="http://vw.faw-vw.com")
					img(src="#{url}img/goto-website-button.jpg")
				a.link.m-show(href="http://vw.faw-vw.com/m")
					img(src="#{url}img/goto-website-button.jpg")
			.register
				.bg
					img(src="#{url}img/register-bg.png")
				.form-box
					register#register(action="http://api.giccoo.com/xinsuteng/insert/")
			.zc-box
				.title
					img(src="#{url}img/jinrong-title.png")
				slider#mainSlider.sliderBox(myid="mainSlider",repeat="true",callback="changeMain",list="#{url}img/jinrong-1.png,#{url}img/jinrong-1.png,#{url}img/jinrong-1.png")
					.left
						img(src="#{url}img/left-button.png")
					.right
						img(src="#{url}img/left-button.png")
				.points
					span.on
					span
					span
			.video-box
				.title
					img(src="#{url}img/video-title.png")
				.box
					.box-content
						|<iframe height=300 width=480 src='http://player.youku.com/embed/XMTc0MTIzMDExNg==' frameborder=0 'allowfullscreen'></iframe>

			.cars
				.title
					img(src="#{url}img/car-title.png")
				slider#secondSlider.sliderBox(myid="secondSlider",repeat="true",callback="changePoint",list="#{url}img/car-info-1.png,#{url}img/car-info-2.png,#{url}img/car-info-3.png,#{url}img/car-info-4.png")
					.left
						img(src="#{url}img/left-button.png")
					.right
						img(src="#{url}img/left-button.png")
				.points
					span.on
					span
					span
					span

			.news
				.title
					img(src="#{url}img/news-title.png")
				.news-img
					img(src="#{url}img/news-banner.jpg")
				.news-content
					h3 如何让生活变得有质感?
					p 不论男女，大家在沏茶小聚或是工暇闲语之际都会热衷于探究这样的问题：如何提高生活品质？什么才是 「有品质」？
					p 设计感？质感？性价比？情怀？仔细想想这些常常和品质相伴出现的词汇似乎都没有办法精准囊括「品质」这一概念。
					p.text-center
						a.more(href="https://promotion.zhihu.com/p/19701006")
							img(src="#{url}img/more-info.jpg")

block js
	- url = "/"
	script(src="http://image.giccoo.com/projects/libs/js/min/Zepto.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	//- script(src="http://image.giccoo.com/projects/jaguar/js/cityData-min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/riot.min.js")
	script(src="js/tags.js?v=1")
	script(src="js/main.js?v=1")

	script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();