extends ../libs/jade/layout-clean
block title
	| 2015 年度保险产品评选
block css
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")

block content
	- url = "/"
	.wechat-share-hide
		//- img#share(src="http://disk.giccoo.com/projects/Yili-Eat-World/img/share.jpg")
	#loading.loading.loaded
		div.loading-logo
			.loading-normal
				img(src="#{url}libs/img/loading-normal.png")
	.share-wechat(onclick="hideShareWechat()")
	.wrap
		//- playsound(src="#{url}Yili-Eat-World/mp3/bg.mp3",icon="true",icon-play="#{url}Yili-Eat-World/img/audio-play.png",icon-stop="#{url}Yili-Eat-World/img/audio-stop.png")
		begin.page.begin.hide
		//- game.page.game.hide

	.qrcode#qrcode

block js
	- url = "/"
	script.
		var productlist = [
			{name:"年度健康保险产品" , list: [
				{code: 101, name:"永安保险-和睦医疗保险", description: "该产品是永安携手高端外资医疗机构和睦家推出的一款高端专属医疗保险产品。客户在和睦家发生的属于保险责任范围内的医疗费用，无需客户支付，由永安保险直接与和睦家结算，让客户在和睦家放心、尽情享受国际标准的高品质医疗服务，并且得到充分保险保障。"},
				{code: 102, name: "永安保险 －马泷种植牙及正畸医疗保险", description: "该产品是永安联合世界级种牙和正畸专业机构--马泷齿科推出的一款高端齿科保险，不论是因意外种植牙，还是投保前已有正畸或种植牙需求，都可获得保险保障，并且投保本产品的客户在马泷齿科种植牙可享受10年的品质保证。"},
				{code: 103, name: "中英人寿－乐福一生重大疾病保险", description: "保障全面：涵盖重疾、轻症等多重责任，提供全面经济支撑呵护终身：保险期间覆盖终身，呵护一生健康赔付升级：男性高发的肺癌/肝癌/前列腺癌和女性高发的肺癌/乳腺癌/宫颈癌等癌症，赔付保额150% 关爱儿童：依据疾病特点，设置儿童特有轻症及重症疾病保障范围高额投保：儿童保额最高可达50万，高额保障可覆盖终身。"},
				{code: 104, name: "平安产险－平安个人近视眼健康保险", description: "近视眼已经成为我国最为突出的眼科疾病，尤其是青少年视力问题。现在青少年由于学业、爱玩数码产品、生活习惯不规律、遗传等因素，导致我国青少年近视眼的问题非常突出。据统计目前我国共有4亿多近视眼患者，近视发病率达33.3%，小学生近视率超过25%，初中生近视率达到70%，高中生近视率达到85%，每年以8%的速度增长，居世界第一位。目前，矫正视力、解决近视眼问题主要方法是佩戴眼镜，这便带来市场对配镜的需求不断在扩大。但是，市场配镜价格并不便宜，一副眼镜少则四五百，多则需要上千元。因此，对于这笔费用的开支，我们作为保险切入点，为近视眼配镜费用提供费用补偿。即被保险人在保险期间内，视力比投保时候的增长约定的度数时候，被保险人的配镜损失将通过这个保险获得赔偿。这是目前行业唯一一款关注近视眼健康的保险产品，为广大近视眼客户提供一份独特保障，并与宝岛眼镜合作，共同推广健康用眼理念。"},
				{code: 105, name: "中荷人寿－中荷一生呵护终身重大疾病保险(DDL)", description: "超高性价比优势：中荷一生呵护终身重大疾病保险(DDL)是2013年费率市场化后中荷人寿基于新的定价标准开发的首款终身重疾险，具有更高的性价比，可让客户花更少的钱获得更多的保障。保障范围更全面：为客户提供42种重大疾病、11种轻症重疾保障，让客户购买无后顾之忧。终身保障更长久：为被保险人提供终身的健康保障，让客户一生尽享周全的健康呵护。"},
				{code: 106, name: "光大永明－金保安康健康保障计划", description: "充分考虑到客户长期重大疾病保障需求，创造性地打破重大疾病给付一次即责任终止的传统设计；更加人性化地加入了轻症疾病保障和豁免功能，重疾、轻症多次给付，保障数目更多、范围更广、周期更长，且无须担忧患病后的家庭财务恶化。通过组合设计，客户在获得重疾、养老等多项保障的同时还能有长期稳健的收益。"},
				{code: 107, name: "光大永明－康爱无忧更新型疾病保险", description: "覆盖所有癌症，特别针对发病率高的胃癌、肝癌、肺癌提供额外保障，保证续保最大限度保护消费者权益，是一份人人都买得起的防癌保险！"},
				{code: 108, name: "中德安联－安联安康逸生综合保险计划（B款）", description: "安联安康逸生综合保险计划（B款）由“安联安康逸生两全保险（B款）”和“安联附加安康逸生长期重大疾病保险（B款）”、“安联附加安康逸生轻症重疾疾病保险（B款）”组合而成。提供32种重大疾病保障、最多赔付三次的12种轻症重疾保障；健健康康到满期，即可领取满期金，为退休生活锦上添花；除了周全的健康保障外，还提供生命保障，在遭遇风险时延续对家人的爱；多种缴费期间及保障期间可供选择，完美体现保险产品对家庭需求的人性设计。"},
				{code: 109, name: "中德安联－安联安康长佑终身重大疾病保险", description: "终身享受健康保障，抵御罹患重大疾病带来的风险。全面涵盖20种未成年人重大疾病及45种成年人重大疾病，疾病种类居市场同类产品前列。最高多达3次的重大疾病赔付，针对特定恶性肿瘤提供额外20%的保障，减轻医疗负担。保障扩展至12种轻症重疾（未成年人5种），享有20%的专项保障。同时享有身故及全残保障。万一不幸患终末期疾病，将按身故保险金金额提前给付生命尊严保险金，守护您和家人度过风风雨雨。"},
				{code: 110, name: "新华保险－健康无忧系列", description: "健康无忧系列产品包括健康无忧A款重大疾病保险、健康无忧B款重大疾病保障计划、健康无忧C款重大疾病保险,健康无忧青少版重大疾病保险，四款产品可分别满足不同阶段客户的不同需求。健康无忧A款产品给客户提供定期重大疾病保障，通过相对低廉的价格，向客户提供60种重大疾病以及15种轻症的赔付保障。产品设计了期满、岁满多种保险期间，供客户灵活选择。健康无忧B款重大疾病保障计划，是一款“定期重疾保障+满期给付保费”的产品,在向客户提供60种重大疾病以及15种轻症的赔付保障的同时，满足客户保险期满后获得保费需求。健康无忧C款重大疾病保险，是一款可以给客户带来终身健康保障，将60种重大疾病以及15种轻症的保险保障延长至终身，免除客户后顾之忧。健康无忧青少版重大疾病保险特别针对儿童以及青少年给予健康保障。"},
				{code: 111, name: "新华保险－康健无忧", description: "康健无忧重大疾病保障计划是针对银代渠道开发的一款费率市场化、满期给付保费的重大疾病保险计划。该计划涵盖60种重疾，15种轻症，通过相对低廉的价格，给客户提供20、30年以及至70、80周岁的保险期间方便客户选择。此外，满期给付主附险保费，兼顾客户保障和资金积累的需求。"},
				{code: 112, name: "渤海人寿-恒顺安康恶性肿瘤疾病保险", description: "该产品是一款专门提供癌症保障的疾病保险产品，除提供肺癌、肝癌等100多种癌症全面保障外，更专门针对男女高发的三种特定癌症提供1.5倍基本保险金额保障，保障全面、贴心。除具备高额保障功能外，该产品同时具有返还功能，若被保险人“无癌而终”，将按照被保险人身故时合同累计已交纳保险费（不计利息）与被保险人身故时合同现金价值的较大者给付身故保险金。该产品突破一般投保年龄范围的限制，最高可放宽至75周岁，老年人也能买，保险期间长达终身，尽力提升癌症保障力度。在交费方式上，客户可选择趸交、5年交、10年交或20年交。该产品还针对不同人群定位了“孝心版”、“关爱版”、“自强版”三个版本，可以为整个家庭的每位成员提供癌症保障。积极响应国家保险费率改革政策的号召，尽己所能让利于消费者，使得该产品价格极具市场竞争力，做到实惠，买得起。"},
				{code: 113, name: "太保寿险-团体终身重大疾病保险", description: "针对我国重大疾病呈现的普遍性、高发性、年轻化的严峻趋势，中国太平洋人寿保险股份有限公司在2014年底推出了《团体终身重大疾病保险》，集重疾保障、身价保障和资金累积规划于一体，能给予企业员工一生的保障呵护。该产品保障病种全面、投保年龄宽泛、保障期限终身、保障额度充足、缴费方式灵活、现金价值高、理赔手续简单、性价比高，是企业员工福利保障规划之首选。“公司给我们投保了太平洋寿险的团体终身重疾险后，我们感觉特别安心，生活也轻松、稳定了许多！”——这是一位团体终身重疾保险被保险人的由衷感言！"},
				{code: 114, name: "幸福人寿－幸福安享幸福恶性肿瘤疾病保险", description: "“幸福安享幸福恶性肿瘤疾病保险”是幸福人寿为银行保险渠道客户打造的一款专业防癌保险。其保障功能清晰明确，保费相对低廉，具有较高的性价比高，适合大众人群购买。该产品提供恶性肿瘤疾病保障和身故保障，产品等待期缩短为180天。客户首次发病即可获赔恶性肿瘤疾病保险金，用于癌症治疗费、护理费、营养费、进入药品费、家庭损失补充等各种花销。"},
				{code: 115, name: "平安健康－团体中端住院", description: "1. 突破社保目录限制，无需额外拓展责任，进口药、特效药均可报销。 2. 一旦发生我公司指定的严重疾病，保障额度可翻番，还可以享受VIP、特需病房，协助进行网络内医院就医安排。 3. 人性化产品设计，根据区域差异灵活设计产品保障内容和定价。"},
				{code: 116, name: "平安健康－团体中端门诊", description: "1. 突破社保目录限制，无需额外拓展责任，进口药、特效药均可报销。 2. 人性化产品设计，根据区域差异灵活设计产品保障内容和定价。"},
				{code: 117, name: "安华农业－情人保", description: "随着社会经济的快速发展，人民的物质生活水平大大提高，但与此相悖的是，在物质文明高速发展的进程中存在着精神生活匮乏，人们之间缺少关爱的不和谐现象。我公司研发的情人保意外伤害手术津贴保险，以互联网为销售渠道，通过方便快捷的交易方式，为家人、亲人、情人间的彼此关爱搭建桥梁，让他们感受到那份恰如其分的关爱。该产品通过给付住院津贴的赔偿方式，解决被保险人因工作不便等原因产生的陪护烦恼，让这份关爱时刻围绕在爱人身边。"},
				{code: 118, name: "安华农业－女性特定疾病保险", description: "女性癌症发病率逐年上升，特别是乳腺癌和宫颈癌已经成为威胁女性生命的首要杀手。为了真正从关爱女性的角度出发，摒弃普通重大疾病保险承保范围宽泛的缺点，弥补一些特定女性疾病得不到保障的缺失，我公司研发了女性特定疾病保险，针对女性特有的七个部位的原发性恶性肿瘤提供定制专属保障。承保此款产品的被保险人在观察期内初次诊断患有本保险合同中列明的特定疾病的，保险人将被保险人所缴纳的保险费如数返还；反之，在观察期后初次诊断患有上述疾病的，保险人将按照合同约定给付保险金。"},
				{code: 119, name: "华夏人寿－常青树重大疾病保险（2015）", description: "常青树重大疾病保险（2015）集身故、全残、重大疾病、轻症、疾病终末期、轻症豁免保险费六大责任于一体。①保障最全。涵盖身故、全残、61种重大疾病保障至终身、15种轻症、疾病终末期给付责任。其保费豁免责任亦显人性化，一旦被保险人发生任一种轻症，则免除后期保费，保险合同继续有效。②保费最低。采用3.5%的预定利率，保险费率市场化改革以后的新品，是行业内费率最低廉的产品之一。"},
				{code: 120, name: "英大泰和人寿－英大元鸿B健康保障计划", description: "这是一款既能规划重疾风险保障又能兼顾满期给付的多功能分红保险产品计划，由重疾和两全保险组成。其所保障的疾病保障种类中，既涵盖了50种一般重大疾病、又涵盖了13种轻症疾病，帮助客户更加从容的应对人生中可能遇到的疾病风险。为了使这款产品在重大疾病保险责任上更加具有特色，产品设计中加入了“特定重大疾病保险金”，对于12种特定重大疾病进行额外给付。本健康保障计划满期时，如果客户未发生重大疾病的相关保险责任，还会获得一份满期保险金，作为养老储备。作为分红险，元鸿B两全保险还可以分享公司的经营成果。"},
				{code: 121, name: "英大泰和人寿－英大泰和安康E两全保险英大附加泰和安康E提前给付重大疾病保险", description: "这是一款保障全面的健康保险，保费低廉，保障病种多，一张保单涵盖50种重疾和18种轻症疾病，同时针对特定恶性肿瘤给予双倍赔付，并对6种女性特殊疾病给予保障，充分体现了人性关爱。若被保险人健康生存至80岁，还可以领取全部所交保费作为祝寿金，补充养老，同时合同继续有效，各项疾病保障直至被保险人100岁。当前威胁人们健康生活的疾病越来越多，英大泰和安康将为您的健康保驾护航！"}
			]},
			{name:"年度养老保险产品" , list: [
				{code: 201, name: "中荷人寿－中荷金生无忧养老年金保险C款（BDC）", description: "三年缴费益终身：缴费期间仅三年，即可获得长至终身的养老保障；领取年龄随心选：55岁、60岁、65岁，三种年金起领年龄可根据客户实际需要随心选择更周到；月月领取更贴心：年金按月给付，可有效补充养老，保证客户高品质的退休生活。"},
				{code: 202, name: "光大永明－尊逸天年养老年金保险", description: "该产品是一款领取灵活并可自由选择的养老型产品；客户可自由选择养老年金领取的年龄，交费方式也灵活多样，提供多达五种方式领取养老年金，是规划退休生活的绝佳选择。"},
				{code: 203, name: "光大永明－福运百年养老年金保险（分红型）", description: "该产品年金给付年年递增，最高增至首期年度年金给付金额的200%；养老年金的保证给付期长达二十年，并可享有祝寿金。该产品还额外享有分红收益。层层保障充分保证了养老生活的品质，是规划退休生活的最优选择。"},
				{code: 204, name: "长江养老－长江薪酬延付养老保障管理产品", description: " 长江薪酬延付养老保障管理产品是长江养老保险股份有限公司创新设计，上海浦发发展银行担任养老保障管理基金托管人，专注于为企事业单位提供养老薪酬或激励资金延付的专项养老保障管理产品。该款产品具有“信托型、标准化、集合型、账户式”的特点，通过一系列创新设计，有效满足企业在人力资源管理方面的特定激励约束管理需求，建立与员工考核激励挂钩的薪酬延付机制，同时实现延付资金的保值增值及员工养老需求。该款产品有助于国企深化薪酬体系改革，完善员工薪酬福利及养老保障机制，是保险市场上专注于为企事业单位提供养老薪酬或激励资金延付服务且提供企业账户及个人账户服务的首款专项产品。产品一经面市即获得了广大国有企业的认可，首期发行规模达到40亿元。产品优势特点如下：（1）功能突出，选择灵活。该产品主要满足企事业单位建立多层次、多样化的员工养老保障以及薪酬延付的需要，产品下设多款标准化投资账户，以满足企业不同的薪酬延付资金管理需求，实现短期延付与长期延付、保值与增值机制安排相结合的机制安排。（2）标准统一，加入便捷。该产品具有统一的管理人、合同文本、投资组合、费率和服务统一标准。（3）信托模式，资产独立。该产品采用信托模式，委托人通过加入该计划而形成的养老保障委托管理基金与企业、受托人、第三方托管的自有资产的隔离，充分保障基金的独立性和委托人的权益。（4）信息透明，规则灵活。该产品将清晰说明管理费收取信息；同时将按照及时、真实的原则对所有委托人以多种形式公开披露计划运营管理情况，并通过网上、电话等渠道向受益人提供账户查询服务。产品运营规则灵活，企业可实行灵活的缴费分配和领取方案，通过对领取条件的限定既能满足企业员工的养老需求，也能发挥中短期激励的作用。"},
				{code: 205, name: "长江养老－企业员工持股计划专项养老保障管理产品", description: "2014年6月，中国证监会发布《关于上市公司实施员工持股计划试点的指导意见》，2014年7月，上海市委市政府发布《关于推进本市国有企业积极发展混合所有制经济的若干意见（试行）》，提出“混合所有制企业按照国家规定探索实施员工持股。” 在深入理解新政规定基础上，长江养老设计开发企业员工持股计划专项养老保障管理产品，专项配套试点企业实施员工持股计划,建立公司和员工的利益共享机制, 完善企业中长期薪酬机制,开展混合所有制改革的先行和先试。产品下设专项投资账户根据企业员工持股计划定制。以本产品为载体，承接了上海市首个试点的国有控股上市公司员工持股计划的管理，规模达18亿元。"},
				{code: 206, name: "中德安联－安联逸升汇赢终身年金保险（分红型）", description: "快速给付，年年享有生存金，不需要漫长的等待就可以享有保险利益。逐年递增，终身领取不封顶，一旦投保，从第一个保单周年日起即可每年领取生存金,首年生存金为10%基本保险金额，及时快速地满足资金需求。除了每年享有的生存金外，自被保险人年满55周岁后的首个保单周年日起，每年还可以额外领取10%基本保险金额的生存金，直至终身，尽享悠然丰年。除了每年领取生存金直至终身外，万一客户在保险期间内不幸身故，身故保险金将不低于身故时累计应交保险费，延续对家人的责任与关爱。此外，每年将以现金红利的形式进行分配，让客户共享公司经营红利。"},
				{code: 207, name: "中德安联－安联逸升优享年金保险（分红型）", description: "快速年金给付，加倍养老补充。投保次年即可开始领取年金，到年满60周岁前的每个保单周年日，年金金额为10%基本保险金额。年满60周岁后的每个保单周年日到满期日，领取年金金额增长为30%基本保险金额。享有增额年金红利和终了红利，分享公司经营成果。还可将每年领取的年金留存在保险公司累积生息，积攒财富，需要时再一次性提取出来。同时享有不低于应交保费的身故保障。"},
				{code: 208, name: "长江养老－长江薪酬延付养老保障管理产品", description: "长江薪酬延付养老保障管理产品是长江养老保险股份有限公司创新设计，上海浦发发展银行担任养老保障管理基金托管人，专注于为企事业单位提供养老薪酬或激励资金延付的专项养老保障管理产品。该款产品具有“信托型、标准化、集合型、账户式”的特点，通过一系列创新设计，有效满足企业在人力资源管理方面的特定激励约束管理需求，建立与员工考核激励挂钩的薪酬延付机制，同时实现延付资金的保值增值及员工养老需求。该款产品有助于国企深化薪酬体系改革，完善员工薪酬福利及养老保障机制，是保险市场上专注于为企事业单位提供养老薪酬或激励资金延付服务且提供企业账户及个人账户服务的首款专项产品。产品一经面市即获得了广大国有企业的认可，首期发行规模达到40亿元。产品优势特点如下：（1）功能突出，选择灵活。该产品主要满足企事业单位建立多层次、多样化的员工养老保障以及薪酬延付的需要，产品下设多款标准化投资账户，以满足企业不同的薪酬延付资金管理需求，实现短期延付与长期延付、保值与增值机制安排相结合的机制安排。（2）标准统一，加入便捷。该产品具有统一的管理人、合同文本、投资组合、费率和服务统一标准。（3）信托模式，资产独立。该产品采用信托模式，委托人通过加入该计划而形成的养老保障委托管理基金与企业、受托人、第三方托管的自有资产的隔离，充分保障基金的独立性和委托人的权益。（4）信息透明，规则灵活。该产品将清晰说明管理费收取信息；同时将按照及时、真实的原则对所有委托人以多种形式公开披露计划运营管理情况，并通过网上、电话等渠道向受益人提供账户查询服务。产品运营规则灵活，企业可实行灵活的缴费分配和领取方案，通过对领取条件的限定既能满足企业员工的养老需求，也能发挥中短期激励的作用。"},
				{code: 209, name: "渤海人寿－福禄年年终身年金保险", description: "多种交费方式，满足客户的不同需求；年满60周岁即可按所交保险费一次性领取祝寿保险金；60岁开始即可每年领取生存保险金（保证领取至80岁），活到老，领到老，老有所依；年满60岁前身故的，按所交保费与现金价值较大者给付身故保险金。"},
				{code: 210, name: "太保寿险－安享年年年金保险", description: "太平洋保险 “安享年年”是一款具备多项功能的全面型养老保险产品，自上市以来收获市场的一致好评,2015年新保保费收入1.5亿元占法渠期缴年金险的20%。其养老保障与重疾给付的全新组合，让客户既能与公司分享分红保险的经营成果、享受财富增值、助力教育金、养老金的储备与规划，又能为健康医疗提供保障。同时安享年年投保起即每年返还年金，为客户的家庭提供稳定的现金流，合理规划未来的幸福生活。"}
			]},
			{name:"年度终身寿险产品", list: [
				{code: 301, name: "中英人寿－永安鑫终身寿险", description: "为客户提供长至终身的高额保障，一张保单，一辈子的守护。保险金额自第二年起，每年以3%的固定复利累积，身价倍增！领取灵活，在人生各个关键时期，满足资金所需，生活自在又从容。部分领取保单现金价值，在退休后用作养老金，享受安逸、自主的晚年生活。身故/全残保险金可以作为财富传承给子女，延续家族荣耀，构筑未来幸福。"},
				{code: 302, name: "百年人寿－百年安康一生终身重大疾病保险", description: "1. 保费低廉，保障充分,涵盖40种重大疾病及10种重疾轻症保障，费率市场化产品设计，超高性价比。2. 终身保障，一定赔付,百年安康一生重大疾病保险保障至终身，如客户未患重疾，身故后其受益人可获得约定保额赔付。3.轻度重疾，构筑防线 ,轻度重疾独立给付20%的重疾险基本保险金额（仅给付一次且不超过10万），彰显重疾产品人性化。4.灵活附加，抗击风险,该产品还为投保人提供万能理财账户、住院费用、住院补贴、意外伤害、意外医疗、附加定期寿险、附加女性特定、附加轻症豁免等多种附加险选择，为客户量身定做，呵护今生。5.重疾绿通，排忧解难,免费为20万保额客户开通重疾绿色通道，提供诊疗超值专属服务。"},
				{code: 303, name: "百年人寿－百年富贵尊享终身年金保险（分红型A、B、C款）", description: "该产品采用国际上最流行的保额分红方式，帮助客户有效抵御通货膨胀，客户可与公司共同分享公司的投资收益，为自己购买一份会长大的保。该产品投保年龄为出生28天-60周岁，交费方式灵活便捷，客户可采取趸交，3年、5年、10年、15年、20年多种交费方式，祝寿金也可根据客户需要选择60周岁、65周岁、70周岁三个领取年龄，保障期限为终身。该产品具有极具特色的“二快一久”的保险理财产品特征，即“生存金领取快，祝寿金返还快，领取持久至终身”，深入契合了客户对于资产安全性、流动性、收益性等多方面需求，旨在帮助中产家庭和成功人士合理规划财富人生之路，有效解决客户退休后的养老问题。"},
				{code: 304, name: "光大永明－鸿运相传终身寿险A款（分红型）", description: "该产品为我公司屡获大奖的“3G”家庭保单明星产品之一，提供长至百岁的身故、高度残疾和满期领取保障，提供月交和年交的灵活交费方式，并提供现金红利、抵交保费、累积生息、增额交清四种红利分配方式供客户选择，并可选择涵盖医疗、养老、意外、教育等多方面的附加险，实现一人买主险，全家都可选择经济实惠保障的家庭保单。该产品还额外享有分红收益，具有很强的资金积累功能。"},
				{code: 305, name: "中德安联－安联安顺汇福终身寿险（分红型）", description: "提供长至终身的生命保障，无论意外还是疾病，在风险发生后均可延续对家人的责任和关爱，身故受益人领取保险金时不受遗产税和投保人债务影响，实现财富100%传承。特有联合人寿功能，客户和家人只需一张保单，见证一家人的亲密关系和深厚情感。除终身保障和财富传承外，安顺汇福还具备养老规划功能。保单生效10年之后，可将终身寿险全部或部分现金价值转换为年金领取，为老年生活锦上添花。终身可分享保险公司提供的现金红利，为自己和家人多一份回报，可选择现金领取、留存在保险公司累积生息、增加保额或抵交保费的任何一种方式获得红利。"},
				{code: 306, name: "中德安联－安联超级随心终身寿险（分红型）", description: "出生7天即可投保，终身保障始终相随，未雨绸缪一生安心。保险期间内，享有身故或全残保障。如果是意外，或是公共交通、重大自然灾害导致的身故或全残，还可分别额外获得100%和200%的保险金，为家人的生活提供一份稳固的财务支持，延续爱和责任。如果客户不幸罹患终末期疾病，可提前给付保险金，充分体现生命尊严。联合人寿功能让客户与配偶共享一份保单，见证美好家庭。缴费期限具有灵活的设置，可以在1-60年中任意选择缴费期限，还可在年交/半年交/季交/月交等方式中任意选择，减少交费压力，同时客户可以根据自身需求随心搭配各种附加险，量身定制完善的保障计划。"},
				{code: 307, name: "华夏人寿－传家宝终身寿险（B款）", description: "华夏传家宝终身寿险（B款）是市场上性价比最高的保障型产品之一，该产品保障至终身，被保险人不论因遭受意外还是疾病，导致身故或全残均可得到保额赔付，既解决了现实生活中的经济风险对被保险人可能造成的损失，又可以为家人留下了一笔高于投资的财富，是一种明智的理财手段。最适合给在家庭中收入是主要经济来源的家庭成员购买，用来弥补其身故或失去劳动能力后带来的家庭收入的减少，保证家人的正常生活。"}
			]},
			{name:"年度两全保险产品", list: [
				{code: 401, name: "吉祥人寿－吉祥人寿祥和利多宝两全保险", description: "是吉祥人寿在费率市场化改革后推出的首款新型固定收益理财产品，产品设计兼顾理财收益和身故保险保障，收益固定有保证，投保额度灵活可选，可进行保单贷款，兼顾资金流动性和收益性。"},
				{code: 402, name: "中德安联－安联超级随心两全保险（分红型）", description: "“超级随心”在五个方面全面突破传统，加长了保障期，可在5-100年中任选保障期，延长了缴费期，可在1-60年中任意选，满期金可选择不同的领取方式，不仅可以自行设定领取频率、领取金额，更可以等额或增额领取；可与各种附加险无限制地搭配组合，实现各类保障的全面覆盖；投保年龄也放宽到出生7天-90周岁。这些突破让客户可以完全根据人生不同阶段的保障需求随心定制最适合自己的保险计划，让个性化定制成为可能。"},
				{code: 403, name: "渤海人寿－恒顺安康两全保险（B款）", description: "投保范围广，18-60周岁的人均能投保。提供全方位的保障内容。保险责任涵盖一般意外身故或高残保险金，交通工具意外身故或高残保险金，驾乘车意外身故或高残保险金，普通身故或高残保险金，保障额度高；保险满期，给付基本保险金额。该产品尤其适合商旅客户、私家车客户的高额意外保障需求，保障客户安心出行。"},
				{code: 404, name: "华夏人寿－华夏财富一号两全保险C款（万能型，升级版）", description: "华夏银保趸交主力险种，自上市以来始终保持稳定的结算利率，客户广泛认可。攻守兼备，长短皆宜，灵活便捷，理财至尊。"},
				{code: 405, name: "英大泰和人寿－英大百万财富年金保险（分红型）", description: "这是一款分红年金保险，集生存保险金领取、祝寿金领取、身故保障于一身。客户除享有保险保障外，还可以参与公司经营成果分配，享受投资盈利分红。另外，客户还可以通过附加英大附加财富管家两全保险（万能型），建立万能账户，让生存金，红利，祝寿金的二次增值，创造更大的收益回报。英大百万财富可以帮助客户应对长期多变的经济环境，构建稳固的家庭资产理财金字塔塔基！"},
				{code: 406, name: "英大泰和人寿－英大英保利年金保险", description: "这是一款具有固定收益的年金类产品，它可以帮助客户实现资金的稳健增值。在产品收益上，每年按累计所交保费的固定比例返还，满期返还保额，收益稳健，安全无风险；在产品期限上，灵活适中，有10、15、20年三种期限，能灵活的满足各个人群对教育、养老等资产配置方面的需求；在产品形态上，责任简单、程序简便，客户容易了解认可。同时这款产品还兼顾了一定的灵活性,客户急需用钱可保单借款。英大英保利产品是家庭资产配置规划中很好的帮手！"}
			]},
			{name:"年度少儿保险产品", list: [
				{code: 501, name: "农银人寿－农银爱成长少儿保障计划", description: "涵盖重大疾病、少儿重大疾病、意外医疗、住院津贴、教育金多项保险责任，全面保障，呵护成长；该产品专门针对少儿保险需求设计保障责任，兼顾保障和收益，是父母、家庭呵护子女成长，传递爱的最佳选择。"},
				{code: 502, name: "平安产险－平安儿童走失找寻费用补偿保险", description: "日前，儿童走失案件频发，引发了家长和社会的广泛关注。按照不同的统计数字，中国每年失踪儿童不完全统计有20万人左右，找回的大概只占0.1%。儿童走失后，家长花大量人力、物力寻找，为帮忙家长找寻走儿童，并为其发生的找寻费用提供补偿，我公司开发了平安儿童走失保险产品。被保险人儿童走失且经公安机关立案的，对于被保险人的监护人为找寻被保险人而发生找寻费用，我公司根据找寻时间进行补偿。同时，被保险人走失后，公司提供少儿走失救援服务 （加投升级版即可赠）。被保险人失踪后，经当地公安机关立案后，救援公司提供被保险人找寻及线索奖金信息快速发布服务（于下述网站发布找寻信息）；协助撰写寻人启事，线索奖金由其监护人支付。 http://www.daguainet.com/index.html 公安部打拐网 http://www.rahj.cn 让爱回家 http://www.baobeihuijia.com 宝贝回家 http://www.shizongertong.com 失踪儿童网 http://www.zgxrqsw.com 中国寻人启事网被保险人寻回后，救援服务公司提供健康体检服务，根据其身体状况提供有关营养方面的咨询。如需心理建设，推荐相关的专家为被保险人进行为期一年的远程心理疏导。同时，我公司与【邓飞微博打拐】合作，可为客户提供下述服务，促进打拐事业，保障儿童安全。 1、依托微博、微信等新媒体工具，合作发布购险家庭失踪儿童信息，寻找和解救被拐者； 2、动员志愿者寻访、参与解救行动； 3、开展被拐受害者救助及防拐教育，开展线上线下主题宣传活动； 4、组织高校志愿者宣传； 5、配合产险联合搭建平安网站打拐页面。"},
				{code: 503, name: "光大永明－成长无忧少儿综合保障计划", description: "该计划包含分红型主险和若干分红、非分红附加险，提供15种少儿重大疾病保障及涵盖住院前、中、后三个阶段的住院医疗和住院补贴保障，25岁可领取全部保险金额的满期金，并全面提供初中、高中、大学三个阶段的教育金保障，可额外增加深造金保障，并提供多达三个深造金领取年龄的选择，孩子成人后，将享受高达三倍保险金额的身故和高度残疾保障。该产品还额外享有分红收益。"},
				{code: 504, name: "吉祥人寿－惟楚有才少儿教育金理财计划", description: "是国内市场上创新推出的互联网+儿童卫士+高等教育金的全能理财产品，为我们的孩子提供专属的高等教育金规划及零花钱增值管理服务，本计划集子女教育、创业、婚嫁、健康、安全、理财于一体，提供大学教育金、研究生教育金，提供少儿易发的30种重大疾病及10种轻症疾病健康保障，附加万能账户为孩子设立独立的成长账户，满足孩子成长过程中的各种需求。"},
				{code: 505, name: "中德安联－安联逸升优享子女培育计划", description: "该计划由“安联逸升优享教育金两全保险（分红型）”和“安联附加投保人豁免保险费失能收入损失保险”组成，保障内容根据孩子成长中各个阶段的需求而设计，规避风险，为子女培育提供资金保障。投保次年起至17周岁，每年给付10%基本保额，18-21岁，每年给付100%基本保额，作为大学期间的重点支持，30周岁时，给付10倍基本保额的满期金，作为而立之年的强大后盾。还享有增额红利和终了红利，分享保险公司的经营成果。万一投保人在交费期内身故或全残，将豁免所有未交保费，确保孩子的教育顺利进行。此外，该计划还为被保险人提供身故保障。"},
				{code: 506, name: "中德安联－安联成长有约子女培育计划", description: "该计划由“安联成长有约教育金两全保险（分红型）”和“安联附加教育金额外给付定期寿险（B款）”、“安联附加投保人豁免保险费失能收入损失保险”组成。在大学教育的四年间（18-21周岁），每年提供100%/120%/150%/180%基本保额的递增教育金支持。若投保人不幸身故或全残，被保险人将获得双倍的教育金给付，同时免除剩余未交保险费。25周岁时，给付500%基本保额的满期金作为教育深造基金或事业启动基金。此外，该计划还为被保险人提供身故保障。如果被保险人在首次给付教育金前身故，我们给付身故时主合同累计应交保险费；如果在首次给付教育金后身故，我们给付剩余的教育金和满期金。"},
				{code: 507, name: "新华保险－i成长少儿教育金保障计划", description: "i成长是新华人寿专为0-10岁宝贝开发的教育金保险，给付匹配子女教育的成长关爱金，不同阶段最高返30%基本保额，并额外添加随意领万能账户让每年返还的钱再增值，满足客户个性化需求。另外、费改新品、保费豁免、返10%首期保费、满期返还等特性表明i成长是一款市场独有的少儿教育金保险。 i成长在为子女规划未来方面有其独特的优势。在产品设计上，i成长专门匹配子女教育规划，可满足育儿的各阶段费用需求，满期给付保险金额，为孩子的未来打好基础；该产品对接万能账户，领取灵活随意，保证最低收益之外，教育金还能与孩子同步成长。i成长还提供保险费豁免功能，防止父母意外风险；作为费率市场化后的自主定价产品，i成长的用户将享有更高的预定利率，另外可实现完全通过网络投保，足不出户即可货比三家"}
			]},
			{name:"年度投资型保险产品", list: [
				{code: 601, name: "安邦产险－共赢2号投资型家庭财产保险（1-10年期）", description: "本产品为投资型综合保险，具备投资收益和保险保障双重功能。收益稳健:在保险期间内，本产品年化收益率随中国人民银行同期公布的对应年期存款基准利率同幅同向联动，且始终比对应的存款基准利率高出对应固定数值；保险期满后，分段计算满期收益，本产品满期年化收益率不低于合同生效时对应的存款基准利率增加对应固定数值；双金兼得:同时享有家庭财产保障和保障金增值收益，理赔保险金和满期给付金的领取额度互不影响；保额复原:保险标的在一个保险年度内遭受损失经保险人赔偿后，本保险年度内的保险金额相应减少，下一保险年度保险金额自动恢复。"},
				{code: 602, name: "安邦产险－共赢3号投资型综合保险（1-3年期）", description: "本产品为投资型综合保险，具备投资收益和保险保障双重功能；收益稳健:在保险期间内，本产品年化收益率随中国人民银行同期公布的对应年期存款基准利率同幅同向联动，且始终比对应的存款基准利率高出对应固定数值；保险期满后，分段计算满期收益，本产品满期年化收益率不低于合同生效时对应的存款基准利率增加对应固定数值；保障可选:火灾家庭财产保险、地震家庭财产保险、航空旅客意外伤害保险三项保障内容任选其一。"},
				{code: 603, name: "光大永明－安鑫宝保险理财计划", description: "该产品短期交费长收益，不间断返还年金15年，并可获得满期高额收益，财富逐年稳定增长；更可免费获得高额的百万意外保障。"},
				{code: 604, name: "光大永明－福运相传财富保障计划", description: "年金年年领取，并随增额红利年年增长，财富增长安全透明；秉承财富传承理念，可将个人财富指定分配多达5人，且指定领取方式灵活选择。附加豁免功能确保个人财富风险无忧。"},
				{code: 605, name: "中德安联－安联安裕丰财（Ⅲ）两全保险（分红型）", description: "安裕丰财III是一款侧重保障功能的分红型两全保险，适合有资金流动需求、偏好长期规划的客户。投保后，每年返还一定比例保险金，满期时返还所交保费，满足多种财务需求，另外可以使客户畅享比交费期长10年的多种保障和保费返还。客户享有三种交费期选择：3年交、5年交和10年交。投保人选择5年交费，保障期就为15年；10年交费，保20年。而且交费期越长，每年生存保险金返还比例越高，最高可达10%基本保险金额。此外，还有双重分红，为财富锦上添花。保障方面，提供包括九大重大自然灾害在内的多倍意外保障，交费更轻松、回报更丰厚。"},
				{code: 606, name: "中德安联－安联汇金世家投资连结保险", description: "作为全球新的经济增长点，中国经济充满活力，市场遍布投资良机。如何抓住机遇，分享资本市场良好发展的收益？同时还可以兼顾储蓄、养老等保障，又具备一定的资金流动性？汇金世家为倾向于稳健投资的客户而设计，提供进取、稳健、保守三种不同类型的投资账户，分别配置不同的投资品种，供客户选择。快速便捷的账户转换服务，帮助客户捕捉投资机会，轻松调整收益与风险之间的平衡。客户可按约定领取投资账户价值，应对人生各阶段所需的各项支出。在获得潜在投资收益的同时，还享有长至终身的人身保障。"},
				{code: 607, name: "富德生命人寿－富德生命创富人生年金保险计划", description: "富德生命创富人生年金保险计划是一款资金安全，终身领取，收益强劲，自主支配的理财保险精品。该保险计划由主险“富德生命创富人生年金保险（分红型）”和附加险“富德生命附加金管家D款年金保险（万能型）”组合而成。此主险的生存金和祝寿金设计满足客户成长、创业、养老每一阶段的资金所需，帮助客户合理规划人生。同时，客户不仅可分享分红保险的经营成果，还可享受附加万能账户二次增值，并且万能账户的最低结算利率年利率高达3%，无论市场如何动荡，都不会受到影响。"},
				{code: 608, name: "渤海人寿－福禄永益A款年金保险（万能型）", description: "不仅提供最低收益保证，还可以享受到高收益，同时提供保单贷款功能，满足客户的资金周转需求，持有满1年后退保的，不收取退保费用。客户满65岁，可每年领取年金，满足养老需求。"},
				{code: 609, name: "人保财险－“家全宝” 储金型家庭综合保险", description: "“家全宝”储金型家庭综合保险为业内首款负责财产损失和地震身故的储金型家庭综合保险产品。该产品以高保额、高保障、到期还本为鲜明特点；针对城镇和农村家庭的不同用户设计了A\\B\\C\\D四款不同产品类型，每款产品按照地震风险差异、房屋结构等维度提供不同风险保额的承保方案；集财产安全保障、人身安全保障及资金安全保障于一身；为城市和农村家庭综合风险提供了服务与支持；特别是为地震、洪水等巨灾风险防范提供了强有力的保障。"},
				{code: 610, name: "华夏人寿－福临门年金保险全能理财保险计划（2015至尊版）", description: "返保费。保险合同规定，若被保险人生存至80周岁，保险公司将按已交保险费100%给付满期保险金。收益稳。在保单生效当日，客户即可获得第一笔生存年金给付，给付金额为保险金额的20%；客户60周岁前的每个保单周年日，按照保险金额的20%给付生存年金；客户满60周岁的每个保单周年日起，每年按照保险金额的40%给付生存年金。增值快。为帮助客户理财，该理财计划为客户设立了专项理财金账户，即华夏金管家年金保险（万能型,C款），返还的生存年金自动进入该账户二次复利增值，该账户保底结算利率3.5%。"}		
			]},
			{name:"年度综合保障计划", list: [
				{code: 701, name: "都邦保险－“好房东&好租客”激活卡", description: "随着城市化进程的加快，大规模的城市流动人口由此产生。房屋租赁过程中经常出现各种意外事故导致房东与租客或第三者因财产损失或人身伤害造成经济压力或纠纷，房东可能在遭遇财产受损失之不幸的同时还可能承担第三者的经济赔偿责任。而承租人通常生活不太宽裕的外来流动人口，在面对遭遇意外事故和赔偿经常处于被动，甚至可能引发一些社会矛盾，而保险素有“社会稳定器”之称，在这种情况下，都邦保险推出“好房东&好租客”两款分别针对租客和房东综合保障方案。 “好房东”覆盖出租人责任、第三者责任、财产损失、租金损失等保障，实现出租人、承租人安心无忧；“好租客”则覆盖了个人财产损失、包含房东财产在内的第三者责任、租房费用和租金损失保险等等。“好房东&好租客”两款综合保障方案，针对性强、投入低、保障高的特点，为广大房主和租客提供安心服务，在很大程度上解决了房东和租客的后顾之忧，并希望实现保险缓解经济压力和化解社会矛盾之初衷。"},
				{code: 702, name: "平安产险－平安马拉松保障计划", description: "2014年国内举办马拉松赛事达到51场次，参赛人次超过90万，创下新高。随着马拉松及各类路跑活动越来越受到欢迎，参加该类运动面临的各种风险也越来越多引起关注。我公司针对马拉松和公路跑赛事开发了平安马拉松综合保障计划。参加马拉松或公路跑赛事的人都可成为本保险的被保险人。平安马拉松综合保障计划的被保险人在参加马拉松或公路跑赛事期间遭受意外伤害事故、或医疗费用支出、或猝死，都可得到本产品的赔偿。另外，因马拉松和公路跑赛事地点的特殊性，本产品还专门设置交通身故特别保险金。目前，该产品在我公司微门店销售，提供基本款、升级款、高端款、尊享款四款产品，保额保费不同，客户可自由选择，随时随地方便购买。根据资料显示，GDP排名靠前的国家和马拉松举办场次最多的国家基本上是对应的。中国是世界第二大经济体，人口数量全球第一，但办马拉松赛方面却排在GDP前10名国家的最后，美国每年有700多场，日本也有200多场马拉松赛。可以预见，马拉松赛事在中国还有很大的发展空间，马拉松运动的意外风险也将备受关注，马拉松类保险产品蕴藏着巨大的市场潜力。"},
				{code: 703, name: "中荷人寿－中荷一生关爱重疾养老计划F款(CIF)", description: "中荷一生关爱重疾养老计划F款(CIF)涵盖70种重大疾病，30种轻症重疾，共100种疾病的超全保障范围，业内领先。同时涵盖轻症重疾两次赔付、特定重疾额外赔付的特别关爱。同时中荷一生关爱重疾养老计划F款兼顾客户的养老需求，65周岁，按基本保险保额的25%领取祝寿金。66周岁，按基本保险保额3%领取养老金，领至87岁。88周岁，领取等值于基本保险金额的满期保险金。一份保险，双重保障。"},
				{code: 704, name: "吉祥人寿－吉祥如意保险理财计划", description: "吉祥人寿吉祥如意保险理财计划是吉祥人寿精心打造的首款具互联网思维的高端产品品牌，充分满足中高端人群对家庭资产配置、教育规划、养老保障、大病保障及意外保障等多种需求。提供卓越的私人财富管理及零钱增值服务，具有快速领、双倍领、终身领、保证领、存取易、保障全等“四领一易一全”六大特点。除主险“吉祥如意个人年金保险（分红型）”和附加险“附加吉财宝终身寿险（万能型）”外，还可按需选择附加定期保障、重大疾病、意外伤害、豁免保费等附加险，提供低价、贴心的全面保障。"},
				{code: 705, name: "中德安联－关爱全家", description: "关爱全家”将重疾险、寿险、意外伤害保险、意外伤害医疗保险、交通工具意外伤害保险等产品重新组合，满足客户对纯保障型险种的切实需要。传统团险业务中，由保险公司和投保单位人力资源部门设定保障计划，一家单位的保障计划一般只有两三种，而“关爱全家”突破了固定保障计划的约束，采取保障内容菜单式勾选，方便员工根据自身需要为自己、配偶、子女、双方父母、未婚兄弟姐妹定制各自的保障计划，真正做到惠及全家。"},
				{code: 706, name: "中德安联－超级随心+计划", description: "该计划针对家庭保障而设计，主被保险人作为投保人，为自己以及配偶、子女投保，兼具理财和保障功能。保险期内可获得10倍主险基本保额的满期保险金，另外每年还可根据公司实际经营状况享有现金红利，事先财富积累。保障方面，囊括意外、医疗、重大疾病、女性健康等多项保障，种类丰富，阖家大小节能拥有称心如意的周全保障。一份保单保全家，管理省心、操作省力，保障更省钱，真正实惠到家。万一主被保险人遭遇不幸身故或者全残，将豁免主险的所有剩余保险费，家庭计划不会受到影响。"},
				{code: 707, name: "新华保险－惠鑫宝系列", description: "“惠鑫宝二代年金理财保险计划”是由“惠鑫宝二代年金保险”和“附加随意领年金保险 （万能型）”两款产品组成的理财保险计划，产品可搭配“附加鑫康重大疾病保险”以及“附加鑫乐高倍意外身故定期寿险”，通过人寿保险、意外伤害保险、健康保险的组合，共同构成了全面保障的“金三角”。满足客户全面保险保障需求。"},
				{code: 708, name: "渤海人寿－恒顺安康 健康保障计划（A款）", description: "该计划包含：恒顺安康两全保险（A款），附加恒顺安康重大疾病保险（A款）：保险期间灵活可选，最长可选择保障至80周岁；全面涵盖一般意外、交通意外、自驾意外；覆盖42种重疾保障，既提供高额意外保障，还提供重疾保障，做到意外保障额度够高，重疾保障够全，给予被保险人全面呵护。客户评价：多种意外保障，轻松达到百万；重大疾病保障，让保障更全面，尽心享生活。"},
				{code: 709, name: "人保财险－创业保组合保险产品", description: "李克强总理在政府工作报告中提出要支持大众创业，万众创新，多维度助力小微企业创业创新。创业保网销产品是专门为住宿业，零售业，批发业，餐饮业，商务服务业五大行业中小微企业量身定制的第一款商业类在线保险产品，旨在为企业提供全方位风险保障服务，责任涵盖企财险，责任险，信用险和意健险等7大类保险风险。小微企业可在网页和手机平台上实现在线报价，自动核保，实时出单，查询付费等多项功能，扫码二维码便可进行上述操作，简便灵活，有效解决传统分散性产品报价难出单繁琐的问题。同时，企业可自由搭配各项保障内容的责任限额，餐饮企业可选择性投保餐饮经营责任保险，差异化的产品保障最大限度的满足了客户的需求。"},
				{code: 710, name: "人保财险－北美旅游保险", description: "北美旅游保险是面向热点旅游区域推出的特色旅游产品，针对旅游过程中各种风险情形设计开发，独创性提供旅行意外、医疗费用补偿、酒店取消、机票取消、信用卡盗刷等18项丰富保障，24小时紧急支援服务。保障保额自由定制，选择灵活，网络购买方便快捷。"},
				{code: 711, name: "太保寿险－团体长期补充医疗保险", description: "《团体长期补充医疗保险》是中国太平洋人寿保险股份有限公司响应企业客户对补充医疗保障强烈的个性化需求而推出的重点产品，问世以来受到企业客户的高度好评。该产品保障期限长且保障方案灵活，使企业话语权大大提升，企业员工福利综合保障计划的特色更加凸显。该产品既能对国家基本医疗涵盖的门诊/住院治疗费、检查费、药费、手术费等进行衔接和补充，又能提供药房购药、体检、齿科保健、重疾补贴和健康管理等方面的保障，是提升企业员工幸福度、忠诚度的一项重要工具。"},
				{code: 712, name: "幸福人寿－幸福财富尊享年金保险计划", description: "幸福财富尊享年金保险计划”是幸福人寿针对客户对财富保值增值、养老规划和财富传承需求而设计的保险计划。主险在人生不同阶给付不同额度的年金，保证固定收益满足客户对资金稳定增值的需求。主险年金进入附加万能险账户中以月复利形式进行累积，实现利益放大快速增值的效果。同时，通过随时追加、随时领取和约定年金领取的功保证客户财务自由。该计划保障期间直至终身，满足全生命周期财富需求，规避长寿风险。同时设有身故和残疾保障责任以丰富人身保障功能。"},
				{code: 713, name: "安华农业－池塘及大水面养鱼保险", description: "在池塘及大水面养鱼灾害隐患性巨大的情况下，渔业养殖户对保险的需求更加迫切。为此，我公司研发了池塘及大水面养鱼保险，保险责任涵盖了大部分的自然灾害、意外事故和疾病，包括非越冬（结冰）期的暴风、暴雨、洪水、台风、龙卷风、雷击、地震、冰雹、泥石流、山体滑坡、空中运行物体坠落；越冬（结冰）期的，暴雪、乌冰等异常气候现象，增加了保障范围，提高了养殖户的抗风险能力。同时该产品根据保险期间的不同厘定了不同的保险费率，满足了养殖户对保险产品的多样性需求，给渔业养殖户吃下了一颗定心丸。"},
				{code: 714, name: "安华农业－生猪价格指数综合保险", description: "猪肉长久以来一直是中国人传统消费的主要肉食。生猪价格的大起大落给我国物价的整体平稳运行带来了巨大挑战。我公司研发了生猪价格指数综合保险，该产品除了理赔标准可自由选择外，新增加了约定周期和保险期间的多重组合，大大提高了产品的风险分散能力。该产品的主要特点包括：一是保险费率适中，保障程度较高；二是凭国家政府网发布的猪粮比数据，按保险合同的约定进行赔偿金额的计算，省去了大量的查勘人力物力，也免去人为因素产生的赔付不合理的情况。"},
				{code: 715, name: "华夏人寿－华夏富贵竹保险理财计划", description: "华夏富贵竹产品是一款费改后开发设计的期交产品，预定利率达到监管上限为4.025%。交费期短，15年保险期间适合客户合理规划人生。投入三五年，相伴十五载；年金岁岁领，返还节节高；账户可追加，万能收益好，满期返保费，喜获富贵竹。"}
			]},
			{name:"年度意外保险产品" , list: [
				{code: 801, name: "永安保险－电梯意外伤害保险", description: "该产品是针对近年来电梯事故频发的情况设计的一款专属产品，具有保险责任专一，保费相对低廉的特点，为经常乘坐电梯的人士提供保障。"},
				{code: 802, name: "都邦保险－企业保障卡", description: "该卡单价格低廉，保障全面，投保便捷，适用于广大中小企业购买（20人以内），特别是在行业聚集明显的地区更显优势；同时，由于该卡单方案确定，无需二次核保，且可由投保人自助激活不需递送保单，极大地便利销售人员作业。该卡还实现了网上自助保全的功能，可以自助进行人员替换，极大方便客户操作。"},
				{code: 803, name: "平安产险－平安交通重伤金钟罩保险产品", description: "市场上原有的交通意外产品虽包含了身故、残疾、医疗保险责任，但是身故或残疾保险金需在被保险人身故或定残之后才能给付，另一方面，医疗保险金额较低，无法及时满足重伤所需的高额治疗、康复费用，尤其是昂贵的器材费用。从这个角度出发，平安产险与慕尼黑再保险公司联手合作推出平安交通重伤金钟罩保险产品，可及时补偿交通事故所致重大伤残后所需的巨额医疗费用，满足该部分的市场需求。本产品覆盖10类常见重大伤残：颅脑损伤、颈部损伤、胸部损伤、腹部损伤、脊柱和脊髓损伤、骨盆粉碎性骨折、深度昏迷、多发性损伤、严重挤压综合症、植物人状态。被保险人驾驶或乘坐非营运车辆、或者乘坐营运客车时发生道路交通事故遭受列明重大伤残且住院治疗的，可获得本保险产品的保险金给付。被保险人可自由选择10万~50万的保险金额，一经确诊，被保险人可及时获得专属保险赔付，用于所需的医疗费用、康复费用等等，并提供境内医疗费用垫付服务，协助被保险人垫付，解决被保险人的燃眉之急。"},
				{code: 804, name: "平安产险－平安预防接种个人意外伤害保险", description: "中华人民共和国国家卫生和计划生育委员会国卫疾控发〔2014〕19号《关于进一步做好预防接种异常反应处置工作的指导意见》第五条依法落实预防接种异常反应补偿政策中明确了“鼓励和推进地方通过商业保险解决预防接种异常反应补偿问题”的意见。目前，社会大众主要关注疫苗事件以下三方面的问题：1、诊断、鉴定难；2、补偿少；3、偶合症不属补偿范围。因此，我司开发了平安预防接种个人意外伤害保险产品，被保险人接种疫苗后发生预防接种不良反应或偶合症而导致被保险人身故、伤残、医疗费用支出或住院治疗的，保险人依照保险合同约定给付保险金。我公司联合长沙市疾控中心推出疫苗意外保险计划，解决疫苗事件处理三大难点问题。 1、诊断、鉴定难问题：平安产险成立专项服务团队，跟长沙市各级疾控中心和专家诊断组保持紧密联系，第一时间对事件家庭进行安抚，指导并协助参保家庭进行疫苗异常反应事件诊断和鉴定，跟踪事件处理流程，最大程度减少参保家庭负担。 2、补偿标准偏低问题：参保家庭发生疫苗接种异常反应经专家组诊断后，可先在保险公司索赔获得最高10万元的赔偿，然后还可按照补偿办法获得相应补偿，最大程度弥补参保家庭经济损失。 3、偶合症不在补偿办法范围：平安疫苗意外保险将偶合症纳入赔偿范围，进一步完善补偿办法，解决近50%异常反应事件无法补偿问题。平安疫苗保险创新项目，开创了全国疫苗接种防疫事业与商业保险机构合作首例，在完善异常反应补偿机制、应对疫苗事件、维护疫苗事业形象以及维持社会和谐稳定方面做出应有的努力。"},
				{code: 805, name: "安盛天平－驾游天下境外旅行租车保险", description: "如今，海外自驾游在自由行一族中越来越受到追捧。“驾游天下”是安盛天平推出的国内首款海外自驾租车保险，为国人在海外租车自驾量身定制，涵盖在海外自驾高发但车行的保险无法满足的责任，如取车延误损失、拖车服务费用等保障责任，价格却比海外租车类保险产品低，很好地弥补了国人在海外自驾游期间所欠缺的驾车安全保障，让国人的海外自驾无后顾之忧。该产品自2014年4月上线至今，市场反响强烈广受好评，经过1年半的市场研究和经营，驾游天下已经经过了多次改版，更加成熟。目前，该产品与国内多家在线OTA，海外租车平台展开了深度合作，市场口碑良好。"},
				{code: 806, name: "安盛天平－搭车险", description: "作为一家有着专业车险销售背景的财险公司，我们的意外险产品本着贴合用车安全为准则，致力于为广大用车一族提供一站式的用车解决方案。自2014年末开始，一大批拼车、搭车、专车软件就如雨后春笋般涌现，在关注出行便利的同时，我们更加关注拼车这类运营方式出行的安全保障，我们的“搭车险”就由此而来，该产品针对搭车过程中的车上人员安全和乘客责任，特别涵盖了搭车车主和乘客的人身意外保障、医疗保障，除此以外，我们首推了乘客个人责任保障，承担乘客在搭车期间的个人责任，该责任成为日后搭车险的必备保障之一。自2015年1月上线以来，该产品已与多家搭车平台展开合作，市场反应良好。"},
				{code: 807, name: "光大永明－附加安驾宝交通意外伤害保险", description: "一款保障周全的交通意外伤害保险，为客户提供自驾车、公共汽车交通、轨道交通、航空交通在内的几乎全部常用出行方式的意外保障，让客户出行无忧，轻松成就自己的百万身价！"},
				{code: 808, name: "光大永明－嘉和A全方位意外保障计划", description: "一款防御意外伤害的综合保障型产品；它既涵盖了最基本高度残疾、意外身故、意外伤残等重要保障，又提供了更高额度的公共交通意外、私家车意外、法定节假日意外、航空意外保障。在保障额度层层递增的同时还可享受全球紧急救援服务，构筑坚实的意外风险全球防御体系。满期时，不但保证一次性返还全部已交保费，更有20%的固定额外收益。"},
				{code: 809, name: "中德安联－安联无忧国际旅行保险", description: "安联无忧国际旅行保险系列产品设计的初衷就是针对旅游或者差旅人士的需求，保障内容包括紧急门或住院医疗费用、意外身故或伤残保障、紧急医疗救助、医疗转运和送返。如果客户在旅行期间突发急病或者遭遇意外，除了承担相应的医疗费用，公司专业人员还会根据客户的具体情况，安排切实有效的紧急救援服务，帮助客户在最短的时间里获得及时治疗，此外还可以帮助安排国内的亲友前往陪护、探访，或者把与客户同行的孩子送回国，解除后顾之忧，让客户安心养病；如果客户不幸身故，保险公司会将遗体或者灵柩运送回国，并承担相关费用。考虑到不同国家的医疗费用水平有差异，以及不同国家签证时对医疗保险额度的要求，无忧系列旅行保险产品特别设计了不同的计划供选择，保额从几万到几百万元不等。2014年，中德安联对无忧国际旅行产品进行了升级，结合旅游市场的新动向，新产品增加了“体育休闲运动”保障，为那些旅程中尝试潜水、滑水、卡丁车、帆船、观景直升机的旅游潮人们又多提供一份保障。"},
				{code: 810, name: "中德安联－安联安顺随心驾意外保障计划", description: "交通安全在现代生活中的重要性毋庸置疑，随着私家车的普及，自驾成为出行的主要方式之一，但是如果旅程中发生车辆故障等意外事件，不仅耽误接下来的行程，还会影响出游心情。“安联安顺随心驾意外保障计划”特别设计了三档计划，针对目标客户群的保障需求，公共交通、自驾车意外身故或全残将比普通意外身故或伤残额外获得20倍给付。选择豪华版和经典版的客户还可同时享有全年无休的私家车紧急道路救援服务，涵盖同城拖车、送油、搭电、换备胎、送水、电话咨询等快修服务，或者异地安排住宿、安排继续旅行，保障旅途顺畅。"},
				{code: 811, name: "新华保险－畅行无忧2015", description: "畅行无忧（2015）两全保险是专门针对经常驾驶或乘坐私家车及乘坐其他交通工具的客户倾力打造的长期高额意外保障产品。其保障涵盖驾乘车意外、公共交通工具意外、航空意外、一般意外以及疾病身故或身体全残保障等五重保障，驾乘车意外保障更是最高达15倍基本保额，提供长达20、30年的意外保障。此外，产品满期保险金的设计能够满足客户对于保障型产品返保费的需求，能够更好地匹配各阶层客户的投保诉求。"},
				{code: 812, name: "渤海人寿－渤海人寿e-天地游意外伤害保险", description: "产品涵盖意外伤害身故、意外伤残保障，保费低廉，保障程度高，在同业产品中具有较强的竞争力。"},
				{code: 813, name: "大地保险－人在旅途-自驾游系列", description: "该产品承保驾乘非营运客运车以及租赁车期间产生的意外伤害责任。长达一年的保险期限搭配高达20万元的保额能够满足绝大多数经常开车坐车的人的保险需求，同时，精准定位的保险责任也使得该保险产品的保费相对低廉，仅需72元，不会给投保人造成经济负担。"},
				{code: 814, name: "大地保险－e行大地-境外无忧型", description: "该产品承保20万旅行意外伤害、6万突发急性病、75万境外紧急医疗转运与救援、8000元紧急门诊以及4000元紧急牙科门诊。充足的保额，全面的保障内容，搭配7天187元的保费，经济实惠，使得被保险人在异乡也能够得到充足有效的保障。牙科门诊作为特色的保障责任，在同类产品中较为少见，也是该产品的一个亮点。"},
				{code: 815, name: "人保财险－介入诊疗意外伤害保险", description: "近年来介入诊疗技术的应用不断普及，新兴技术带来的新型风险缺乏专业性的保障，传统的手术意外保险不能满足市场和客户的需求。我公司积极响应“国十条”的政策号召，加强了在医疗意外险领域的研究和创新，针对介入诊疗这一较为先进的诊疗手段作为突破口，凭借长期的医疗责任保险经营积累和专业医疗风险人才储备，对介入诊疗中存在的特定风险进行专业评估和量身定制，设计了介入诊疗意外伤害保险及附加健康险产品。该产品的主要特点是专门保障介入诊疗过程中的意外身故和发生率最高的特定残疾、并发症；一旦发生身故或特定残疾、并发症，直接进行定额给付，可以确保客户面临的最重要的风险得到妥善保障，使接受介入诊疗的病患及家属安心手术、安心治疗。"},
				{code: 816, name: "太保寿险－安贷宝个人意外伤害保险", description: "“安贷宝”系列产品是太平洋保险率先在全国范围内推出针对借款人的人身保障产品，2015年全年销售12亿元，不仅为小额金融资金系上了“安全带”，更为广大贷款户撑起了“保护伞”。 “安贷宝”具备“实用、经济、便捷”三大特点，为贷款用户提供保障，解决其后顾之忧；为放贷机构分散经营风险积累客户资源，保证贷款资金的安全性；同时，也为保险公司实现经营效益，实现借款人、信用社、保险公司的“三赢”。"},
				{code: 817, name: "太保寿险－驾培学员意外伤害保险", description: "该产品根据驾培学员意外的特殊性而量身定制,专门承保驾培学员及教练员在机动车驾驶培训学习、考试过程中发生的意外，保障特色鲜明、实用，客户群体定位简单，且有多项计划和期限可供学员灵活选择，是一款不可多的驾培学员意外保险。该产品项目开办以来，产品方案不断丰富优化，2015年学驾险系列产品保费接近1亿元，为驾培市场和学员提供了完善的保障体系，并有效规避和转移了驾驶培训机构的经营风险，为其稳健发展撑起了保护伞。"},
				{code: 818, name: "华夏人寿－护身福两全保险（2014）", description: "护身福两全保险（2014）是一款“保障额度高、保费超值返”的意外保障产品，该产品保障范围除一般意外保障外，还包括自驾车、公共交通以及航空意外保障，保障范围非常广泛。以30周岁男性为例，购买两份护身福两全保险（2014），10年交费，每年仅需2370元，即可获得一般意外身故/全残保障20万，自驾车意外身故/全残保障100万，公共交通工具意外身故/全残保障200万，航空意外身故/全残保障500万。至75周岁满期如果未发生赔付，则返还已交保费的120%。"}
			]},
			{name:"年度责任保险产品", list: [
				{code: 901, name: "永安保险－代驾服务责任保险", description: "吃饭饮酒是国人的一项传统习惯，但法律却禁止人们酒后驾车，这使得驾车和饮酒变得无法调和，代驾职业也应运而生，但职业代驾人在为他人提供方便的同时，却加大了自身的风险与责任，而代驾服务责任保险的推出，圆满地解决了“鱼和熊掌不能兼得”的矛盾，也使职业代驾人对于可能发生的不测事故的赔偿责任无后顾之忧。"},
				{code: 902, name: "永安保险－诉讼财产保全责任保险", description: "诉讼财产保全是原告维护自身利益的一种有效手段，但原告对胜诉的期望和把握却可能出现误判，当原告最终败诉时，原本用来维护自身利益的诉讼财产保全手段反而会演变为对被告利益的侵害，并导致被告对原告保全财产损失责任的追索，使原告在经济赔偿方面面临压力，而诉讼财产保全责任保险的推出，很好地转嫁了原告诉讼误判时的财产保全赔偿责任风险，让原告在运用诉讼财产保全时变得更加从容。"},
				{code: 903, name: "都邦保险－“乐业安民”系列餐饮娱乐场所责任保险激活卡", description: "产品特点：1组合责任保险产品；2保险责任面广泛；3可选择保险保障范围；4适用小微服务企业；5保障社会公众6投保方式灵活。乐业安民系列ABC三款保险卡分为全面型、经典型、专注型，提供公众责任+火灾爆炸责任+食品安全责任的可选式保险保障，可通过网络或电话激活的方式随时投保。本保险产品适用于各类型餐厅、便利型大众餐饮市场、冷饮业、宾馆、酒店等餐饮住宿类场所；以及咖啡厅、歌舞厅、演艺厅、迪厅、KTV、音乐茶座、台球、高尔夫球、保龄球场、游戏厅、游艺场所等娱乐场所，对来往顾客提供三者责任保障。"},
				{code: 904, name: "平安产险－平安代驾人责任保险", description: "随着互联网代驾平台的出现，私人代驾业务逐渐兴起，并逐渐成为代驾领域的新一轮发展趋势，目前在互联网代驾市场上已经出现滴滴代驾、安师傅代驾、E代驾等多个互联网代驾平台，深入推进了互联网代驾的发展。在深入研究互联网代驾领域风险，并充分了解代驾服务人员、车主的需求后，平安产险开发了行业首款针对个人的代驾人责任的保险产品。这款险围绕着大家期间可能发生的各种风险和责任，以代驾人责任形式为以下风险提供保障：（一）在代驾期间发生车损的对车主赔偿责任；（二）在代驾期间发生交通事故而需要三者人伤或物损的赔偿责任（三）在代驾期间发生交通事故而对车上人员的人身伤亡的赔偿责任。这款产品承保代驾人在提供代驾服务过程中因发生车辆损失、三者损失和车上人员伤亡而产生的代驾人赔偿责任，旨在保障车主及其他受害人的利益，并有效降低了代驾领域中的服务纠纷，提升了代驾人服务水平，共同推动互联网代驾行业的发展。该产品是平安产险在互联网下场景下的又一次积极创新，代驾人在接单的同时投保即可，将保险融合至代驾服务场景之下，通过场景下化的模式进保险产品的创新。"},
				{code: 905, name: "安邦产险－太阳能光伏组件25年期产品质量及功率补偿责任保险", description: "本保险适用于经政府有关部门批准生产，符合国家以及进口国相关同类产品的质量检测标准，并在全球范围内销售的光伏组件产品。投保简单:依法设立并生产或销售上述产品的企业，可作为本保险合同的投保人和被保险人。上述产品的购买者或消费者是本保险合同的权利人。保险期长:除另有约定外，保单期间为一年，保险期间为二十五年，以保险单上载明的起讫时间为准。未来保障:本保险只负责保单期间内投保的光伏组件在未来保险期间内由于发生本合同约定保险责任事故而产生的损失。"},
				{code: 906, name: "安邦产险－诉讼财产保全责任保险", description: "诉讼财产保全，是指法院审理案件时，在作出判决前为防止当事人（被告）转移、隐匿、变卖财产，依职权对财产作出的保护措施，以保证将来判决生效后能得到顺利执行。具体措施一般有查封、扣押、冻结。财产保全分为诉讼中财产保全和诉讼前财产保全，由于诉讼前财产保全风险较高，我司仅承保诉讼中财产保全。诉讼中财产保全，是指人民法院在受理案件之后、作出判决之前，对当事人的财产或者争执标的物采取限制当事人处分的强制措施。我司诉讼财产保全责任险仅为民事案件中的原告方提供保险（保证）。 "},
				{code: 907, name: "大地保险－诉讼财产保全责任保险", description: "诉讼财产保全是指原告担心被告在法院判决前转移财产，为保护自己胜诉后的权益，向法院提交的诉讼财产保全申请，是一种保护自己合法利益的措施。但若原告败诉，则原告可能面临被告的反诉讼，原告依法将对自己错误的诉讼财产保险申请承担赔偿责任。所以，法院为了保护被告的权益，要求原告在提请诉讼财产保全时必须提交一定的担保。诉讼财产保全责任保险是原告与保险公司签订的保险合同，是原告提给法院作为担保的保单，转移原告败诉后依法应承担赔偿责任的风险。诉讼财产保全责任保险介入诉讼实践，既是保险创新，又是司法创新。发展诉讼财产保全责任保险对于推进依法治国、促进司法公正与效率、落实司法两便原则、充分发挥保险的社会“稳定器”和经济“助推器”作用，具有重要的意义。"},
				{code: 908, name: "人保财险－机动车延长保修保险", description: "中国汽车新车销量的持续下滑和汽车经销商库存压力的增加，使得汽车经销商在新车销售方面进一步面临亏损的压力，中国汽车已经进入后市场时代，售后利润成为汽车经销商的主要利润来源。2014年全国新车销量增速只有6.86%，2015年上半年则进一步下滑到1.43%。而机动车延长延保作为锁定车主、提高售后利润的重要手段，受到汽车经销商、生产商和保险公司的广泛重视。到目前为止，基本上所有的汽车生产商都推出延长保修服务，大多数经销商也都在涉足这一领域。而汽车延保具有的省心、省钱、保值的作用，也受到消费者的认可。汽车延保市场发展迅速。为满足广大汽车消费者的需要，以及众多汽车经销商要求代理销售的需求，我们开发了“机动车延长保修保险”。同时，我们还将在电销、网销、经销商、个人代理人等多个渠道投放该产品。这个产品和车辆保险一起，将为个人提供从事故碰撞维修到车辆故障维修的全面风险保障，具有极大的潜力。"},
				{code: 909, name: "人保财险－云计算服务责任保险", description: "在“互联网+”的国家战略背景下，国务院多个文件中要求重视云计算的发展工作，支持云计算服务创新和商业模式创新。云计算服务责任保险作为保险业适应科技创新的保险服务功能拓展，是保险产品创新和服务创新的具体体现，开创了我国云保险的先河。该产品为云服务商最大程度的转移风险，转移云用户因云服务商服务中断与数据丢失造成的损失。能有效解除云用户的后顾之忧，推动云计算服务的普及，让更多的用户有信心使用云计算技术服务，促进云计算产业的快速发展。"},
				{code: 910, name: "安华农业－农牧业机械责任保险", description: "随着经济的快速增长和国家农机购置补贴政策的拉动，农机保有量迅猛增长，为农业机械化提供了物资保障，同时也给农机安全生产带来了很大压力。为了积极贯彻《国务院关于促进农业机械化和农机工业又好又快发展的意见》（国发〔2010〕22号）的精神，我公司研发了农牧业机械责任保险，该产品对农牧业机械使用过程中造成的第三者和操作人员的人身损害责任负责赔偿。该险种有利于化解农机生产企业的产品责任风险，有效保护产品消费者的合法权益，对完善农机使用风险保障体系，降低农机事故对农业生产的影响产生积极意义。"},
				{code: 911, name: "安华农业－养老机构综合责任保险", description: "在老龄化程度加深的背景下，国内养老服务产业快速发展，但同时养老机构因意外伤害事故导致的财产损失呈逐年上升态势，给养老机构运营带来很大压力。为了积极贯彻《民政部、中国保监会、全国老龄办关于推进养老机构责任保险工作的指导意见》（民发〔2014〕47号)的精神，我公司研发了养老机构综合责任保险，该产品对养老机构因意外事故造成的人身损害承担赔偿责任。该险种有利于提升养老机构的责任意识和风险意识，降低运营风险，为维护老年人的合法权益提供保险保障。"}
			]},
			{name:"年度机动车辆保险产品及服务", list: [
				{code: 1001, name: "安盛天平－车损险", description: "安盛天平车损险有三种选择，能满足不同驾驶经验以及保障需求的客户，新手可以选择车损一切险（除外责任形式，责任免除没有规定的，就属于保险责任，保险责任>综合险＋盗抢＋玻璃＋划痕），一般客户可以选车损综合险，经验丰富的老司机可以选车碰车（保费便宜45%，保障机动车与机动车之间的碰撞事故）。而且更低廉的价格以及更全面的保障（同等价格的车损综合险及车损一切险包含了自燃涉水险种）"},
				{code: 1002, name: "大地保险－大地通保APP", description: "大地通保APP是中国大地保险推出的为车险客户提供全生命周期服务的创新服务平台。大地通保APP以客户为中心，以移动互联为载体，以用户体验为目标，向公司客户提供自助承保、自助理赔、保单赔案信息查询、多种增值项目等全方位立体化服务。其中，一键报案支持客户自动识别、定位，结合自助查勘服务可为出险客户提供全程便捷的在线理赔服务，解决保险客户理赔痛点；一键续保、在线支付结合公司移动工具，为客户提供便捷多样的在线承保服务通道；违章查询和专享服务功能为客户提供差异化的增值服务资源。"},
				{code: 1003, name: "人保财险－车联网客户一体化服务", description: "随着车联网技术的发展，充分运用先进工具和技术收集驾驶行为相关信息、积累关键数据，提升车险产品定价与精细化管理能力。公司从2014年开始，为客户安装1.5万台驾驶行为记录仪，通过收集从人从车动态数据，为客户提供驾驶行为风险分析、车辆的状态信息、实时位置及周边环境信息、车辆续保和救援等相关信息与服务，提升客户满意度。通过建立车联网平台，在集中运营、风险定价以及客户服务等方面进行积极的探索。"},
				{code: 1004, name: "人保财险－机动车置换费用补偿保险", description: "GAP保险作为欧美汽车金融保险市场的主流产品之一，通过灵活的支付方式和巧妙的产品设计，以银行机构、金融公司等主体对消费者的承诺为前提，补偿车主因车辆发生全损或推定全损事故后的一定费用，仅欧洲地区保费规模即达到几十亿欧元。经充分调研，该产品在国内市场空间同样巨大。我司与法国安盛保险集团联合研发了GAP保险并定位为费用补偿类产品，以银行、金融公司、经销商或厂商作为投保人及被保险人，目前已中标两个项目，保费空间巨大。"}
			]},
			{name:"年度互联网保险产品", list: [
				{code: 1101, name: "永安保险－航旅纵横航班延误综合保险B款", description: "该产品是永安保险携手航旅纵横、滴滴打车、微信支付共同推出一款互联网产品---微信内闭环体验式航班延误保险。客户可以通过两种方式购买该产品：一是使用滴滴打车去机场，上车后会收到滴滴推送的航班延误险购买链接；二是关注“延误险”公众号，在公众号内购买。实现了客户在微信内投保，并根据系统实时显示的航班延误状态自动进行理赔，赔款通过微信红包支付，客户可以即时使用该微信红包赔款在机场商铺进行消费。"},
				{code: 1102, name: "永安保险－网络支付账户资金损失保险", description: "伴随着互联网应用范围的扩大，移动支付方式也逐渐成为人们日常生活中普遍的支付方式，但是各类互联网交易过程中隐藏着账户信息及资金被盗风险，该产品正是为网络支付账户内的资产或权益损失提供风险保障的产品，相当于网络交易的保护盾。"},
				{code: 1103, name: "平安产险－平安“放心淘”网购保险", description: "日前，网络购物消费者投诉案件频发，为保障消费者在网购过程中的合法权限，我司针对淘宝平台，开发了平安“放心淘”网购保险产品。该产品的投保人为在淘宝平台销售商品的卖家，被保险人为购买卖家商品的消费者。针对卖家在保险期间内销售的商品，消费者在收到商品后，因与卖家就所购商品的退货退款事宜产生争议，如果卖家拒绝退货且消费者在本保险合同约定的时间内发起索赔申请，并按约定将商品寄回我公司的，我公司负责向消费者赔偿商品货款损失。购买保险的卖家，其商品会标注“放心淘”标识，同时，淘宝平台也会为其引导更多的流量。消费者在卖家拒绝退货的情形下，在收到商品的30日内可向我司发起理赔流程，并将商品寄回我司，则我司向消费者赔偿货款损失，理赔均在淘宝平台进行，流程简便、方便客户。保费根据卖家上期的销售额或本期预计的销售额测算。目前，我司针对淘宝的部分类目、部分优质卖家销售该产品，后期可根据赔付、经营结果对类目、卖家进行调整。"},
				{code: 1104, name: "平安产险－平安租赁机动车驾驶人责任保险", description: "随着新兴互联网租车平台的兴起，P2P租车业务成为了市场上新型的租车模式，受到广大车主和客户的关注，目前我国市场上已经有宝驾租车、PP租车、凹凸租车等多个P2P租车平台。P2P租车本质是一种私家车自驾共享模式，即私家车车主或者汽车租赁公司将处于闲置状态的私家车或者待出租车辆出租给其身边需要用车的租客，从而让闲置的汽车资源出租给需要用车的人。在实际操作中，P2P租车模式重点在于依托互联网平台，私家车车主在租车平台中注册并发布车辆租赁信息，租客据此租赁车辆，所有流程均通过手机APP线上操作完成，属于互联网下的创新租车模式。在深入分析P2P租车过程中可能遇到的风险基础上，平安产险与P2P租车行业领先平台宝驾租车开展深入合作，为配合P2P租车行业的新兴发展开发了行业首款P2P租赁机动车驾驶人责任保险，为P2P租车共享业务保驾护航。这款险围绕着租车期间可能发生的各种风险和责任，通过租客责任形式提供了以下三个方面的保障内容：（一）租客在租车期间发生车损或全车被盗抢后的对车主赔偿责任；（二）租客在租车期间发生交通事故而需要三者人伤或物损的赔偿责任（三）租客在租车期间发生交通事故而对车上人员的人身伤亡的赔偿责任。通过租车人责任险，平安产险为车主、租客和受害人提供全面的风险保障机制，与P2P租车平台共同挖掘这一新兴市场需求，推动互联网场景化保险产品的开发。而在定价和投保方式上，这款产品创新性的将保费与P2P租车平台的租车费用直接挂钩，保费按照租车费用的一定比例收取，充分做好保费与风险、租金挂钩，并实现在租车订单下单流程中直接投保，将保险嵌入到了租车场景之中，极大地简化了投保流程和提升客户体验。未来，平安产险将深入挖掘互联网创新场景下的风险需求和保险创新点，深入与更多互联网合作，推进互联网场景化产品的开发。"},
				{code: 1105, name: "中德安联－安联随心飞航空保障计划", description: "为提升官方微信公众服务平台“安联在线”的客户感受，公司专门开发了一款“随时投保，即时生效”的产品——“安联随心飞航空保障计划”，可在微信号上直接投保。候机时间从容选择，保障计划随心选择。从出生14天到85岁，均可投保。保障期间从一天到一年，保费最低4.5元起，即可享有100万的航空意外高额保障。保障内容涵盖意外、医疗，保障范围从机舱延伸到机场，包括候机、转机、摆渡车。偶尔旅行的游客，可以选择仅投保一天，经常出差的商务人士，可选择一年期一次性投保。"},
				{code: 1106, name: "新华保险－i相伴重大疾病保障计划（升级版）", description: "i相伴重大疾病保障计划（升级版）专门针对18周岁-50周岁的具备健康意识的人士设计，最高可保至80岁。全面涵盖45种重大疾病，具备重疾身故双重保障；投保时无须体检，可在网上快捷实现投保、支付、即时核保，最快次日零时即可生效。该产品性价比较高，作为费率市场化后的自主定价产品，保费更加低廉；此外，如果用户平平安安至合同期满，还可返还130%所交保险费作为用户的养老基金，一站轻松投保即可实现养老、储蓄、重疾保障功能。"},
				{code: 1107, name: "渤海人寿－福禄永益A款年金保险（万能型）", description: "不仅提供最低收益保证，还可以享受到高收益，同时提供保单贷款功能，满足客户的资金周转需求，持有满1年后退保的，不收取退保费用。客户满65岁，可每年领取年金，满足养老需求。"},
				{code: 1108, name: "渤海人寿－渤海人寿e-御风行交通意外伤害保险", description: "交通工具覆盖广泛，意外保障全方位。产品覆盖飞机、火车、轮船、出租车、地铁等多种交通工具意外伤害责任，给予客户全面的保障；保障内容灵活制定，高保额、低保费，最高保额可至200万元，在同业产品中具有较强的竞争力。"},
				{code: 1109, name: "人保财险－酒店取消保险", description: "酒店取消保险，专门针对计划预定酒店的消费群体量身设计。承保致使指定入住的客人无法按期使用酒店服务，而取消所预订的客房，且按照该酒店的规定无法退回住宿定金或押金，造成被保险人预付房费的损失或信用卡担保金额的损失。已先后在艺龙、去哪儿、携程、同城、穷游等多个旅行预定网站上线销售，深的广大客户的喜爱，2015年截至三季度，实现签单保费超过1235万元。"},
				{code: 1110, name: "安华农业－情人宝", description: "情人节是一个浪漫的季节，是所有爱人们的狂欢季。您可以送心爱的她（他）鲜花、糖果甚至是钻戒，那太缺乏新意，我们为您另辟蹊径，为您的她（他）送上满含浓浓爱意的贴心保障。本着以互联网思维研发保险产品的理念，我公司借助情人节这一契机，推出了情人宝疾病住院手术津贴保险，通过保险的方式让爱在家人、亲人、爱人之间传递，该产品采用互联网销售的营销模式，条款通俗易懂，交易方便快捷，迎合了消费者的购买需求，为更多的人群构筑爱的保障。"},
				{code: 1111, name: "安华农业－门神保", description: "家庭财产保险是我国开展业务比较早的险种之一，但在保险业日渐繁荣的大环境下，家财险的市场份额呈逐年萎缩的态势。在互联网保险蓬勃发展的一年，我公司抓住春节这一传统佳节契机，推出了门神保系列产品，对传统的家财险进行了优化，同时结合春节期间的风险特点与交通工具意外险搭配组合，通过微信投保的方式销售，将传统的风险与现代化的互联网销售模式相结合，使传统的险种焕发了新的活力。该险种根据春节期间返乡过年人群的自身特点进行产品设计来匹配其需求，具有针对性强、交易快捷便利、保险期间短、保费价格低廉的特点。"}
			]},
			{name:"年度创新保险产品", list: [
				{code: 1201, name: "永安保险－ 蚂蚁微贷小额贷款资产类证券化金融产品保证保险（东证资管-蚂蚁小微（SZ）资产支持专项计划专用）", description: "该产品以蚂蚁微贷公司转让的信贷资产为基础资产，为其资产证券化产品的优先级受益凭证购买人提供投资风险保障的保险产品，既可以解决小额贷款保证保险存在的障碍，又可以帮助阿里小贷公司解决贷款资金安全性保证的问题，从另外一个层面促进小微企业和个体经营户的融资需求。"},
				{code: 1202, name: "永安保险－金融机构贷款损失保险", description: "贷款是金融机构的基本业务之一，但金融机构的贷款和利息同样面临着无法收回的风险，特别是在利率市场化背景下，金融机构的买方市场地位在悄然发生着变化，其信贷风险会进一步加剧，而金融机构贷款损失保险产品的推出，较好地满足了金融机构转嫁贷款风险损失的需求，对保证信贷资金安全、促进经济发展具有重要作用。"},
				{code: 1203, name: "中英人寿－乐颐康癌症疾病保险", description: "老年人专属癌症保障计划，50-75岁均可投保；保险利益涵盖原位癌、癌症、特定癌症、身故、全残，全方位为父母的晚年生活保驾护航；罹患原位癌提前给付25%保额，及早进行治疗，提高治愈几率；罹患特定癌症（肺癌/肝癌/胃癌/前列腺癌/乳腺癌/子宫颈癌）赔付保额150%，提供充足治疗费用；多种保险期间及缴费期间组合，可根据父母年龄及个人经济状况，选择最满意的保障计划。"},
				{code: 1204, name: "平安产险－平安装修工程延迟保险", description: "平安产险不只是将互联网简单作为保险的一种销售渠道，而是做为业务创新的来源，设计开发满足互联网用户需求的个性化保险产品。装修行业乱想丛生，纠纷众多，业主们对于装修工期、装修质量问题普遍存在担忧，例如，装修工程延迟交付，会对业主的入住计划等生活安排产生影响。但装修与生活息息相关，平安产险以解决业主所担心的装修问题为出发点，携手土巴兔（第三方装修平台）设计开发了装修工程延迟保险。在装修期间，若由于装修公司的责任造成装修质量问题，导致所投保的装修工程的实际交付日期超过装修合同中约定的竣工日期，且逾期天数超过保险单载明的免责期的，我公司按保险合同的约定负责赔偿。同时，该保险产品理赔与土巴兔合作，装修合同约定装修交付时间、实际交付时间、延迟交付原因等信息将由土巴兔平台及其监理全程监控，为产品的可行性提供保障，实现跨界合作。平安产险还将继续推出其他相关装修类保险产品，搭建与客户、装修公司多赢的第三方良性装修生态圈，为国内装修市场的良性发展做出更大贡献。"},
				{code: 1205, name: "安邦产险－太阳能光伏电站综合运营保险", description: "保障全面:该产品为太阳能光伏电站企业提供运营期一切险、太阳辐射发电指数保险和营业中断电费收入损失险为一体的综合性企业财产保险，为光伏电站电力输出和营业收入不足风险和极端天气带来的日照减少风险提供全方位保障。责任可选:条款由电站运营期物质损失部分、太阳辐射发电指数部分、营业中断电费收入损失部分和通用条款四部分组成。电站运营期物质损失部分和太阳辐射发电指数部分为必须投保的项目，投保人可选择投保营业中断电费收入损失部分。"},
				{code: 1206, name: "中荷人寿－中荷一生呵护终身重大疾病保险(DDL)", description: "中荷一生呵护终身重大疾病保险(DDL)为客户所想，为客户提供全面周全的健康保障。更划算，让客户花最少的钱即可获得42种重大疾病的健康保障；更全面，让客户同时获得重大疾病保障及轻症重疾保障双重保护；更长久，让客户终身都能安心享有贴心的健康保障。"},
				{code: 1207, name: "吉祥人寿－鸿利年年年金保险", description: "吉祥人寿鸿利年年年金保险专为具有不同层次保险理财需求的人群研发，具有即交即领回报快、年金万能双增值、进出灵活随心意、保单贷款好周转的特点。产品创新的将年金险与附加万能账户结合，生存年金进万能账户，账户资金复利二次增值、且可追加或领取，实现教育、养老、家庭资产增值、资金管理等保险理财功能。产品开发创新性融入“互联网+”概念，借助互联网工具，实现微信、官方网站万能保费追加和部分领取、保单自助保全等服务，通过终端增值服务开创了年金保险创新模式。"},
				{code: 1208, name: "英大泰和－英大太阳能光伏组件25年期产品质量及功率补偿责任保险", description: "中国作为全球最大的光伏电池生产国，光伏电池产量占全球总产量的三分之一，其中九成以上的产品用于出口。国内的太阳能电池生产企业对于出口产品质量责任保险的需求非常迫切。英大财险顺应市场需求，在国内率先开发“太阳能光伏组件25年期产品质量及功率补偿责任保险”，目前累计保费5000万元，全国市场份额排名第一位。该创新产品的开发上线，通过保险第三方的介入，使得单一的价格竞争变成良性的市场竞争，使得大型光伏企业的产品更具有竞争力，自然淘汰中小光伏企业，削减中小光伏企业对行业的价格威胁并同时解除其质量风险，稳固大型企业的市场地位， 打造中国光伏品牌。"},
				{code: 1209, name: "渤海人寿－恒顺安康恶性肿瘤疾病保险", description: "该产品是一款专门提供癌症保障的疾病保险产品，除提供肺癌、肝癌等100多种癌症全面保障外，更专门针对男女高发的三种特定癌症提供1.5倍基本保险金额保障，保障全面、贴心。除具备高额保障功能外，该产品同时具有返还功能，若被保险人“无癌而终”，将按照被保险人身故时合同累计已交纳保险费（不计利息）与被保险人身故时合同现金价值的较大者给付身故保险金。该产品突破一般投保年龄范围的限制，最高可放宽至75周岁，老年人也能买，保险期间长达终身，尽力提升癌症保障力度。在交费方式上，客户可选择趸交、5年交、10年交或20年交。该产品还针对不同人群定位了“孝心版”、“关爱版”、“自强版”三个版本，可以为整个家庭的每位成员提供癌症保障。积极响应国家保险费率改革政策的号召，尽己所能让利于消费者，使得该产品价格极具市场竞争力，做到实惠，买得起。"},
				{code: 1210, name: "大地保险－汽车承租人责任保险", description: "该险种于2014年底推出，在保险行业内属创新型产品。目前已与国内3家主要的P2P租车平台建立了合作关系，保费收入超过400万元，处于业内领先地位。该险种承保汽车承租人在租车过程中由于疏忽或过失致使出租人遭受损失所应承担的经济赔偿责任，包括汽车损失及第三者责任，免除了租车双方对发生交通事故后经济赔偿纠纷的担忧，促进了p2p租车交易的达成，适应并支持了新兴的分享型经济产业的发展。"},
				{code: 1211, name: "昆仑健康－金祥宁终身重大疾病保险", description: "1、无等待期，180天内初次确诊，即可获得所交保费120%的赔付； 2、设计更人性化，提供原位癌等5种特定疾病保障； 3、保障范围更广，提供60种重大疾病保障； 4、赔付额度更高，最高赔付三倍基本保险金额； 5、健康服务更具特色。"},
				{code: 1212, name: "人保财险－个人账户资金安全保险", description: "个人账户资金安全保险，一份保险保障多个账户，被保险人名下的存折、银行卡、网银账户、经中国人民银行批准的支付机构账户（简称第三方支付账户）、其他经保险人同意承保的个人账户、以被保险人为持卡人的信用卡附属卡都在承保标的范围以内，几乎涵盖了个人所有使用资金的渠道；银行卡被盗刷、盗取或转账，网银账户被盗用，第三方账户被黑，不幸被胁迫将银行卡交给他人使用等统统承保，完全解决了客户的资金安全后顾之忧。"},
				{code: 1213, name: "人保财险－企业账户资金安全保险", description: "当前，越来越多的企业可以像个人一样使用银行卡实现跨行应用，因盗刷、盗用、复制而导致企业资金遭受损失的概率越来越大，企业账户资金安全保险可为企业客户的账户提供全面保障，企业名下的基本存款账户、企业一般存款帐户、企业专用存款账户和企业临时存款账户、单位银行卡、网银账户、第三方账户均可保，同样保障在企业员工被歹徒胁迫的状态下，将企业账户号码及密码透露给他人导致企业的资金损失。"},
				{code: 1214, name: "人保财险－中小微企业安福保组合保险产品", description: "中小微企业安福保组合保险产品是为全国广大销售型中小微企业量身打造的一款综合性保险保障产品。在充分考虑全国销售型中小微企业的行业特点、区域差异和经营特点等维度的基础上，为中小微企业客户提供了基本险和综合险两款保障方案，客户可根据自身实际风险需求，选择其一进行投保。同时，产品方案中，根据企业所处经营地点不同，差异化厘定了三款收费方案，投保企业根据自身所属行业正确选择缴费标准。"},
				{code: 1215, name: "人保财险－合同履约保证保险", description: "随着我国经济改革力度的加大、法制建设的逐步完善，合同诚信问题已受到社会的广泛关注。该产品通过保险方式将合同违约风险转嫁，以保险公司的信誉减少合同各方的成本及相关风险，具有广阔市场前景。2015年公司从满足互联网金融领域增信需求出发，与蚂蚁金服、京东金融、宜信公司等互联网金融平台公司合作，以合同履约保证保险产品有效保障了平台投资人的投资收回风险。该险种2015年1-9月实现保费收入2555万元，保险金额31.99亿元。"},
				{code: 1216, name: "人保财险－金融机构贷款损失信用保险", description: "随着我国经济进入结构转型期和调整期，银行等金融机构不良贷款压力逐渐增大，亟需有效的风险转嫁手段控制不良资产规模。与贷款保证保险不同，该产品由金融机构主动将其所发放的贷款风险进行投保。如果贷款出现逾期，可由保险公司以赔款形式予以补偿，从而帮助其对自身的贷款资金安全进行保障，强化内部风险管控。因此，该产品在当前经济环境下具有广阔的市场前景。该险种2015年1-9月实现保费收入3.24亿元，保险金额72.02亿元。"},
				{code: 1217, name: "人保财险－25年光伏质量保证保险", description: "响应国务院鼓励金融支持企业走出去的号召，满足市场需求，向光伏组件企业提供长达三十年的质量和功率保证保险，为我国企业开拓海外市场、获得融资机构的信任提供了有力保障，我司研究开发了光伏太阳能长期功效保证保险产品，承保被保险人在保险单载明的期间内生产、销售并投保的产品，由于原材料缺陷、制造缺陷、工艺不善，导致产品质量和产品功率两类损失，保险人根据保险合同责任进行赔偿。"},
				{code: 1218, name: "人保财险－鸡蛋、玉米期货价格保险产品", description: "鸡蛋、玉米期货价格保险依托期货市场价格发现和套期保值的基本功能，对冲鸡蛋和玉米的市场价格波动风险，该产品开创性地实现了保险与期货两大金融领域的精准跨界融合。一是可以有效将农户、农企组织起来，把保险、期货对接起来，将农产品现货市场集聚的价格风险精准地“消化”在波澜壮阔的“金融活水”中，能够极大缓解各级政府农产品价格补贴的财政压力。二是大胆与精巧地解决了传统价格保险缺乏风险对冲机制导致“越走越窄”的先天缺陷，能够更广领域、更大规模、更深层次打开保险业的风险敞口。"},
				{code: 1219, name: "太保寿险－优生优育疾病保险", description: "该产品紧密结合国家计生政策,通过保险提高民众优生意识和风险防范能力，重视预防出生缺陷，鼓励和引导孕妇产前筛查，加强出生缺陷干预，以达到降低新生儿出生缺陷的目的，深化生育关怀行动。产品专门针对育龄妇女，提供能涵盖胎儿（新生儿）发病率比较高且可产前筛查的三大类共三十二个病种保障，如唐氏综合症、神经管畸形、先天性心脏病、先天性耳聋、甲状腺功能低下、苯丙酮尿症等疾病等，并设置差异化赔偿金额有效引导和促进优生优育。"},
				{code: 1220, name: "平安健康－平安抗癌卫士医疗保险", description: "1. 国内首款“得了癌症还可以继续买”的防癌险。终身最高可赔100万，最低只需要130元/年起。 2. 社保内外的费用都可报销，包括靶向药、进口药、中草药，还可去三甲医院的特需部、国际医疗部。 3. 互联网渠道投保，无需体检，只需回答3个健康问题，几分钟内即可完成投保。"},
				{code: 1221, name: "人保财险－鸡蛋、玉米期货价格保险产品", description: "鸡蛋、玉米期货价格保险依托期货市场价格发现和套期保值的基本功能，对冲鸡蛋和玉米的市场价格波动风险，该产品开创性地实现了保险与期货两大金融领域的精准跨界融合。一是可以有效将农户、农企组织起来，把保险、期货对接起来，将农产品现货市场集聚的价格风险精准地“消化”在波澜壮阔的“金融活水”中，能够极大缓解各级政府农产品价格补贴的财政压力。二是大胆与精巧地解决了传统价格保险缺乏风险对冲机制导致“越走越窄”的先天缺陷，能够更广领域、更大规模、更深层次打开保险业的风险敞口。"},
				{code: 1222, name: "平安健康－平安母婴卫士医疗保险", description: "（1）既保母亲又保孩子 • 保障范围包括孕妇流产、孕妇妊娠疾病、新生儿先天性疾病、新生儿疾病身故，大人小孩一起保，产前产后都有保障。（2）不问原因流产即赔 • 保障范围内无论何种原因导致的流产都能得到赔付。（3）孕前孕中都可投保 • 年龄在20至45周岁，未怀孕或已怀孕但孕周未满28周的女性都可投保。（4）保费低、投保便捷 • 最低5元/年起，免体检投保，回答两题健康告知即可。"},
				{code: 1223, name: "安华农业－河蟹养殖保险", description: "河蟹是我国最重要的淡水蟹类，其味道鲜美，营养丰富，具有很高的经济价值。近年来河蟹的养殖范围和规模迅速扩大，已成为各主产地的特色产业，给养殖户带来了良好的经济效益，但同时也面临着多种多样的灾害风险。我公司研发的该款保险产品对自然灾害和极端高温造成的损失承担赔偿责任，在河蟹养殖业的主产地引起了较好的反响，在很大程度上满足了当地特色养殖业的保险需求，对推动水产品养殖业可持续发展和保障养殖户的切身利益方面具有积极意义。"},
				{code: 1224, name: "安华农业－牧区草原生态羊综合保险", description: "农产品质量安全是公民重要的安全权之一，其关乎公民身体健康和生命安全，加强农产品质量安全工作，有利于农业结构调整，提高农产品质量，促进农业产业化发展。我公司研发的牧区草原生态羊综合保险，实现了“互联网+”和牲畜业保险的结合，拓宽了农产品保险的销售和服务渠道，配合农产品质量安全可追溯体系的建设，为农产品从生产到加工直至销售的全过程产业链提供保险保障。该产品涵盖因自然灾害等原因造成的牲畜死亡及牲畜制成产品的质量责任，将传统的农业保险与质量保证保险相结合，为农产品的质量和食品安全提供保险保障，对提升农牧业产品的质量和水平，推动农牧业产业化持续健康发展具有积极意义。"}
			]}
		];
		var openid = "";
		var userinfo = "";

	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="#{url}libs/js/min/riot.js")
	script(src="#{url}libs/js/min/Zepto.min.js")
	script(src="#{url}libs/js/min/fastclick.min.js")
	//- script(src="/libs/js/min/cityData-min.js")
	script(src="#{url}libs/js/min/layzr.min.js")
	script(src="js/tag.js")
	script(src="js/main.js")
	script.
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?97647f9cd8b3ab0dea00394d1c3ed3aa";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();