extends ../libs/jade/layout-clean

block title
  | 科颜氏

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
  //- link(rel="stylesheet",href="//image.giccoo.com/projects/libs/font/Interstate Regular.css")
  //- link(rel="stylesheet",href="/libs/font/YRDZST-Heavy.css")
  //- link(rel="stylesheet",href="css/yrd-Medium.css")
  link(rel="stylesheet",href="css/base.css")

  //- script(async src="https://www.googletagmanager.com/gtag/js?id=UA-66865226-1")
  //- script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-66865226-1');
    
  //- script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();

  //- script(src="//image.giccoo.com/projects/libs/js/min/vconsole.min.js")
  //- script.
    var vConsole = new VConsole();
    console.log('VConsole open');
  

block content
  //- url = "//image.giccoo.com/projects/starbucks";
  - url = ".";
  //- .qrcode#qrcode
    .qr
      img(src="#{url}/img/qrcode.png")
      .text 请使用手机扫描二维码参与活动
  //- .public#public
    player(icon="true",src="#{url}/mp3/bgm.mp3",loop="true")
      //- .note-text
        img(src="#{url}/img/bgm-text.png")
    //- .player(:class="{play: playing, pause: !playing}",@click="playing = !playing")
      .icon-play(:class="{play: playing, pause: !playing}")
    //- transition(name="page-fade")
    //-   .note-text(v-show="note")
    //-     p 点击铃铛打开声音<br/>获得更好体验效果

  .load#load
    .content#loading(v-show="mounted",style="display: none")
      //- .box
      //- .text-content
      .bottle
        img(src="#{url}/img/loading-frame.png")
        .bg
          img(src="#{url}/img/loading-bg.png")
        .wave(:style="{transform: 'translate3d(0,-'+(progress/3*1.6)+'%,0)'}")
          .img
            img(src="#{url}/img/loading-wave.png")
          .img
            img(src="#{url}/img/loading-wave.png")

      p.centeralign Loading {{progress}}%
  
  .main#main(v-show="mounted",:class="{biger: biger, smaller:smaller}",:style="{width: w+'px',height: h+'px'}",style="display: none")
    //- transition(name="page-fade")    
      .logo(v-show="logo")
        img(src="#{url}/img/logo.png")
    transition(name="page-down")
      .note-message(v-show="noteShow",@click="noteShow = false")
        .note-text {{noteText}}

    transition(name="page-fade")
      .loading-page(v-show="loading")
        .ball-spin-fade-loader
          div
          div
          div
          div
          div
          div
          div
          div

    transition(name="page-fade")
      .page.page-1(v-show="pageIndex == 1")
        .content
          .clouds
            .cloud.cloud-1
              .cl
                img(src="#{url}/img/cloud1.png")
            .cloud.cloud-2
              .cl
                img(src="#{url}/img/cloud2.png")
            .cloud.cloud-3
              .cl
                img(src="#{url}/img/cloud3.png")
          .homepage-icon
            .icon.bounceIn.animated.delay-7
              img(src="#{url}/img/homepage-icon.png")
            .tree.fadeIn.animated.delay-5
              img(src="#{url}/img/homepage-tree.png")
            .btn.bounceIn.animated.delay-9(@click="start")
              img(src="#{url}/img/btn-start.png")
            .btn-info.bounceIn.animated.delay-11(@click="rankingShow = true") 查看排行榜
    transition(name="page-fade")
      .page.page-3(v-show="pageIndex == 3")
        .content
          .logo
            img(src="#{url}/img/hitpage-logo.png")
          .texts
            .text
              p.fadeInUp.animated.delay-3 TA在科颜氏极限冲浪挑战赛中
              p.fadeInUp.animated.delay-5 共获得了<span>{{score}}</span>分
              p.fadeInUp.animated.delay-7 成功战胜了全国<span>全国{{hit}}%</span>的玩家！
              p.fadeInUp.animated.delay-9 在挑战极限的路上
              p.fadeInUp.animated.delay-11 科颜氏高保湿面霜和你一起超越自我
          .btn(@click="start")
            img(src="#{url}/img/btn-hit.png")
          //- .btn-info.bounceIn.animated.delay-11(@click="rankingShow = true") 查看排行榜
    transition(name="page-fade")
      .page.page-2(v-show="pageIndex == 2",:class="{blur: rankingShow}")
        .content
          #ugc

    transition(name="page-fade")
      .pop.pop-register(v-show="registerShow")
        .content
          .bg
            img(src="#{url}/img/pop-bg.png")
          .box
            .title
              img(src="#{url}/img/pop-title.png")
            .form
              .form-group
                input(type="text",placeholder="点击输入姓名",v-model="nickname")
            .title-sex
              img(src="#{url}/img/pop-title-sex.png")
            .sexs
              .item.male(:class="{on: (sex == 1)}",@click="sex = 1")
                img(src="#{url}/img/pop-male.png")
              .item.female(:class="{on: (sex == 2)}",@click="sex = 2")
                img(src="#{url}/img/pop-female.png")
            .btn(@click="startGame")
              img(src="#{url}/img/btn-select.png")

    transition(name="page-fade")
      .pop.pop-note(v-show="shareNotePage",@click="shareNotePage = false")
        .content
          img(src="#{url}/img/sharenote.png")

    transition(name="page-fade")
      .pop.pop-ranking(v-show="rankingShow",:class="{end: gameEnd}")
        .content
          .title
            img(src="#{url}/img/ranking-title.png")
            p 共获得了<span>{{score}}</span>分
            p 成功战胜了<span>全国{{hit}}%</span>的玩家！
          .ranking-title
            img(src="#{url}/img/ranking-title-sub.png")
          ul.ranking-list
            li(v-for="v,index in list",:class="{on: v.id == insertId}")
              span.numb No.{{index+1}}
              span.name {{v.nickname}}
              span.score {{v.score}}分
          .btns
            .btn.btn-reload(@click="regame")
              img(src="#{url}/img/btn-regame.png")
            .btn.btn-share(@click="shareWeb")
              img(src="#{url}/img/btn-share.png")
          .btn-close(@click="rankingShow = false")
            img(src="#{url}/img/icon-close.png")




    //- transition(name="page-fade")
    .pop.flashcamera(v-show="ugcShow")
      .content
        .small-size
          .close(@click="closeUGC")
            img(src="#{url}/img/icon-close.png")
          img(:src="ugc")
          .note 长按保存图片


block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.3.2.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/fastclick.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/pixi-sound.js")
  script(src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/qrcode.min.js")
  script(src="//image.giccoo.com/projects/genki/js/music-jssdk-1.0.5.js")
  script(src="//image.giccoo.com/projects/genki/js/ntes.id.js")
  //- script(src="/libs/js/min/bump-min.js")
  script(src="js/public_funciton.js")
  script(src="js/build.js?v=1")
  script(src="js/main.js?v=1")
  script(src="js/ani.js?v=1")

  



  
