extends ../libs/jade/layout-clean

block title
  | 型者本色X音乐先声

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  //- link(rel="stylesheet",href="//image.giccoo.com/projects/libs/css/animate.min.css")
  //- link(rel="stylesheet",href="//image.giccoo.com/projects/libs/font/Interstate Regular.css")
  //- link(rel="stylesheet",href="/libs/font/YRDZST-Heavy.css")
  //- link(rel="stylesheet",href="css/yrd-Medium.css")
  link(rel="stylesheet",href="css/base.css")
    
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-66865226-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-66865226-1');
  //- script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  //- script(src="//image.giccoo.com/projects/libs/js/min/vconsole.min.js")
  //- script.
    var vConsole = new VConsole();
    console.log('VConsole open');
  

block content
  //- url = "//image.giccoo.com/projects/BMW";
  - url = ".";
  //- .qrcode#qrcode
    .qr
      img(src="#{url}/img/qrcode.png")
      .text 请使用手机扫描二维码参与活动
  //- .public#public
    player(icon="true",loop="true",src="#{url}/mp3/bgm.mp3")
    //- .player(:class="{play: playing, pause: !playing}",@click="playing = !playing")
      .icon-play(:class="{play: playing, pause: !playing}")
    //- transition(name="page-fade")
      .note-text(v-show="note")
        p 建议打开手机声音<br/>获得更好体验效果

  //- .load#load
    .content#loading(v-show="mounted",style="display: none")
      p.centeralign LOADING {{progress}}%
  
  .main#main(:class="{biger: biger, smaller:smaller}",:style="{width: w+'px',height: h+'px'}")
    transition(name="page-down")
      .note-message(v-show="noteShow",@click="noteShow = false",:class="{error: noteType}",style="display: none")
        .note-text {{noteText}}

    transition(name="page-fade")
      .loading-page(v-show="loading",style="display: none")
        .ball-spin-fade-loader
          div
          div
          div
          div
          div
          div
          div
          div

    transition(name="page-zoom")
      .page.page-1(v-show="pageIndex == 1")
        .content
          .banner
            img(src="#{url}/img/banner.jpg")
            .video-box
              mp4(v-if="videoTime",@play="playVideo",src="//image.giccoo.com/projects/test/tvca1.mp4",poster="#{url}/img/poster.jpg",controls="true",playsinline="true")
              .video.icon-play(v-if="!videoTime",@click="showNote")
                img(src="#{url}/img/poster.jpg")
              .video-title
                img(src="#{url}/img/video-title.png")
          .music
            img(src="#{url}/img/music.png")
            player(v-if="videoTime",@play="playMusic",fill="#fff",src="//image.giccoo.com/projects/emoji/mp3/bgm.mp3")

            .player.pause(v-if="!videoTime",@click="showNote")
              .icon-play.pause
                svg(height='100%', version='1.1', viewBox='0 0 36 36', width='100%')
                  use.ytp-svg-shadow(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#ytp-id-39')
                  path.ytp-svg-fill(fill='#fff', d='M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z')
                svg(height='100%', version='1.1', viewBox='0 0 36 36', width='100%', style='display: none;')
                  use.ytp-svg-shadow(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#ytp-id-40')
                  path.ytp-svg-fill(fill='#fff', d='M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z')

            .gif
              img(src="#{url}/img/music.gif")
          .register
            //- .bg
              img(src="#{url}/img/form-bg.jpg")
            .title
              img(src="#{url}/img/title.png")
            form-grounp.form(v-bind:form="form",v-on:submit="submit")
              .form-group.type-checkbox
                .checkbox
                  input#allow(type="checkbox",name="allow",v-model="allow")
                label.text(for="allow") 我已阅读并接受个人信息保护
                  a(href="http://www.bmw.com.cn/zh/footer/imprint-overview/legal-disclaimer.html")
                    .icon.icon-file
                    | 法律声明
          a.banner-bottom(href="http://www.bmw.com.cn/content/dam/bmw/marketCN/campaign/2019/1series-sedan/MSP.html")
            img(src="#{url}/img/banner-bottom.jpg")
          

block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.3.2.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/jquery.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/pixi-sound.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
  //- script(src="//image.giccoo.com/projects/libs/js/min/qrcode.min.js")
  script(src="//image.giccoo.com/projects/genki/js/music-jssdk-1.0.5.js")
  script(src="//image.giccoo.com/projects/genki/js/ntes.id.js")
  //- script(src="/libs/js/min/bump-min.js")
  //- script(src="js/ajap.min.js")
  //- script(src="js/public_funciton.js")
  //- script(src="js/build.js?v=1")
  script(src="js/main.js?v=1")
  //- script(src="js/ani.js?v=1")



  



  
