extends ../libs/jade/layout-clean
block title
	| 知乎·北鼻版


block css
	meta(name="author",content="m.giccoo.com")
	//- link(rel="stylesheet",href="../libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css?v=4")
	script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();

block content
	// - url = "http://image.giccoo.com/projects/friso/"
	- url = "./"
	
	.wechat-share-hide
		img#share(src="http://image.giccoo.com/projects/friso/img/share.jpg")
	
	.main.mobile
		.banner
			img(src="img/m-banner.jpg")
			.logo
				img(src="#{url}img/m-logo.png")
			playsound.playsound(src="http://image.giccoo.com/projects/friso/mp3/rap.new.mp3",icon="true",iconplay="http://image.giccoo.com/projects/libs/img/audio-play.png",iconstop="http://image.giccoo.com/projects/libs/img/audio-stop.png")
		.tabs#tabs.t1
			.tab.tab-1.on
			.tab.tab-2
			.bg
				.tab-bg-1
					img(src="#{url}img/tab-1.png")
				.tab-bg-2
					img(src="#{url}img/tab-2.png")
		.tab.tab-1.on
			.message
				.message-item
					p 妈妈，超人的妈妈也给他冲奶奶吗？
					p.name
						span @禹战诚
				.message-item.right
					p 天上的雪花是不是牛奶冰沙做的？
					p.name
						span @Bonita是少女啊
				.message-item
					p 牛妈妈长得都「一样」，小牛是怎么找到妈妈的呢？
					p.name
						span @活了给额西宁
				.message-text
					p 睡前喂奶时，你被宝宝怎样的天真问题萌倒过？「天真问·认真答」第二季，皇家美素佳儿继续支持宝宝探索珍贵奥秘，用最萌脑洞打开牛奶的神奇世界。
				p.center
					a.outlink(href="https://www.zhihu.com/question/65195977")
						img(src="./img/m-iwask.png")
			.line        
				img(src="#{url}img/m-line.png")
			.ten-q
				img(src="#{url}img/new-title.png")
			.q-list
				list.new-list
			.footer
				img(src="#{url}img/m-footer.jpg")
		.tab.tab-2
			.age
				.age-box
					p 关于喝奶，宝宝们的提问脑洞大开，而妈妈最关心的，是给宝宝最好的营养。为何母乳是婴儿最好的食物？母乳中含有哪些天然营养无可替代？皇家美素佳儿邀请生物学、化学、营养学等多领域优秀回答者，全方位了解母乳中的「天然营养」。
			.news
				.news-item
					.news-header
						.avatar
							img(src="#{url}img/avatar-1.png")
						.desc
							.name 李昌
							.subtitle 资深工程师
					.news-content
						h1 母乳中的天然中短链脂肪酸，对宝宝有什么益处？
						p 人们谈到脂肪就「色变」，其实脂肪对人体意义非常重要。脂肪中的中短链脂肪酸，对于宝宝的大脑发育、肠道健康都起到怎样重要的作用？天然中短链脂肪酸，又有哪些与众不同之处？
					a.outline(href="https://zhuanlan.zhihu.com/p/36188149")
						img(src="#{url}img/btn-new-more.png")
				.news-item
					.news-header
						.avatar
							img(src="#{url}img/avatar-2.png")
						.desc
							.name 初夏之菡
							.subtitle 在悉尼从事食品安全与营养工作
					.news-content
						h1 乳磷脂如何让奶粉从「达标」到更接近母乳营养？
						p 乳磷脂是一种听起来有些陌生的物质，但它在母乳中却扮演着重要角色。那么，乳磷脂究竟是什么？它的作用有哪些？以及人工配方奶粉又是如何对此进行模拟的？
					a.outline(href="https://zhuanlan.zhihu.com/p/36149483")
						img(src="#{url}img/btn-new-more.png")
				.news-item
					.news-header
						.avatar
							img(src="#{url}img/avatar-3.png")
						.desc
							.name 孙亚飞
							.subtitle 资深食品工程师，科普作者
					.news-content
						h1 母乳中的天然「OPO类似结构脂」为什么珍贵？
						p 母乳是天然也是婴儿最珍贵的第一口哺育，选择一款接近母乳成分。为什么说OPO类似脂肪结构是模仿母乳的关键营养素？而天然OPO类似结构脂和人工合成的OPO分子精确还原结构，营养上有什么区别？
					a.outline(href="https://zhuanlan.zhihu.com/p/36008839")
						img(src="#{url}img/btn-new-more.png")
				.news-item
					.news-header
						.avatar
							img(src="#{url}img/avatar-4.png")
						.desc
							.name 李雷
							.subtitle 中国科学院生物学博士
					.news-content
						h1 解密天然乳脂：母乳为何是宝宝的「黄金食物」？
						p 母乳中的脂肪给婴儿提供了生长发育所需的50%能量，且吸收率极佳。无疑是宝宝的「黄金食物」。在母乳条件受限的情况下，为什么说天然乳脂是我们模拟母乳的关键？
					a.outline(href="https://zhuanlan.zhihu.com/p/35918303")
						img(src="#{url}img/btn-new-more.png")
				.news-item
					.news-header
						.avatar
							img(src="#{url}img/avatar-5.png")
						.desc
							.name 筑室
							.subtitle 文创工作者，职场复工妈妈
					.news-content
						h1 复工妈妈不要慌，教你怎么给宝宝选营养
						p 妈妈都对孩子怀有各种各样的期望。对我来说，最大的期望是孩子拥有强健的身体和精神，能去到他想去的任何地方。复工转奶期间，如何完美衔接母乳的营养，为宝宝的成长保驾护航？
					a.outline(href="https://zhuanlan.zhihu.com/p/36188174")
						img(src="#{url}img/btn-new-more.png")
			.footer
				img(src="#{url}img/m-footer-2.jpg")

	.pop
		.content
			.close
				img(src="#{url}img/pop-close.png")
			img(src="#{url}img/pop-new-1.jpg")
			a.more(href="http://frisowechat.rfc-china.com/Friso/WECHATTRIAL201803/IndexZhiHu.aspx?topenid=zhihuopenid&pagefrom=zhihu")
				img(src="#{url}img/pop-new-2.jpg")
			img(src="#{url}img/pop-new-3.jpg")
			//- img(src="#{url}img/m-pop-close.png")
		//- .banner
		//- 	img(src="#{url}img/m-pop-banner.png")
		//- .video
		//- 	video(width=640,height=360,poster="#{url}img/m-pop-video.jpg",src="http://image.giccoo.com/projects/friso/video/pc.mp4",controls="true",preload="none",webkit-playsinline,playsinline)
		//- .pop-text
		//- 	h3 皇家美素佳儿
		//- 	p 100%荷兰原装进口，来自荷兰自家牧场，新鲜直取皇家第一道奶源<sup>**</sup>，由“食品硅谷”荷兰瓦赫宁根研究中心75年科技突破，解密1:25<sup>*</sup>天然营养精华，凝萃三大天然珍稀营养，延续母爱力量，助力宝宝多方位成长，和妈妈拥有更多珍贵体验。
		//- 	h4 皇家美素佳儿，因珍稀而珍贵。
		//- .pop-free
		//- 	a(href="https://tb.cn/EaTKhaw")
		//- 		img(src="#{url}img/m-pop-free.png")
		//- .pop-focus
		//- 	a(href="https://www.zhihu.com/org/frisomei-su-jia-er-63")
		//- 		img(src="#{url}img/m-pop-focus.png")
		//- .pop-legal
		//- 	img(src="#{url}img/m-pop-legal.png")
	

block js
	- url = "/"
	script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/riot.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/jquery.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/localforage.min.js")
	script(src="/libs/js/tags/playsound.js")
	script(src="js/friso.js?v=4")
	script(src="js/main.js?v=4")
	
