extends ../libs/jade/layout-ng
block title
	| 情暖冬日 为爱"虾"厨
block css
	link(rel="stylesheet",href="/shrimp/css/base.css")
	script.
		function showLoad() {
			 document.getElementsByClassName('loading-logo-bg')[0].style.display = 'block';
		}

block content
	div.wechat-share-hide
		img(src="http://m.giccoo.com/shrimp/img/share.jpg")
	div.wrap(ng-controller="MainController")
		div.hideView
		div.view-animate(ng-view)
		div#loading.loading.loaded
			div.loading-logo
				div.loading-logo-bg(style="display:none")
				img(src="../libs/img/loading.png",onload="showLoad()")
	div.qrcode
		div.text 建议您使用手机浏览
		img(src="../libs/img/qr.jpg")


block ng-template
	script(type="text/ng-template",id="home.html")
		a(href="#/select")
			img(src="img/first-frame.png")

	script(type="text/ng-template",id="select.html")
		div.game
			div.plane-list(ng-hide="selectFinished")
				div.plane.selectShrimp(ng-show="select.shrimp",ng-hide="select.movend")
					img(src="img/plane.png")
					div.title
						img(src="img/title-shrimp.png")
					div.shrimp-list
						-for (var i=1;i<4;i++)
							span(ng-click="select.selectShrimp(#{i})",ng-class="select.Shrimplist[#{i-1}]")
								img(src="img/shrimp-live.png")
				div.shrimp-moving(ng-hide="select.movend")
					-for (var i=1;i<4;i++)
						span.movingShrimp(ng-class="select.Shrimplist[#{i-1}]")
							img(src="img/shrimp-live.png")
				div.plane.selectVegetable(ng-show="select.movend")
					img(src="img/plane.png")
					div.title
						img(src="img/title-vegetable.png")
					div.vegetable-list
						-var vegetable = ["Broccoli","Carrot","Garlic","Green-pepper","Mushroom","Red-pepper"]
						-for (var i=0;i<vegetable.length;i++)
							span(ng-click="select.selectVegetable(#{i})",class="vegetable-#{vegetable[i]}",ng-class="select.Vegetablelist[#{i}]")
								img(src="img/vegetable-#{vegetable[i]}.png")
				div.vegetable-moving
					-for (var i=0;i<vegetable.length;i++)
						span.movingVegetable(class="vegetable-#{vegetable[i]}",ng-class="select.Vegetablelist[#{i}]")
							img(src="img/vegetable-#{vegetable[i]}.png")
			div.plane-game(ng-show="selectFinished")
				div.note
				div.game-canvas
					div.timer(ng-class="select.blur")
						img(src="img/timer.png")
						span {{select.TimerText}}
					div.score(ng-class="select.blur")
						img(src="img/score.png")
						span {{select.ScoreText}}
					div.progress(ng-class="select.progress")
						img(src="img/progress-bg.png")
						div.progress-green(ng-class="select.RandomProgress")
							div.line
							div.line.end
						div.timer-shrimp
							img(src="img/timer-shrimp.png")
			div.Stoves(ng-class="select.blur")
				img(src="img/stoves-bg.png")
				div.ScoreList
					div.score-item-up
						img(src="img/score-up.png")
					div.score-item-down
						img(src="img/score-down.png")
				div.Deadshrimp(ng-show="select.fireon")
					- for (var i=0;i<3;i++)
						span(class="s#{i} shrimp-item")
							img(src="img/shrimp-dead.png")
				div.flame(ng-show="gameStar")
				//- ,ng-click="select.CheckShrimp()"
				div.stove(ng-class="select.rock")
					img(src="img/stoves.png")
			div.note(ng-show="selectFinished && !gameStar",ng-click="select.GameStar()")
				img(src="img/note.png")

	script(type="text/ng-template",id="share.html")
		div.shareWechat(ng-show="share.shareWechat",ng-click="share.showWechat(false)")
			
		div.plane
			div.success-img
				img(src="img/success-img.png")
			img(src="img/plane.png")
			div.title
				img(src="img/title-success.png")
			div.star-list
				-for (var i=0;i<5;i++)
					span(class="star#{i}")
						img(src="img/star.png")
			div.success-text
				img(src="img/success-text.png")
			div.btns
				div.sharePlane(ng-show="share.sharePlane")
					img(src="img/share-plane.png")
					span.wechat(ng-click="share.showWechat(true)") 微信分享
					a.weibo(href="",data-share="weibo") 微博分享
					a.qweibo(href="",data-share="qweibo") 腾讯微博分享
					a.douban(href="",data-share="douban") 豆瓣分享
				img(src="img/btns.png")
				div.shareplanebtn(ng-click="share.showPlane()")
				a.shareplanelink(href="http://kdt.im/OZRkFW1N")
		div.followus
			a(href="http://mp.weixin.qq.com/s?__biz=MzA3MTEzMjM3Mw==&mid=201960346&idx=1&sn=44f1f85dc8872fefce13ab70a2826499#rd")
				img(src="img/followus.png")
	
		


block js
	- var debug = ".min"
	//- - debug = ""
	script(src="/libs/js/Zepto.min.js",type="text/javascript")
	script(src="/libs/js/angular#{debug}.js",type="text/javascript")
	script(src="/libs/js/angular-route#{debug}.js",type="text/javascript")
	script(src="/libs/js/angular-touch#{debug}.js",type="text/javascript")
	script(src="/libs/js/angular-animate#{debug}.js",type="text/javascript")
	//- script(src="/libs/js/megapix-image.js",type="text/javascript")
	//- script(src="/libs/js/exif.js",type="text/javascript")
	script(src="/libs/js/preloadjs-0.4.1.min.js",type="text/javascript")
	script(src="/shrimp/js/base.js",type="text/javascript")