extends ../libs/jade/layout-clean
block title
	| 一首歌，一段老友情

block css
	meta(name="author",content="m.giccoo.com")
	link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
	link(rel="stylesheet",href="css/base.css")
	script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();

block content
	- url = "http://image.giccoo.com/projects/corona"
	//- - url = "."
	
	//- #load.loading(v-if="!loadend")
		.ball-spin-fade-loader
			-for (var i=0;i<8;i++)
				div

	audio#bgm(src="#{url}/mp3/bgm.mp3",loop="true",preload="auto")
	#page-image.page.page-view-img(v-show="show",style="display: none")
		a.back(href="http://m.giccoo.com/corona/")
			img(src="#{url}/img/icon-back.png")
		.content
			img#view-img
	#main.main(v-show="mount",style="display: none")
		.loading(v-show="loading")
			.text 努力上传中请稍后...

		.logo-main
			img(src="#{url}/img/logo.png")
		.player-fix
			.cursor(:class="{on: playing}")
				img(src="#{url}/img/music-touch.png")
			.record(:class="{on: playing}",@click="playbgm")
				img(src="#{url}/img/music.png")
		//- .page.page-animate#animate
			- var time = 25;
			.item.animte-frame-1
			.item.animte-frame-2
			.item.animte-frame-3
			.item.animte-frame-4
				.text
					img(src="#{url}/img/animate-bg-text.png")
				.sunlight
				.people
					img(src="#{url}/img/animate-2-2.png")
				#btn-build-show.text-1
					img(src="#{url}/img/animate-2-3.png")
				.text-2
					img(src="#{url}/img/animate-2-4.png")
				.text-3
					img(src="#{url}/img/animate-2-5.png")
		.page.page-home
			.btn.btn-enter(@click="animate = true,animatend = true")
			.text.f0
				img(src="#{url}/img/home-text.png")
		.page.page-animate#animate(v-show="animate")
			- var time = 25;
			.item.animte-frame-1
			.item.animte-frame-2
			.item.animte-frame-3
			.item.animte-frame-4
				.text
					img(src="#{url}/img/animate-bg-text.png")
				.sunlight
				.people
					img(src="#{url}/img/animate-2-2.png")
				#btn-build-show.text-1(v-show="buildshow == false",@click="if (!animatend) {buildshow = true}")
					img(src="#{url}/img/animate-2-3.png")
				.text-2(v-show="buildshow == false")
					img(src="#{url}/img/animate-2-4.png")
				.text-3(v-show="buildshow == false")
					img(src="#{url}/img/animate-2-5.png")
		transition(name="page-animation")
			.page.page-build(v-show="buildshow && buildstep == 1")
				.build.build-1
					.title.f0
						img(:src="'#{url}/img/page-build-music-title.png'")
					.input
						input(v-model="musicname",@focus="focus",@blur="blur")
					.title.f0
						img(:src="'#{url}/img/page-build-topic-title.png'")
					.input
						textarea(v-model="topic",@focus="focusArea",@blur="blurArea")
					.reload(@click="reload")
						img(:src="'#{url}/img/reload.png'")
					.btn.btn-next(@click="gobuild")
						img(:src="'#{url}/img/btn-next.png'")
					.btn.btn-pop(@click="pop = true")
						p * 活动奖品及细则
				.pop.fadeInUp.animated.duration-10(v-show="pop")
					.close(@click="pop = false")
						img(:src="'#{url}/img/close.jpg'")
					.content.touch.f0
						img(:src="'#{url}/img/pop-info.jpg'",v-if="pop")
						.texts
							h3 四、活动规则：
							p 1、2018年2月6日至2018年2月11日期间，用户可以通过网易云音乐平台的科罗娜H5参与互动，分享至社交平台，就有机会赢取奖品。（中奖机制为系统随机抽取）
							p 2、抽奖结果将在H5页面即时揭晓，填写中奖资料信息必须在2个小时以为完成否则视为放弃奖品，如有作弊者视为自动放弃领奖资格，如因任何原因未填写成功则将自动失去获奖资格。
							p 3、兑奖方式：
							p 主办方将会在活动结束后的40个工作日内，将相应奖品根据消费者填报的具体地址和信息发货。
							p 如主办方无法联系上中奖消费者领取以上奖项，则视消费者自动放弃获奖资格。
							h3 五、本次活动由百威英博（中国）销售有限公司主办。
							h3 六、领奖规则：
							p 1、 消费者在活动网站提交信息后用户将不能对个人信息进行修改，所有个人信息将作为获奖后领奖的凭证； 
							p 2、 本次活动奖品个人所得税由获奖者自理，活动主办方有权按照中华人民共和国个人所得税法的有关规定，代扣代缴获奖者在本次活动中依法应当缴纳的个人所得税；
							p 3、 所有奖品以实物为准，不得再行转让或用于任何其他商业目的，所有奖品仅限于个人使用，兑奖后不提供任何退换服务。
							h3 七、其他说明：
							p 1、 活动参与者理解并同意，活动参与者本人在参加本活动前已完整阅读了本活动规则（包括活动网站的规则）；对活动规则已完全理解并全部同意。活动参与者保证，在活动过程中，将完全遵照活动规则的规定参与活动；凡在本此活动中涉嫌使用不正当手段者，或主办方确有证据证明认为其有舞弊或其他不正当行为的活动参与者，主办方有权取消其参与活动、兑换奖品的权利。如有违反活动规则的恶意刷票、破坏等行为，会对涉事账号进行封号和取消活动资格处理。
							p 本活动仅限个人参与，参与者需年满 18 周岁（以本活动开始之日起为准），且具有完全民事行为能力。
							p 主办方承诺根据中华人民共和国相关法律法规的规定就参与方参加本次活动而提供的信息予以保密。
							p 获奖者需提供照片并同意其姓名、肖像等信息被用于活动网站及相关的活动展示，所有获奖者的姓名及地区信息将被公布，获奖者应按照主办方要求签署有关授权文件及与活动有关的必要文件，否则视为自动放弃中奖资格。
							p 参加活动的消费者如发现有任何舞弊、欺诈或非真实交易的情形，主办方有权取消该消费者的中奖资格。
							p 获奖者需经主办方工作人员核实真实有效的身份信息和获奖凭证方可获取奖品，如无法提供，则主办方有权拒绝兑奖。
							p 因获奖者提供的联系方式有误，导致无法联系，视为获奖者自行放弃获奖资格及由此产生之权利，主办方不予补偿。
							p 若有获奖者自行放弃获奖资格或存在上述被视为放弃获奖资格情形。
							p 主办方对本规则做出修改时，最新版本之规则将载于活动网站。主办方有权根据法律法规、司法或行政命令的要求以及活动的实际情况，在法律允许的范围内随时取消、中止或终止此次活动。
							p 10、对本次活动的任何参与应被视为参与者认知并完全理解，其将从事的任何活动或者接受的任何奖品可能存在着伤害（包括但不仅限于终身伤残和死亡）和社会/经济损失的风险，原因可能不仅来自参与者自己的作为、不作为或疏忽，也可能来自他人的作为、不作为或疏忽以及活动规则或者所使用之场地或任何设备的状况，而且，可能还存在参与者在此时尚不知晓或者无法合理预见的其他风险。活动参与者特此声明其承担与其参加本活动有关的任何和所有风险及其后果。活动参与者明确免除和放弃由于参加本活动或其他原因而可能享有的或者在此后所产生的,就人身伤亡或财产损害而对活动主办单位、主办人、任何活动赞助商及其各自的每一相关实体和关系企业、遗产管理人、代理人、高阶员工、所有人、员工、以及其他参加者(合称“被免责者”)提起的任何和一切损害赔偿要求。
							p 12、活动过程中出现“不可抗力”事件或计算机系统故障直接或间接地造成活动主办方无法履行其全部或部分义务，则活动主办方将免予履行该义务，并无需承担相应的责任。“不可抗力”事件包括但不限于，地震、台风、火灾、水灾、战争、法律法规调整、政府命令禁止、因黑客攻击、计算机病毒影响、系统崩溃、数据丢失或其他人为原因造成计算机系统故障，及其他自然或人为灾害等导致活动无法继续开展的，且活动主办方不可预见、无法避免并无法控制的事件。
						.blank
					.bg.f0
						img(:src="'#{url}/img/pop-bg.jpg'")
		transition(name="page-animation")
			.page.page-build-2.build-2(v-show="buildstep == 2")
				.logo.f0
					img(:src="'#{url}/img/build-logo.png'")
				.back(@click="buildstep = 1")
					.icon
						img(:src="'#{url}/img/arrow.png'")
					| 重新编辑
				.musicname {{musicnamefull}}
				.build-image.f0
					.bg
						img(:src="'#{url}/img/build-image.png'")
					ctrl-image.ctrl-image
						.preview
							img#preview-img(:src="'#{url}/img/p-1.jpg'")
				.left(@click="prevImage")
					img(:src="'#{url}/img/arrow.png'")
				.right(@click="nextImage")
					img(:src="'#{url}/img/arrow.png'")
				.topic(v-html="topichtml")
				.btn.btn-build(@click="buildimage")
					img(:src="'#{url}/img/btn-create.png'")
		transition(name="page-animation")
			.page.page-image(v-show="buildover")
				.back(@click="goback",v-if="postfail")
					img(src="#{url}/img/icon-back.png")
				.content
					.loading-text(v-show="!creatEnd") 正在生成中...
					canvas#result.fadeIn.animated(v-show="creatEnd")
					img.ugc(v-if="ugc",:src="ugcsrc")
		transition(name="page-animation")
			.page.share-note(v-show="shareNote",style="display: none",@click.stop="shareNote = false")
				img(:src="'#{url}/img/share-mark.png'")
				img.ugc(v-if="ugc",:src="ugcsrc")
		transition(name="page-animation")
			.page.share-note(v-show="shareNoteSys",style="display: none",@click.stop="popshow")
				.close(@click.stop="shareNoteSys = false")
					img(:src="'#{url}/img/icon-close.png'")
				img(:src="'#{url}/img/share-image.png'")
				img.ugc(v-if="ugc",:src="ugcsrc")

		transition(name="page-animation")
			//-  && award != "" && award > 0 ,style="display: none"
			.page.last-page(v-show='lastpage')
				.logo
					img(:src="'#{url}/img/award-logo.png'")
				.box
					.fail(v-show="noaward",style="display: none",@click="window.location.reload()")
						img(:src="'#{url}/img/award-faild-text.jpg'")
					.success(v-show="haveaward && register == false && registertext == false",style="display: none",@click="register = true")
						.award-text 恭喜您获得: <br/> {{awardText}}
						img(:src="'./img/award-success-text.jpg'")
					.register(v-if="haveaward && register")
						h2 请填写您的详细信息
						form.form#register(v-on:submit.prevent="onSubmit")
							input(v-model="form.code",type="hidden")
							input(v-model="form.random",type="hidden")
							.form-grounp
								label(for="username") 姓名:
								input(v-model="form.username")
							.form-grounp
								label(for="mobile") 手机号码:
								input(v-model="form.mobile")
							.form-grounp
								label(for="address") 详细地址:
								input(v-model="form.address")
							.form-btn
								button.submit(type="submit")
									img(:src="'img/submit.jpg'")
					.text(v-show="registertext",style="display: none")
						img(:src="'#{url}/img/award-send-text.png'")

block js
	- url = "/"
	script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
	//- script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/exif.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/vue.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/axios.min.js")
	//- script(src="/libs/js/min/jquery.min.js")
	script(src="js/main.js")
	



	
