qa
	- var images = "http://disk.giccoo.com/projects/qa/img"
	// - var images = "img"
	.question
		img(src="#{images}/question.png")
		.num {question.id}
		.count
			span.num {question.id}
			| /{questions.length}
		.text {question.question}
	.answers
		ul
			li(each="{item in question.answers}",onclick="{selectAnswer(item)}")
				span.check
					img(src="#{images}/check.png")
				| {item}
	.btns
		.next(if="{now != questions.length-1}",onclick="{nextQuestion}")
			img(src="#{images}/btn-next.png")
		.restart(if="{now == questions.length-1}",onclick="{restart}")
			img(src="#{images}/btn-restart.png")
		.done(if="{now == questions.length-1}",onclick="{done}")
			img(src="#{images}/btn-done.png")
	a.banner(href="{question.link}")
		img(src="{question.banner}")

	script.
		var self = this
		this.questions = _QUESTION
		this.now = 0
		this.question = this.questions[this.now]
		this.selected = -1
		this.answer = []

		selectAnswer(item) {
			//- console.log($(evt.target).parent("li"))
			return function() {
				//- console.log()
				var n = self.question.answers.indexOf(item)
				self.selected = n
				$(".answers li",self.root).removeClass("on")
				$(".answers li",self.root).eq(n).addClass("on")
			}
		}

		nextQuestion() {
			if (self.selected < 0) {
				return SendNote("请选择本题答案")
			}
			this.answer.push(self.selected)
			self.selected = -1
			self.now++
			//- if (self.now >= )
			self.question = self.questions[self.now]
			self.update()
			$(".answers li",self.root).removeClass("on")
		}

		restart() {
			self.selected = -1
			self.now = 0
			self.answer = []
			self.question = self.questions[self.now]
			self.update()
			$(".answers li",self.root).removeClass("on")
		}

		done() {
			if (confirm("提交后不能修改答案,确定要提交吗?")) {
				//- 
				this.answer.push(self.selected)
				POST(self.answer)
			}
		}





