extends ../libs/jade/layout-ng

block title
	| 羊年抓羊财
block css
	link(rel="stylesheet",href="/ccb/css/base.css")
	script.
		function showLoad() {
			 document.getElementsByClassName('loading-logo-bg')[0].style.display = 'block';
		}

block content
	div.wechat-share-hide
		img(src="#{url}ccb/img/share.png")
	div.wrap(ng-controller="MainController")
		div.hideView
		div.view-animate(ng-view)
		div#loading.loading.loaded
			div.loading-logo
				//- div.loading-logo-bg(style="display:none")
				//- img(src="#{url}../libs/img/loading.png",onload="showLoad()")
				.loading-normal
					img(src="#{url}libs/img/loading-normal.png")
		
	div.qrcode
		div.text 建议您使用手机浏览
		img(src="#{url}ccb/img/qr.png")


block ng-template
	script(type="text/ng-template",id="home.html")
		audio#audiobg(src="#{url}ccb/mp3/audio-bg.mp3",autoplay,loop)
		.homepage(ng-show="starPage")
			.bg
				.move
					img.bgimg(src="#{url}ccb/img/bg.jpg")
			.mubus
				.mubu(ng-class="shakeYYY")
					-for (var i=0;i<11;i++)
						.yyy(class="y#{i}")
							.body
								.jump
									img(ng-src="#{url}ccb/img/{{src}}.png")
							.money
								.y1
									img(src="#{url}ccb/img/y1.png")
								.y2
									img(src="#{url}ccb/img/y2.png")
			.ctrlPage
				a.pass(href="#/game")
					img(src="#{url}ccb/img/btn-pass.png")
				.sound(ng-click="closeSound()",ng-class="soundoff")
					img(src="#{url}ccb/img/icon-sound.png")
	script(type="text/ng-template",id="game.html")
		.game-page(ng-controller="GameController as game")
			audio#audioyyy(src="#{url}ccb/mp3/audio-yyy.mp3")
			audio#audiocoin(src="#{url}ccb/mp3/audio-coin.mp3")
			.weiban.pagechange(ng-show="game.weiban",ng-click="game.hideweiban()")
			.game(ng-hide="game.weiban")
				.gameStar.pagechange(ng-hide="game.gameBegin")
					.title
						.normal
							img(src="#{url}ccb/img/title.jpg")
						.special
							img(src="#{url}ccb/img/title-zhua.png")
					.subtitle
						img(src="#{url}ccb/img/subtitle.jpg")
					.star(ng-click="game.gameStar()")
						img(src="#{url}ccb/img/starbtn.jpg")
					.logo
						img(src="#{url}ccb/img/logo.jpg")
				.gameCanvas.pagechange(ng-show="game.gameBegin && !gameOver")
					//- .text Game Star
					.timer 剩余时间: {{game.timer}}秒
					.score {{game.score}} 元
					.item(ng-class="item.class",ng-style="item.style",ng-click="game.hitYYY(key)",ng-repeat="(key,item) in game.items")
						img(ng-src="#{url}ccb/img/{{item.name}}.png")
				.gameOver.pagechange(ng-show="gameOver")
					//- .text Game Over
					.title
						h1 太厉害了
						h2 一把抓到 {{game.score}} 元
					.subtitle
						p 财运指数超越了朋友圈 {{game.Transcend}}% 的人,<br/>一键分享羊年一起发!
					.btn
						img(src="#{url}ccb/img/sharebtn.jpg")
						div.sharebtn(ng-click="game.showShare()")
						div.regame(ng-click="game.regame()")
					.logo
						img(src="#{url}ccb/img/logo.jpg")
			.wechat.pagechange(ng-show="game.wechat",ng-click="game.showShare()")



block js
	- var debug = ".min"
	//- - debug = ""
	script(src="#{url}libs/js/min/Zepto.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular-route.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular-touch.min.js",type="text/javascript")
	script(src="#{url}libs/js/min/angular-animate.min.js",type="text/javascript")
	//- script(src="/libs/js/megapix-image.js",type="text/javascript")
	//- script(src="/libs/js/exif.js",type="text/javascript")
	//- script(src="/libs/js/min/preloadjs-0.4.1.min.js",type="text/javascript")
	script(src="/ccb/js/base.js",type="text/javascript")