extends ../libs/jade/layout-clean

block title
  | 你的颜值靠谱吗？

block css
  meta(name="author",content="m.giccoo.com")
  //- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
  link(rel="stylesheet",href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css")
  link(rel="stylesheet",href="css/base.css")
  script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();

block content
  - url = "//image.giccoo.com/projects/BobbiBrown";
  - url = ".";
  .qrcode#qrcode
    .qr
      img(src="#{url}/img/qrcode.png")
      .text 请使用手机扫描二维码参与活动

  //- .public#public
    player(icon="true",src="#{url}/mp3/bgm.mp3")
    transition(name="page-fade")
      .note-text(v-show="note")
        p 温馨提示：为了体验效果更佳<br/>建议打开音乐播放按钮

  .load#load
    .loading.fadeIn.animated#loading(v-show="mounted",style="display: none")
      .build
        img.buildmove(src="#{url}/img/loading-bg.png")
        .person
          img(src="#{url}/img/loading-person.png")
      .load-text
        span Loading..{{progress}}%
  
  .main#main(v-show="mounted",:class="{biger: biger}",style="display: none",:style="{width: w+'px',height: h+'px',backgroundColor: BGColor}")
    transition(name="page-fade")
      .loading-page(v-show="loading")
        .ball-spin-fade-loader
          div
          div
          div
          div
          div
          div
          div
          div

    transition(name="page-fade")
      .page.page-info(v-show="pageInfoShow")
        .content
          .model
            .head(@click="pageInfoShow = false")
              img(src="#{url}/img/pop-head.png")
            .model-content
              img(src="#{url}/img/pop-rule.png")
    transition(name="page-fade")
      .page.page-info(v-show="lotteryShow && !lottery")
        .content
          .model
            .head(@click="lotteryShow = false")
              img(src="#{url}/img/pop-head.png")
            .model-content.bigger
              img(src="#{url}/img/pop-faild.png")
              .btn.restart(@click="restart")
                img(src="#{url}/img/pop-restart.png")
              a.btn(href="http://www.baidu.com")
                img(src="#{url}/img/pop-buy.png")

    transition(name="page-fade")
      .page.page-info(v-show="lotteryShow && lottery")
        .content
          .model
            .head(@click="lotteryShow = false")
              img(src="#{url}/img/pop-head.png")
            .model-content(v-show="lotteryFormShow")
              img(src="#{url}/img/pop-title.png")
              form.form
                .form-group
                  label(for="username")
                    img(src="#{url}/img/icon-1.png")
                  input#username(placeholder="请输入您的姓名",type="text",v-model="form.username")
                .form-group
                  label(for="mobile")
                    img(src="#{url}/img/icon-2.png")
                  input(placeholder="请输入您的联系方式",type="text",v-model="form.mobile")
                .form-group
                  label(for="address")
                    img(src="#{url}/img/icon-3.png")
                  input(placeholder="请输入您的收货地址",type="text",v-model="form.address")
                .form-group
                  label(for="color")
                    img(src="#{url}/img/icon-4.png")
                  .select
                    span {{form.color}}
                    select(v-model="form.color")
                      option(selected) 0号 PORCELAIN瓷白
                      option 0.5号 WARM PORCELAIN暖瓷白
                      option 1号 WARM IVORY暖象牙
                      option 2号 SAND柔沙
              .btn-submit(@click="submit")
                img(src="#{url}/img/btn-submit.png")

            .model-content.bigger(v-show="!lotteryFormShow")
              img(src="#{url}/img/pop-success.png")
              a.btn(href="http://www.baidu.com")
                img(src="#{url}/img/pop-buy.png")

    transition(name="page-animation")
      .page.page-wait(v-show="!startgame")
        .title
          img(src="#{url}/img/wait-title.png")
        .btn.play(@click="startgame = !startgame")
          img(src="#{url}/img/btn-play.png")

    transition(name="page-animation")
      .page.page-game(v-show="startgame")
        .bg
        .content
          #game
          img.ugc(v-show="ugc && !wy",:src="ugc")
   

block js
  - url = "/";
  script(src="//res.wx.qq.com/open/js/jweixin-1.2.0.js")
  script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
  script(src="/libs/js/min/pixi-sound.js")
  script(src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
  script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
  script(src="/libs/js/min/bump-min.js")
  script(src="js/main.js?v=2")
  



  
