extends ../libs/jade/layout-clean
block title
	| 来自艾泽拉斯的召唤

block css
	meta(name="author",content="m.giccoo.com")
	link(rel="stylesheet",href="http://image.giccoo.com/projects/libs/css/animate.min.css")
	link(rel="stylesheet",href="css/base.css")
	script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
	//- script(src="//image.giccoo.com/projects/libs/js/min/vconsole.min.js")
	//- script.
	//- 	var vConsole = new VConsole();
	//- 	console.log('VConsole open');

block content
	- url = "http://image.giccoo.com/projects/zhihu-wow8";
	//- - url = ".";
	.main#main(v-show="mounted",:class="{biger: biger,smaller:smaller}",style="display: none",:style="{width: w+'px',height: h+'px'}")
		player(icon="true",src="#{url}/mp3/bgm.mp3")
		transition(name="page-fade")
			.page.page-home(v-show="pageIndex == 1")
				.content
					.logo.fadeIn.animated
						img(src="#{url}/img/logo.png")
					.texts.fadeIn.animated
						img(src="#{url}/img/texts.png")
					.btn.fadeIn.animated(@click="start")
						img(src="#{url}/img/btn-start.png")
					.orc.fadeInLeft.animated
						img(src="#{url}/img/orc.png")
					.human.fadeInRight.animated
						img(src="#{url}/img/human.png")
		transition(name="page-fade")
			.page.page-question(v-show="pageIndex == 2")
				.content
					.box
						.title Q{{questionID+1}}
						.question {{question.question}}
						.answers
							.answer(:class="{on: selectIndex == index}",v-for="item,index in question.answers",@click="selectItem(index)") {{item}}
		transition(name="page-fade")
			.page.page-answer(v-show="pageIndex == 3")
				.bg#ugc.fadeIn.animated
				.content
					.ugc
						img(:src="ugc")
					.logo
						img(src="#{url}/img/small-logo.png")
					.btns.fadeIn.animated(v-show="btnShow")
						.btn
							img(src="#{url}/img/btn-build.png")
							.ugc
								img(:src="ugc")
						.btn(@click="getBadge")
							img(src="#{url}/img/btn-get.png")
		transition(name="page-fade-fast")
			.pop(v-show="pop")
				.content
					.close(@click="pop = false")
						img(src="#{url}/img/icon-close.png")
					.zy
						.lm(:class="{on: lmbl}",@click="lmbl = true")
							img(src="#{url}/img/icon-lm.png")
						.bl(:class="{on: !lmbl}",@click="lmbl = false")
							img(src="#{url}/img/icon-bl.png")
					.text
						img(src="#{url}/img/text-select.png")
					.btn(@click="go")
						img(src="#{url}/img/btn-select.png")
		transition(name="page-fade")
			.pop(v-show="ugcPage")
				.box
					.close(@click="closeUGC")
						img(src="#{url}/img/icon-close-white.png")
					img.bg(:src="ugc")
					img.ugcsave(:src="ugcsave")
					p 长按图片保存





block js
	- url = "/";
	script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
	//- script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/vue.min.js")
	script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
	script(src="http://image.giccoo.com/projects/libs/js/min/TweenMax.min.js")
	script(src="js/main.js")

	
