extends ../libs/jade/layout-clean
block title
	| 我的爱情宣言

block css
	meta(name="author",content="m.giccoo.com")
	//- meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
	link(rel="stylesheet",href="//image.giccoo.com/projects/libs/css/animate.min.css")
	link(rel="stylesheet",href="css/base.css")
	//- script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();

block content
	- url = "//image.giccoo.com/projects/mbenz-love";
	- url = ".";
	//- #load.loading(:class="{hide:kill}")
		.full.animated.duration-7(:class="{fadeOut: !mount}")
			.content
				.line
					img(src="#{url}/img/loading-line.png")
					.texts(v-html="progressText")
						-for (var i=0;i<=9;i++)
							span(class="opc font font-#{i}") #{i}
						-;
						span(class="opc font font-last") %

	#main.main(v-show="mount",style="display: none",:style="{width: w+'px',height: h+'px'}",:class="{smaller: smaller}")
		.bgm(@click="play")
			audio#bgm(:src="musiclink")
			img(:src="'#{url}/img/audio-'+playing+'.png'")
			transition(name="page-fade")
				p.noteMsg(v-show="noteMsg") 为保证体验效果<br/>请打开音乐
		#nav.nav
			.logo
				img(src="#{url}/img/navbar.jpg")
				a.sj(href="https://special.mercedes-benz.com.cn/2018-dream-car/mobi/#e-cab")

		transition(name="page-animation")
			.page.page-home(v-show="pageIndex == 0",:class="{left: pageIndex >= 0}")
				.bg
					img(src="#{url}/img/page-home-bg.jpg")
				.content
					//- .texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=5;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-home-text-#{i}.png")
						-;
		transition(name="page-animation")
			- pageId = 1;
			.page(class="page-#{pageId}",v-show="pageIndex == #{pageId}",:class="{now: pageIndex == #{pageId},right: pageIndex < #{pageId},left: pageIndex > #{pageId}}")
				.bg
					img(src="#{url}/img/page-1-bg.jpg")
					.animations#stars
				.content
					.right(@click="moveNext")
					.texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=4;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-#{pageId}-text-#{i}.png")
						-;
					.btn.btn-start(@click="gameStart(#{pageId})")
		transition(name="page-animation")
			- pageId = 2;
			.page(class="page-#{pageId}",v-show="pageIndex == #{pageId}",:class="{now: pageIndex == #{pageId},right: pageIndex < #{pageId},left: pageIndex > #{pageId}}")
				.bg
					img(src="#{url}/img/page-2-bg.jpg")
					.animations
						.hair
							img(src="#{url}/img/page-2-hair.gif")
				.content
					.left(@click="movePrev")
					.right(@click="moveNext")
					.texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=4;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-#{pageId}-text-#{i}.png")
						-;
					.btn.btn-start(@click="gameStart(#{pageId})")
		transition(name="page-animation")
			- pageId = 3;
			.page(class="page-#{pageId}",v-show="pageIndex == #{pageId}",:class="{now: pageIndex == #{pageId},right: pageIndex < #{pageId},left: pageIndex > #{pageId}}")
				.bg
					img(src="#{url}/img/page-#{pageId}-bg.jpg")
					.animations
						.ball
							img(src="#{url}/img/page-3-ball.png")
				.content
					.left(@click="movePrev")
					.right(@click="moveNext")
					.texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=3;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-#{pageId}-text-#{i}.png")
						-;
					.btn.btn-start(@click="gameStart(#{pageId})")
		transition(name="page-animation")
			- pageId = 4;
			.page(class="page-#{pageId}",v-show="pageIndex == #{pageId}",:class="{now: pageIndex == #{pageId},right: pageIndex < #{pageId},left: pageIndex > #{pageId}}")
				.bg
					img(src="#{url}/img/page-#{pageId}-bg.jpg")
					.animations#rain
						
				.content
					.left(@click="movePrev")
					.right(@click="moveNext")
					.texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=4;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-#{pageId}-text-#{i}.png")
						-;
					.btn.btn-start(@click="gameStart(#{pageId})")
		transition(name="page-animation")
			- pageId = 5;
			.page(class="page-#{pageId}",v-show="pageIndex == #{pageId}",:class="{now: pageIndex == #{pageId},right: pageIndex < #{pageId},left: pageIndex > #{pageId}}")
				.bg
					img(src="#{url}/img/page-#{pageId}-bg.jpg")
					.animations
						.snow
							img(src="#{url}/img/page-#{pageId}-snow.gif")
				.content
					.left(@click="movePrev")
					.right(@click="moveNext")
					.texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=4;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-#{pageId}-text-#{i}.png")
						-;
					.btn.btn-start(@click="gameStart(#{pageId})")
		transition(name="page-animation")
			- pageId = 6;
			.page(class="page-#{pageId}",v-show="pageIndex == #{pageId}",:class="{now: pageIndex == #{pageId},right: pageIndex < #{pageId},left: pageIndex > #{pageId}}")
				.bg
					img(src="#{url}/img/page-#{pageId}-bg.jpg")
					.animations#cloud
						.mark
							img(src="#{url}/img/page-#{pageId}-mark.png")

				.content
					.left(@click="movePrev")
					.right(@click="moveNext")
					.texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=3;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-#{pageId}-text-#{i}.png")
						-;
					.btn.btn-start(@click="gameStart(#{pageId})")
		transition(name="page-animation")
			- pageId = 7;
			.page(class="page-#{pageId}",v-show="pageIndex == #{pageId}",:class="{now: pageIndex == #{pageId},right: pageIndex < #{pageId},left: pageIndex > #{pageId}}")
				.bg
					img(src="#{url}/img/page-#{pageId}-bg.jpg")
					.animations#dog

				.content
					.left(@click="movePrev")
					//- .right(@click="moveNext")
					.texts(:style="{top: navH+'%'}")
						-for (var i=1;i<=5;i++)
							.text(class="text-#{i} fadeInUp animated duration-#{i+5} delay-#{i+2}")
								img(src="#{url}/img/page-#{pageId}-text-#{i}.png")
						-;
					.btn.btn-start(@click="gameStart(#{pageId})")


		transition(name="page-fade")
			.page.page-regisiter(v-show="false && regisiterPageShow")
				.content
					form.form
						.form-title
							img(src="#{url}/img/form-title.png")
						.form-group
							label(for="username")
								img(src="#{url}/img/form-label-name.png")
							input#username(type="text",v-model="form.username")
						.form-group
							label
								img(src="#{url}/img/form-label-sex.png")
							.form-group-items
								.item
									input#man(type="radio",value="1",v-model="form.sex")
									label.text(for="man")
										img(src="#{url}/img/form-man.png")
								.item
									input#woman(type="radio",value="0",v-model="form.sex")
									label.text(for="woman")
										img(src="#{url}/img/form-woman.png")
						.form-group
							label(for="mobile")
								img#mobile(src="#{url}/img/form-label-mobile.png")
							input(type="text",v-model="form.mobile")
						.form-group
							label
								img(src="#{url}/img/form-label-p.png")
							.form-group-items
								.item.select
									span {{form.province != "" ? form.province : "请选择"}}
									select(v-model="form.province")
										option(value="") 请选择
										option(v-for="option in provinces" v-bind:value="option") {{option}}
								.item.c
									.text.big
										img(src="#{url}/img/form-label-c.png")
								.item.select
									span {{form.city != "" ? form.city : "请选择"}}
									select(v-model="form.city")
										option(value="") 请选择
										option(v-for="option in citys" v-bind:value="option") {{option}}
						.form-group
							label
								img(src="#{url}/img/form-label-de.png")
							.select
								span {{form.dealer != "" ? form.dealer : "请选择"}}
								select(v-model="form.dealer")
									option(value="") 请选择
									option(v-for="option in dealers" v-bind:value="option") {{option}}
						.form-group
							label
								img(src="#{url}/img/form-label-detail.png")
							.form-group-items.box
								.item
									input#detail(type="checkbox",value="1",checked,v-model="form.detail")
									label(for="detail") 我同意以上信息提交给主办方
						.form-btn(@click="submit")
							img(src="#{url}/img/btn-submit.png")
						.close(@click="regisiterPageShow = false")
							img(src="#{url}/img/form-close.png")

		transition(name="page-fade")
			.page.page-record(v-show="recordPageShow")
				.content
					#record.record(:class="{off: !recording,on: recording}")
						.mic
							img(src="#{url}/img/page-record-microphone.png")
						.progress
							.wrapper.r
								.circleProgress.rightcircle
							.wrapper.l
								.circleProgress.leftcircle


		transition(name="page-fade")
			.page.page-ugc(v-show="ugcPageShow")
				//- http://music.163.com/playlist?id=2222381288
				.bg#ugc
					//- img(:src="ugcbg")
				.content
					.mark(v-if="wy",@click="share")
					.mark(v-if="!wy")
						img(:src="ugc")
					.btns
						.btn.btn-reg(@click="regisiterPageShow = true")
							img(src="#{url}/img/btn-reg.png")
						a.btn.btn-music(href="http://music.163.com/playlist?id=2222381288")
							img(src="#{url}/img/btn-music.png")

block js
	- url = "/";
	script(src="//res.wx.qq.com/open/js/jweixin-1.2.0.js")
	//- script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="//image.giccoo.com/projects/libs/js/min/vue.min.js")
	script(src="//image.giccoo.com/projects/libs/js/min/pixi.min.js")
	script(src="//image.giccoo.com/projects/libs/js/min/Tween.min.js")
	//- script(src="/libs/js/min/jquery.min.js")
	script(src="//image.giccoo.com/projects/libs/js/min/axios.min.js")
	script(src="js/main.js?v=1")
	



	
