extends ../libs/jade/layout
block title
	| 青春食堂
block css
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")

block content
	- var images = "http://disk.giccoo.com/projects/dazhong/img"
	// - var images = "img"
	//- .wechat-share-hide
		img#share(src="http://disk.giccoo.com/projects/dazhong/img/share.jpg")
	.loading
		.img
			img(src="#{images}/loading.jpg")
			.text
				span.loadtext
					em#loading-text 0
					|  %
				br
				span LOADING
	.main
		.homepage
			-for (var i=1; i<7;i++)
				.food.fadeIn.animated.duration-10(class="food-#{i} delay-#{i*2}")
					img(data-src="#{images}/food-#{i}.jpg")
			.logo.fadeIn.animated.duration-15.delay-8
				img(data-src="#{images}/logo.png")

			.star.fadeInUp.animated.duration-10.delay-12(onclick="hidePage()")
				.item.rubberBand.animated.duration-10.delay-17
					img(data-src="#{images}/start.png")
		.otherpage
			playsound(src="mp3/bg.mp3",icon="true",icon-stop="img/icon-stop.png",icon-play="img/icon-play.png")
			.infopage.fadeIn.animated
				.bg
				.box
					img(data-src="#{images}/box.png")
				.content
					.logo
						img(data-src="#{images}/home-logo.png")
					.text
						img(data-src="#{images}/home-text.png")
					.star(onclick="starEat()")
						img(data-src="#{images}/button-eat.png")
			select-page.select-page
			.wechat.fadeIn.animated
				img(data-src="#{images}/wechat.png")
block js
	//- script(src="/libs/js/min/localforage.min.js")
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-68041469-2');
		ga('send', 'pageview');
		function ClickEvent(event,interaction) {
			event = event.toUpperCase();
			interaction=interaction||false;
			if (event.indexOf("BUT_") != -1) 
			{ try{ga('send', 'event', 'BUT', event, {'nonInteraction': interaction});} catch(err){}; }
			else 
			{ try{ga('send', 'pageview',event, {'nonInteraction': interaction});} catch(err){}; }
		}
		function loadWechat() {
			
		}
		(function(i,s,o,g,r,a,m){i['GiccooApiWechatConfig']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','http://api.giccoo.com/config?url='+encodeURIComponent(window.location.href.split("#")[0]),'ga');

	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="/libs/js/min/Zepto.min.js")
	script(src="/libs/js/min/fastclick.min.js")
	script(src="/libs/js/min/riot.js")
	script(src="js/tag.js")
	script(src="js/main.js")


